/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2014 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

.folder-tree {

    padding: 7px 0;
    overflow: auto;
    outline: 0;
    background-color: @foldertree-sidepanel-background;
    .user-select(none);

    .folder {

        line-height: 30px;
        overflow: visible;
        white-space: nowrap;
        width: 100%;
        display: block;
        cursor: pointer;

        .selected {
            background-color: @foldertree-selected-background;
            * {
                color: @foldertree-selected-label-color;
                font-weight: 500;
            }
            .folder-options {
                display: inline-block;
            }
        }

        .selectable:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

        .selectable:focus {
            outline: 0;
            background-color: @foldertree-selected-focus-background;
            * {
                color: @foldertree-focused-label-color;
                font-weight: 500; // need both! applies before .selected is set
            }
            .folder-counter {
                color: rgba(255, 255, 255, 0.50);
            }
            .folder-options {
                background-color: rgba(0, 0, 0, 0.20);
            }
        }

        // not sure if virtual folders need a different color
        // .selectable.virtual:focus {
        //     background-color: rgba(0, 0, 0, 0.50);
        // }
    }

    .folder-arrow {

        color: #777;
        display: inline-block;
        padding-left: 14px;
        width: 40px;
    }

    .folder-label, .folder-counter, .folder-options {
        font-weight: 300;
        display: inline-block;
        margin: 0 14px 0 0;
        &:empty { margin: 0; }
    }

    .folder-label {

        &:first-child { // needed when arrows are hidden
            margin-left: 14px;
        }
    }

    .folder-counter {
        color: #08c;
    }

    .folder-options {

        padding: 0 12px;
        line-height: 26px;
        margin-top: 2px;
        margin-bottom: 2px;
        background-color: rgba(0, 0, 0, 0.10);
        border-radius: 5px;
        outline: 0;

        display: none;

        &:focus {
            i { color: white; }
            background-color: @foldertree-selected-focus-background;
        }
    }

    .subfolders {
        margin: 0;
        padding: 0;
        list-style-type: none;
        min-height: 30px;
    }

    h2 {
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;
        margin: 0 0 7px 0;
        padding: 0 7px 0 14px;
    }

    section {
        margin: 14px 0;
        padding: 0 14px;
    }

    .window-sidepanel.top-toolbar & { top: 45px; }
    .window-sidepanel.bottom-toolbar & { bottom: 45px; }
}
