@padding: 2px;
@large-padding: 13px;
@portal-background-alt: #050505;
@portal-background: #222;

.io-ox-portal {
    padding: @large-padding;
    position: relative;
    height: 100%;
    .overflow(auto);
 
    border-top: 1px solid #000;
    background-color: #2C2C2C;
    
    background-image: -moz-linear-gradient(top, @portal-background-alt, @portal-background);
    background-image: -ms-linear-gradient(top, @portal-background-alt, @portal-background);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@portal-background-alt), to(@portal-background));
    background-image: -webkit-linear-gradient(top, @portal-background-alt, @portal-background);
    background-image: -o-linear-gradient(top, @portal-background-alt, @portal-background);
    background-image: linear-gradient(top, @portal-background-alt, @portal-background);
    background-repeat: repeat-x;
}

.io-ox-portal, .io-ox-portal * {
    .box-sizing(border-box);
}

.io-ox-portal .clear-title {
    margin: 0.5em 0 1em 0;
    font-size: 16pt;
}
.io-ox-portal .vgrid-cell:last-child {
    border-bottom: 0px none;
}
.io-ox-portal h1 {
    font-size: 16pt;
    font-weight: 200;
    line-height: 1.15em;
    font-family: @font-light;
}
.io-ox-portal h2 {
    font-size: 18px;
    font-family: @font-light;
}
.io-ox-portal-column {
    display: inline-block;
    float: left;
}
.io-ox-portal-widget {
    min-height: 100px;
    margin-bottom: 40px;
}
.io-ox-portal-widget .clear-title {
    margin-bottom: 0.5em;
}
.io-ox-portal-linkedin-updates-entry {
    margin-bottom: 0.5em;
}
.io-ox-portal-linkedin-updates-details {
    margin: 1em 0 1em 4em;
}
.io-ox-portal-intro {
    margin-bottom: 16px;
    line-height: 22px;
}
.io-ox-portal-greeting {
    font-family: @font-light;
    font-size: 22px;
    font-weight: 200;
    color: #ccc;
}
.io-ox-portal-login {
    font-family: @font-light;
    font-size: 16px;
    color: #888;
}
.io-ox-portal-settings {
    float: right;
    display: block;
    padding-right: 5px;
    padding-bottom: 0.5em;
}
.io-ox-portal-settings a {
    color: #0AF;
    font-size: 13px;
}
.io-ox-portal-tiles {
    clear: both;
    text-align: left;
//    margin: 0 auto;
}

@tile-margin: 1px;
@tile-width: 270px;
@tile-height: 360px;

.io-ox-portal-widget-tile-border {
    margin: 0;
    padding: 0 @padding @padding 0;
    background: transparent;
    float: left;
} 
.io-ox-portal-widget-tile { 
    height: @tile-height;
    width: 100%;
    .box-sizing(border-box);
}
.io-ox-portal-widget-phototile {
    padding: 0 !important;
}
.io-ox-portal-widget-phototile h1 {
	padding: 1.3em 0.5em 0.5em 0.5em;
    margin: 0 !important;
}

@media all and (min-width: 0px ) {
    .io-ox-portal-widget-tile-border { width: 100%; }
}
@media all and (min-width: 300px) {
    .io-ox-portal-widget-tile-border { width: 50%; }
}
@media all and (min-width: 600px) {
    .io-ox-portal-widget-tile-border { width: 33.33%; }
}
@media all and (min-width: 900px) {
    .io-ox-portal-widget-tile-border { width: 25%; }
}
@media all and (min-width: 1200px) {
    .io-ox-portal-widget-tile-border { width: 20%; }
}
@media all and (min-width: 1500px) {
    .io-ox-portal-widget-tile-border { width: 16.66%; }
}
@media all and (min-width: 1800px) {
    .io-ox-portal-widget-tile-border { width: 14.28%; }
}
@media all and (min-width: 2100px) {
    .io-ox-portal-widget-tile-border { width: 12.5%; }
}
.io-ox-portal, .io-ox-portal-tiles {
    height: 100%;
}

.io-ox-portal-widget-tile {
    background: #cce;
    float: left;
    padding: @large-padding;
    overflow: hidden;
    margin: 0;
    cursor: pointer;
    color: white;
}
.io-ox-portal-preview {
    overflow: hidden;
    line-height: 1.5em;
    text-overflow: ellipsis;
}
.io-ox-portal-preview-firstline {
    font-weight: bold;
    color: white;
}
.io-ox-portal-preview-secondline {
    color: white;
    font-weight: normal;
}
.io-ox-portal-preview-thirdline {
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
}
.io-ox-portal-widget-tile h1 {
    color: #eee;
    color: rgba(255, 255, 255, 0.70);
    line-height: 1em;
    margin: 0.7em 0 1em 0;
}
.io-ox-sidepopup-pane h1.clear-title {
    margin-bottom: @large-padding;
}
.io-ox-portal-content .vgrid-cell.mail {
    height: 8em;
}
.io-ox-portal-tile-active {
}
.io-ox-portal .tile-image {
    width: 32px;
    height: auto;
    float: right;
    margin: 8px 0 8px 0;
}

.io-ox-portal {

    .tile-color0 { background-color: @tile-color-0; }
    .tile-color0:hover { background-color: darken(@tile-color-0, @tile-hover); }
    .tile-color1 { background-color: @tile-color-1; }
    .tile-color1:hover { background-color: darken(@tile-color-1, @tile-hover); }
    .tile-color2 { background-color: @tile-color-2; }
    .tile-color2:hover { background-color: darken(@tile-color-2, @tile-hover); }
    .tile-color3 { background-color: @tile-color-3; }
    .tile-color3:hover { background-color: darken(@tile-color-3, @tile-hover); }
    .tile-color4 { background-color: @tile-color-4; }
    .tile-color4:hover { background-color: darken(@tile-color-4, @tile-hover); }

    .tile-color5 { background-color: @tile-color-5; }
    .tile-color5:hover { background-color: darken(@tile-color-5, @tile-hover); }
    .tile-color6 { background-color: @tile-color-6; }
    .tile-color6:hover { background-color: darken(@tile-color-6, @tile-hover); }
    .tile-color7 { background-color: @tile-color-7; }
    .tile-color8:hover { background-color: darken(@tile-color-7, @tile-hover); }
    .tile-color8 { background-color: @tile-color-8; }
    .tile-color8:hover { background-color: darken(@tile-color-8, @tile-hover); }
    .tile-color9 { background-color: @tile-color-9; }
    .tile-color9:hover { background-color: darken(@tile-color-9, @tile-hover); }
    
    .tile-colorX { background-color: rgba(255, 255, 255, 0.10); cursor: default; }

    .io-ox-portal-createMe { background-color: #444; }
    .io-ox-portal-createMe:hover { background-color: #333; }
    
    .io-ox-portal-createMe .centered {
        line-height: 6em;
        text-align: center;
        color: #888;
    }
}
