
@portal-background-alt: @topbar-background;
@portal-background: @topbar-background-alt;

.io-ox-portal {
    padding: 13px;
    position: relative;
    height: 100%;
    overflow: auto;
 
    border-top: 1px solid #000;
    background-color: #2C2C2C;
    
    background-image: -moz-linear-gradient(top, @portal-background-alt, @portal-background);
    background-image: -ms-linear-gradient(top, @portal-background-alt, @portal-background);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@portal-background-alt), to(@portal-background));
    background-image: -webkit-linear-gradient(top, @portal-background-alt, @portal-background);
    background-image: -o-linear-gradient(top, @portal-background-alt, @portal-background);
    background-image: linear-gradient(top, @portal-background-alt, @portal-background);
    background-repeat: repeat-x;
}

.io-ox-portal, .io-ox-portal * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.io-ox-portal .clear-title {
    margin: 0.5em 0 1em 0;
    font-size: 16pt;
}
.io-ox-portal .vgrid-cell:last-child {
    border-bottom: 0px none;
}
.io-ox-portal h1 {
    font-size: 16pt;
    font-weight: 200;
    line-height: 1.15em;
    font-family: @font-light;
}
.io-ox-portal h2 {
    font-size: 18px;
    font-family: @font-light;
}
.io-ox-portal-column {
    display: inline-block;
    float: left;
}
.io-ox-portal-widget {
    min-height: 100px;
    margin-bottom: 40px;
}
.io-ox-portal-widget .clear-title {
    margin-bottom: 0.5em;
}
.io-ox-portal-linkedin-updates-entry {
    margin-bottom: 0.5em;
}
.io-ox-portal-linkedin-updates-details {
    margin: 1em 0 1em 4em;
}
.io-ox-portal-tiles {
    text-align: left;
    margin: 0 auto;
}


@media all and (min-width: 320px) {
    .io-ox-portal-tiles { width: 272px;}
}
@media all and (min-width: 640px) {
    .io-ox-portal-tiles { width: 544px;}
}
@media all and (min-width: 960px) {
    .io-ox-portal-tiles { width: 816px;}
}
@media all and (min-width: 1280px) {
    .io-ox-portal-tiles { width: 1088px;}
}
@media all and (min-width: 1600px) {
    .io-ox-portal-tiles { width: 1360px; } // 5* (270 width + 2*1px margin)
}
@media all and (min-width: 1920px) {
    .io-ox-portal-tiles { width: 1672px; }
}
@media all and (min-width: 2240px) {
    .io-ox-portal-tiles { width: 1944px; }
}
@media all and (min-width: 2560px) {
    .io-ox-portal-tiles { width: 2316px; }
}

.io-ox-portal-widget-tile {
    background: #cce;
    float: left;
    padding: 13px;
    overflow: hidden;
    width: 270px;
    height: 180px;
    margin: 1px;
    cursor: pointer;
    color: white;
}
.io-ox-portal-preview {
    overflow: hidden;
}
.io-ox-portal-widget-tile h1 {
    color: #eee;
    color: rgba(255, 255, 255, 0.70);
    line-height: 1em;
    margin: 0.7em 0 1em 0;
}
.io-ox-portal-content .vgrid-cell.mail {
    height: 4em;
}
.io-ox-portal-tile-active {
}
.io-ox-portal .tile-image {
    width: 32px;
    height: auto;
    float: right;
    margin: 8px 0 8px 0;
}

@tile-fix: 5%;
@tile-hover: 12%;
@tile-darken: 10%;
@tile-hover-dark: 15%;

.io-ox-portal {

    .tile-color0 { background-color: darken(@tile-color-0, @tile-fix); }
    .tile-color0:hover { background-color: darken(@tile-color-0, @tile-hover); }
    .tile-color1 { background-color: darken(@tile-color-1, @tile-fix); }
    .tile-color1:hover { background-color: darken(@tile-color-1, @tile-hover); }
    .tile-color2 { background-color: darken(@tile-color-2, @tile-fix); }
    .tile-color2:hover { background-color: darken(@tile-color-2, @tile-hover); }
    .tile-color3 { background-color: darken(@tile-color-3, @tile-fix); }
    .tile-color3:hover { background-color: darken(@tile-color-3, @tile-hover); }
    .tile-color4 { background-color: darken(@tile-color-4, @tile-fix); }
    .tile-color4:hover { background-color: darken(@tile-color-4, @tile-hover); }

    .tile-color5 { background-color: darken(@tile-color-0, @tile-darken); }
    .tile-color5:hover { background-color: darken(@tile-color-0, @tile-hover-dark); }
    .tile-color6 { background-color: darken(@tile-color-1, @tile-darken); }
    .tile-color6:hover { background-color: darken(@tile-color-1, @tile-hover-dark); }
    .tile-color7 { background-color: darken(@tile-color-2, @tile-darken); }
    .tile-color8:hover { background-color: darken(@tile-color-2, @tile-hover-dark); }
    .tile-color8 { background-color: darken(@tile-color-3, @tile-darken); }
    .tile-color8:hover { background-color: darken(@tile-color-3, @tile-hover-dark); }
    .tile-color9 { background-color: darken(@tile-color-4, @tile-darken); }
    .tile-color9:hover { background-color: darken(@tile-color-4, @tile-hover-dark); }
}