/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2011 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author Frank Paczynski <frank.paczynski@open-xchange.com>
 */


//app and lauchner parent class
.io-ox-search {

    .result {
        .item {
            list-style-type: none;
            padding: 12px 0px 12px 0px;
            border-bottom: 1px solid rgba(0,0,0,.15);
            width: 500px;
            cursor: pointer;
        }
        .line1 {
            font-weight: 500;
        }
        .line2 {
            font-style: italic;
        }

        // .item:hover {
        //      background-color: lightgrey;
        // }
    }
}
