/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2014 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author David Bauer <david.bauer@open-xchange.com>
 */
.io-ox-mail-compose {
    background: white;
    z-index: 2;
    &.default-content-padding {
        padding: 20px 20px;
    }

    .editable-toolbar {
        position: relative;
        height: auto;
    }

    .mail-compose-fields {
        background: #efefef;
    }


    .editable, .plain-text {
        border: 0;
        background: white;
        padding: 0;

        &.mce-edit-focus {
            &:focus {
                box-shadow: none;
            }
        }

    }
}
