.io-ox-mailfilter-settings {
    div[data-property="rulename"] {
       float: left;
    } 
    
    a.action {
        float: right;
        text-align: right;
        margin-right: 2em;
    }
}

.io-ox-mailfilter-edit{
    .action.dropdown.value {
        display: inline;
        margin: 0 10px;
    }
    
    
    
    li.filter-settings-view {
        background-color: #f5f5f5;
        padding: 13px;
        margin: 0 0 7px 0;
        text-align: left;
        cursor: pointer;
    }
    
    ol.widget-list {
        list-style-type: none;
        margin: 0;
    }
    
    input[data-action="change-text-test"], input[data-action="change-text-action"] {
        margin-bottom: 0;
    }
}