/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2013 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

/* preview panes */

.flag-picker-view {
    position: absolute;
    z-index: 10000;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 300px;
    min-height: 50px;
}

@unread-toggle-width: 40px;

.classic-toolbar-visible {
    .window-content { top: 45px; }
}

.classic-toolbar, .inline-toolbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 44px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 0 0 0 5px;
    & > li {
        list-style: none;
        display: inline-block;
        padding: 0;
        & > a {
            display: inline-block;
            line-height: 20px;
            padding: 12px 14px;
            color: @linkColor;
            float: left;
            outline: 0;
            i { text-decoration: none; }
            &:focus {
                background-color: #eee;
            }
        }
    }
    & > li.pull-right {
        & > a {
            border-left: 1px solid white;
            border-right: none;
        }
        i { font-size: 20px; line-height: 21px; }
    }
}

.list-view-control .toolbar .select-all {
    color: #888;
    display: inline-block;
    font-size: 13px;
    line-height: 21px;
    padding: 7px 0 0 4px;
    cursor: pointer;
    i {
        color: #ccc;
        margin-right: 14px;
        width: 16px;
        font-size: 18px;
        position: relative;
        top: 2px;
    }
}

.preview-right {
    .leftside { width: 330px; }
    .rightside { left: 330px; }
}

.preview-bottom {
    .leftside { left: 0; right: 0; bottom: auto; width: auto; height: 45%; border-bottom: 1px solid #ccc;  z-index: 2; }
    .rightside { left: 0; right: 0; top: 45%; z-index: 1; }
}

.preview-none {
    .leftside { top: 0; left: 0; right: 0; bottom: 0; width: auto; z-index: 1; }
    .rightside { top: 0; right: 0; bottom: 0; left: 0; width: auto; display: none; z-index: 2; }
    .rightside.preview-visible { display: block; }
}

.list-item.small {
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.list-item.small .list-item-checkmark .icon-checkmark {
    top: 8px;
}

.list-item.small .list-item-content,
.thread-view .list-item.small {
    display: table;
    width: 100%;
    table-layout: fixed;
    .box-sizing(border-box);
}

.list-item-column {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    .box-sizing(border-box);
    &.column-1 { width: 30px; text-align: center; }
    &.column-2 { width: 30px; text-align: center; }
    &.column-3 { width: 35%; }
    &.column-4 { width: 55%; }
    &.column-5 { width: 100px; text-align: right; }
}


.list-view.mail .list-item.small.unread {
    .from span.person, .subject, .date { font-weight: bold }
}

.list-view.mail .list-item.small .priority { float: none; }
.list-view.mail .list-item.small .from span.person { font-weight: normal; }

.mail-detail div.subject {
    font-family: @normalFontFamily;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    margin: 0 0 28px -68px;
}

.preview-bottom .mail-detail-pane .mail-detail-decorator { padding: 0; }
.preview-bottom .inplace-reply { margin: 14px; }

.list-view.mail.thread-view .list-item.small { padding: 7px 14px 7px 48px; }

.io-ox-mail-window .foldertree-sidepanel { left: 0; }

.simple-mail-writer {
    z-index: 10;
    background-color: white;
    @header-height: 190px;
    @padding: 7px;
    .header {
        background-color: #eee;
        position: absolute;
        top: 40px + @padding;
        right: @padding;
        left: @padding;
        height: @header-height;
        td {
            height: 45px;
            padding: 0 14px 0 0;
            vertical-align: middle;
        }
        td.row-label {
            width: 100px;
            text-align: right;
        }
        input {
            height: 30px;
            margin: 0px;
        }
    }
    .editor {
        color: #aaa;
        background-color: white;
        position: absolute;
        top: @header-height + 40px;
        right: @padding;
        bottom: @padding;
        left: @padding;
        textarea {
            height: 100%;
            width: 100%;
            padding: 14px;
            overflow: auto;
            outline: 0;
            border: 0px none;
            .box-sizing(border-box);
        }
    }
}

.mail-detail {
    section.body {
        margin: 0;
        padding: 10px 20px 20px 20px;
        background-color: #fff;
        display: none;
        width: 100%;
        min-height: 100px;
        cursor: default;
        outline: 0;
        .box-sizing(border-box);
    }
    section.attachments {
        margin-bottom: 10px;
        display: none;
    }
}

.mail-detail.expanded {
    section.attachments { display: block; }
    section.body { display: table; /* for proper overflow behavior */ }
    section.attachments:empty { display: none; }
}

.mail-reader {
    background-color: #eee;
    .overflow();
    .thread-view-control {
        max-width: 900px;
        margin: 0 auto;
    }
    .thread-view-control, .thread-view-list {
        position: static;
    }
}

/* ListView */

.list-view.mail {

    .contact-picture {
        float: left;
        margin: 0px 14px 0 0;
        .picture(40px, 40px);
        display: none;
    }

    .from {
        .ellipsis();
        span.person {
            color: inherit;
            font-weight: 500;
        }
    }

    .date, .size {
        font-weight: 300;
        display: inline-block;
        margin-left: 0.5em;
        float: right;
    }

    .date { opacity: 0.70; }
    .size { color: @linkColor; }

    &.visible-selection.has-focus .list-item.selected .size {
        color: #fff;
    }

    .subject {

        font-weight: 300;
        line-height: 20px; // need that to avoid flicker base on icon height
        .ellipsis();

        i {
            display: inline-block;
            float: left;
            line-height: 20px;
            margin-right: 7px;
        }

        i.icon-unread { color: @linkColor; }
        i.icon-answered { color: #aaa; }
        i.icon-forwarded { color: #888; }
    }

    &.visible-selection.has-focus .list-item.selected i {
        color: rgba(255, 255, 255, 0.50);
    }

    .icon-paper-clip.has-attachments {
        font-size: 20px;
        width: 18px;
        height: 18px;
        margin-left: 7px;
        float: right;
    }

    .flag {
        font-size: 18px;
        padding: 0;
        margin-left: 7px;
        float: right;
        .box-sizing(border-box);
    }

    .priority {
        float: right;
        .high { color: @mailPriority; }
        .low { color: @mailPriorityLow; }
    }

    .list-item.deleted {
        text-decoration: line-through;
        color: rgba(0, 0, 0, 0.20);
    }

    &.visible-selection .list-item.deleted.selected {
        color: rgba(255, 255, 255, 0.50);
    }

    .thread-size {
        min-width: 1em;
        font-weight: normal;
        padding: 0 0.5em 0 0.5em;
        margin-left: 7px;
        display: inline-block;
        float: right;
        cursor: pointer;
        overflow: visible;
        text-align: center;
        border-radius: 5px;

        color: rgba(0, 0, 0, 0.4);
        background-color: rgba(0, 0, 0, 0.07);

        .icon-caret-right, .icon-caret-down {
            width: 7px;
            display: inline-block;
        }
    }

    &.visible-selection.has-focus .selected .thread-size {
        color: rgba(255, 255, 255, 0.8);
        background-color: rgba(0, 0, 0, 0.15);
    }

    .thread-item {

        padding: 5px @list-view-padding 5px (@list-view-padding + 30px);

        .from span.person {
            font-weight: normal;
        }

        i.icon-unread {
            color: @linkColor;
            position: absolute;
            line-height: 20px;
            left: @list-view-padding;
        }
    }

    .thread-item:first-child { padding-top: 7px; }
    .thread-item:last-child { padding-bottom: 7px; }

    a.n-more {
        font-weight: 300;
    }

    .attachments {
        padding: 19px 20px 19px 20px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    .attachment-list {

        b { opacity: 0.30; }
        .dropdown {
            margin-right: 1em;
        }
        .icon-paper-clip {
            font-size: 16px;
            color: @linkColor;
        }
        .io-ox-inline-links {
            display: inline;
            font-family: @normalFontFamily;
            font-size: 13px;
            li { margin-right: 14px; }
        }
    }

    .attachment-preview {

        margin: 14px 0 0 0;
        list-style: none;
        white-space: nowrap;
        height: 120px;
        overflow-y: hidden;
        overflow-x: auto;

        li {
            margin: 0 1px 0 0;
            padding: 0;
            width: 120px;
            height: 120px;
            background-size: cover;
            display: inline-block;
        }
    }

    .unread-toggle {
        position: absolute;
        left: 60px;
        width: @unread-toggle-width;
        height: 40px;
        text-align: center;
        //background-color: yellow;
        color: #ddd;
        &:hover { text-decoration: none; color: #aaa; }
    }

    & .unread .unread-toggle {
        color: #08c;
    }

    .flag-picker {
        float: right;
        display: inline-block;
        margin-left: 7px;
        position: relative;
        z-index: 12004;
        .dropdown-toggle {
            font-size: 20px;
            &:hover { text-decoration: none; }
        }
        .flag-dropdown-icon.flag_0 {
            color: #ccc;
        }
    }
}

.flag-picker .dropdown-menu {
    right: 0;
    left: auto;
    width: 200px;
    a {
        line-height: 24px;
        .ellipsis();
    }
}

.mail-detail .flag-picker .dropdown-menu {
    font: 14px/20 @normalFontFamily;
    top: 110%;
}

.flag-dropdown {

    font-size: 22px;
    margin: 7px 0 0 14px;
    cursor: pointer;
    float: right;

    ul {
        font: 14px/20 @normalFontFamily;
        right: -20px;
        left: auto;
        top: 120%;
        width: 200px;
    }

    a {
        line-height: 24px;
        text-decoration: none;
    }

    .flag-dropdown-icon.flag_0 {
        color: #ddd;
    }

    .flag-dropdown-icon.flag_0:hover {
        color: #aaa;
    }
}

.flag-example {
    display: inline-block;
    float: right;
    width: 28px;
    height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    .border-radius(5px);
}

.thread-view-control {
    background-color: #eee;
}

.thread-view-list {
    overflow: auto;
    padding: 20px;
    background-color: #eee;
    & > h1 {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        padding: 20px;
        margin: 0;
        border-bottom: 1px solid #ccc;
        background-color: white;
        .summary {
            color: #888;
            font-size: 13px;
            line-height: 16px;
        }
    }
}

.inplace-reply {
    margin: 20px 20px 0 20px;
}

textarea.inplace-editor {
    width: 100%;
    height: 100px;
    padding: 19px;
    margin: 0;
    resize: vertical;
    border-radius: 0;
    border: 1px solid white;
    .box-shadow(none);
    .box-sizing(border-box);
    &:focus {
        border-color: #66AFE9;
        outline: 0;
        .box-shadow(~"inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)");
    }
}

.thread-view-control {

    @height: 40px;

    .back-navigation,
    .thread-view-navigation {

        display: none;
        background-color: inherit;
        width: 100%;
        height: @height - 1;
        line-height: @height - 1;
        position: absolute;
        top: 0px;
        z-index: 2;
        border-bottom: 1px solid #ccc;
        background-color: white;

        a { outline: 0; }
        a:hover { text-decoration: none; }
        a.disabled { color: #aaa; cursor: default; }

        .button {
            display: table-cell;
            width: 40%;
            padding-left: 20px;
            i { margin-right: 14px; }
        }

        .position {
            color: #888;
            display: table-cell;
            text-align: center;
            width: 20%;
        }

        .prev-next {
            display: table-cell;
            text-align: right;
            width: 40%;
            padding-right: 20px;
            i { margin-left: 14px; }
        }

        [class^="icon-"] {
            color: inherit;
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
        }
    }

    .detail-view {
        top: 0;
        outline: 0;
        overflow: auto;
        z-index: 1;
    }

    &.back-navigation-visible {
        .back-navigation { display: table; }
        .detail-view, .thread-view-list { top: @height; }
    }

    &.thread-view-navigation-visible {
        .thread-view-navigation { display: table; }
        .detail-view { top: @height; }
    }
}

.list-view.thread-view {

    list-style-type: none;
    padding: 0;
    overflow: visible;
    height: auto;

    .list-item {
        background-color: white;
        clear: both;
        padding: 0px;
        border-bottom: 1px solid #ccc;
    }

    // .list-item:hover {
    //     background-color: #ddd;
    // }

    .list-item:last-child {
        border-bottom: 0px none;
        margin-bottom: 0;
    }

    .contact-picture {
        display: inline-block;
    }

    .from {
        .ellipsis();
        span.person {
            color: inherit;
            font-weight: 500;
        }
    }
}

/* VGrid elements */

.vgrid-cell.mail {
    padding: 10px 13px 13px 13px;
    line-height: 1.5em;
}

.io-ox-portal-widget .vgrid-cell.mail { /* portal */
    padding: 6px 2px 6px 2px;
}

.vgrid-cell.mail .flag,
.mail-detail .flag-dropdown {
    padding: 0;
    margin-left: 1em;
    float: right;
}

.vgrid-cell.mail .flag {
    font-size: 18px;
}

.vgrid-cell.mail .flag.flag_0 {
    display: none;
}

.vgrid-cell.mail {
    .priority {
        float: right;
        .high { color: @mail-priority; }
        .low { color: @mail-priority-low; }
    }
}

/* flags */

.vgrid-cell.mail {

    .subject {
        font-weight: 200;
        .ellipsis();
    }

    .subject i {
        display: none;
        width: 1.25em;
        font-size: 16px;
        line-height: 18px;
        position: relative;
        top: 1px;
    }

    .subject .empty {
        font-style: italic;
        color: #aaa;
    }

    /* unread */
    &.unread i.icon-unread { display: inline-block; float: left; color: @link-color; }

    /* answered */
    &.answered i.icon-answered { display: inline-block; color: darken(@green-light, 20%); float: left; }

    /* forward */
    &.forwarded i.icon-forwarded { display: inline-block; color: #888; float: left;}

    &.unread .subject {
        font-weight: normal;
    }

    &.unread .date {
        font-weight: bold;
        color: #333;
    }

    &.unread .from span.person {
        font-weight: 800;
    }

    &.deleted *:not(.swipeDelete) {
        text-decoration: line-through;
        color: #888 !important;
        -webkit-font-smoothing: antialiased;
    }

    &.deleted .label {
        color: @white !important;
    }

    &.selected.deleted * { color: @selected-color !important; }

    .account-name {
        text-align: right;
        padding: 5px 0 0 0;
        font-style: italic;
        color: #555;
    }
}
/* end:unread */

.vgrid-cell.mail .from {}

.vgrid-cell.mail .from span.person {
    color: black;
    font-weight: 500;
}

.vgrid-cell.mail.me .from {
    color: #aaa;
    font-weight: normal;
}

.vgrid-cell.mail .date,
.vgrid-cell.thread-summary .date {
    color: #777;
    font-weight: 300;
    display: inline-block;
    float: right;
}

.vgrid-cell.mail .fa-paperclip {
    font-size: 20px;
    width: 18px;
    height: 18px;
    margin-left: 0.5em;
    float: right;
}

.vgrid-cell.mail {

    .thread-size {
        color: #999;
        min-width: 1em;
        font-weight: normal;
        padding: 0 0.5em 0 0.5em;
        margin-left: 10px;
        display: inline-block;
        float: right;
        cursor: pointer;
        overflow: visible;

        background-color: #e5e5e5;
        text-align: center;
        border-radius: 5px;
    }

    &.selected .thread-size {
        background-color: darken(#ddd, 10%);
    }

    .vgrid-scrollpane-container:focus &.selected .thread-size {
        background-color: #08c;
    }
}

.vgrid.editable .vgrid-cell.thread-summary,
.vgrid-cell.thread-summary {
    padding: 0;
}

.vgrid-cell .thread-summary-item {
    padding: 5px 13px 5px 13px;
    border-top: 1px solid #fff;
    background-color: #eee;
    cursor: pointer;
}

.vgrid-cell .thread-summary-item.unread,
.vgrid-cell .thread-summary-item.unread .date {
    font-weight: bold;
}

.vgrid-cell {

    .thread-summary-item.selected,
    .thread-summary-item.selected:hover {
        background-color: #ddd;
    }

    .vgrid .vgrid-scrollpane-container:focus & {
        .thread-summary-item.selected,
        .thread-summary-item.selected:hover {
            background-color: @selected-background;
        }

        .thread-summary-item.selected * {
            color: white !important;
        }
    }
}

.vgrid-cell .thread-summary-item:hover {
    background-color: #ccc;
}

.vgrid-cell .thread-summary-pos {
    display: inline-block;
    min-width: 1.5em;
    color: #777;
    text-align: right;
    padding-right: 0.75em;
}

.vgrid-cell .thread-summary-from { }
.vgrid-cell .thread-summary-subject { font-weight: 300; color: #555; }

.vgrid-cell .thread-summary-left { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.vgrid-cell .thread-summary-right {
    float: right;
    .flag { display: inline-block; margin-right: 10px; }
    .flag.fa-bookmark-o { color: #aaa }
}

/* vgrid touch helper */
.io-ox-mail-window {
    .vgrid-cell {
        .touch-helper {
            /*
            a transparent div to enlarge the touchable area around the
            thread-size badge - aka "can't touch this, dadada-dada-dada"
            */
            height: 40px;
            width: 40px;
            position: absolute;
            background: transparent;
            right: 7px;
            top: 0;
            height: 80%;
            top: 10%;
        }
    }
    button.btn.btn-default.search-options {
        border-radius:0;
        border-left:0;
    }
}

/* Detail view */

.rightside.mail-detail-pane {

    &.selection-one {
        background-color: #eee;
    }

    .scrollable-pane {
        margin-bottom: 20px;
        height: 110%; /* allows hiding "Entire thread" */
    }

    .mail-detail.by-myself header {
        background-color: #f5f5f5;
    }

    .thread-inline-actions {
        padding: 20px 0 0 20px;
        .dropdown {
            z-index: 12007 !important;/* override so dropdown is above inline links. See: Bug 25687*/
        }
    }
}

.rightside-inline-actions {
    float: right;
    display: inline-block;
    margin-right: 17px;
    a {
        .ellipsis();
    }
}

/* --- */

.mail-detail-pane {

    .mail-detail-decorator {

        position: relative;
        padding: 20px;
        display: table;
        width: 100%;
        min-height: 100%; // to make sure the quick-reply field can scroll out of viewport

        .mail-detail {
            background-color: white;
        }

        .mail-detail:focus {
            outline: 0;
        }
    }
}

.mail-detail {

    position: relative;
    overflow-y: visible;
    clear: both;
    width: 100%;

    @picture-width: 40px;
    @header-padding: 19px;
    @picture-padding: @picture-width + @header-padding;

    .focus-indicator {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        display: none;
        border: 0px solid #FFF;
        border-width: 14px 14px 0 0;
        border-top-color: @linkColor;
    }

    &.list-item:focus {
        outline: 0;
        .focus-indicator { display: block; }
    }

    &.io-ox-busy {
        min-height: 200px;
        display: block;
    }

    .io-ox-center {
        height: 200px;
    }

    .mail-detail-clear-left {
        clear: left;
        height: 0;
    }

    .mail-detail-clear-both {
        clear: both;
        height: 0;
    }

    .subscription-actions {
        text-align: right;
        margin-top: 1em;
    }

    .thread-inline-actions {
        border: 0 none;
        padding: 18px 20px 0 20px;
        min-height: 0;
        text-align: right;

        .io-ox-inline-links { margin: 0; }
        .dropdown-menu { right: 0; left: auto; text-align: left; }
    }

    .recipient-actions {
        display: inline-block;
        a.all-link {
            text-decoration: none;
        }
        i.fa-group {
            color: #aaa;
        }
    }

    .alert {
        margin: 1em 0;
    }

    .date {
        color: #888;
        display: block;
        float: right;
    }

    .subject.empty {
        font-style: italic;
        color: #aaa;
    }

    .from.list {
        display: block;
    }

    .subject {
        font-family: @lightFontFamily;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        margin: 7px 0;
    }

    .from .person-link.person-sender {
        color: #333;
    }

    .from .person-link.person-from {
        font-weight: 500;
        color: black;
    }

    .subject .icon-unread {
        display: none;
    }

    &.unread .subject {
        position: relative;
        padding-left: 28px;
        .icon-unread {
            color: @link-color;
            display: inline-block;
            position: absolute;
            left: 0px;
            top: 2px;
        }
    }

    .thread-size {
        color: #aaa;
        float: right;
        display: inline-block;
        margin-left: 0.5em;
    }

    .flag-dropdown {

        font-size: 22px;
        margin: 7px 0 0 14px;
        cursor: pointer;
        float: right;

        ul {
            font: 14px/20 @normal-font-family;
            right: -20px;
            left: auto;
            top: 120%;
            width: 200px;
        }

        a {
            line-height: 24px;
            text-decoration: none;
        }

        .flag-dropdown-icon.flag_0 {
            color: #ddd;
        }

        .flag-dropdown-icon.flag_0:hover {
            color: #aaa;
        }
    }

    .flag-example {
        display: inline-block;
        float: right;
        width: 28px;
        height: 22px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        .border-radius(5px);
    }

    .priority {
        font-weight: bold;
        vertical-align: top;
        white-space: nowrap;
        .high {
            color: @mail-priority;
        }
        .low {
            i:first-child { color: #888; }
            color: #ccc;
        }
    }

    .contact-picture {
        position: absolute;
        left: 20px;
        .picture(@picture-width, @picture-width);
    }

    .io-ox-label {
        color: #888;
        font-weight: 300;
        white-space: nowrap;
    }

    .recipients .person-link {
        color: #333;
    }

    .instant-preview {
        max-width: inherit;
    }

    .spacer {
        background-color: #ccc;
        border: 0 none;
        height: 1px;
        margin: 0.5em 0 1em 0;
    }

    blockquote {
        font-size: 13px;
        border-left: 1px solid #08c;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    @colorQuotedWidth: 1px;

    .colorQuoted blockquote {
        border-left: @colorQuotedWidth solid #08c;
    }

    .colorQuoted blockquote blockquote {
        border-left: @colorQuotedWidth solid #EE0889; // pink
    }

    .colorQuoted blockquote blockquote blockquote {
        border-left: @colorQuotedWidth solid #08C4FF; // cyan
    }

    .colorQuoted blockquote blockquote blockquote blockquote {
        border-left: @colorQuotedWidth solid #aaa; // gray
    }

    blockquote p {
        font-size: 13px;
    }

    .collapsed-blockquote {
        /* padding: 0 1em 0 39px !important; */
        max-width: 450px;
        overflow: hidden !important;
        cursor: pointer;
    }

    .toggle-blockquote {
        display: block;
        margin: 0em 0 1em 0;
        font-size: 12px;
        position: relative;
        left: 16px;
    }

    /* label dropdown */
    .active-label {
        font-weight: bold;
    }

    .detail-view-header {
        font-weight: 300;
        padding: 20px @header-padding;
        padding-left: @picture-padding + @unread-toggle-width;
    }

    .notifications {
        &:empty {
            border-top: 1px solid #ccc;
        }
    }

    .alert, .well {
        margin: 0;
        border: 0px none;
        padding: 10px 20px;
        .border-radius(0px);
        .box-shadow(none);
    }

    .well {
        padding: 20px;
    }

    article {
        padding: 19px;
        border: 1px solid white; // to work with outline
        display: table;
        background-color: white;
    }

    article.io-ox-busy {
        min-height: 100px;
    }

    article.text-html.horizontal-scrolling {
        max-width: 100%;
        overflow-x: auto;
        box-sizing: border-box;
        margin-right: -10000px; /* funky trick */
    }

    .content {

        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* max-width: 1000px; */ /* Max-width does not work here, see Bug #24505 */
        width: 100%;
        cursor: auto;
        display: block; /* for large images (see bug #22756 and #25033) */
        position: relative;
        overflow: hidden; /* helper for absolutely positioned elements */

        * {
            /* fixes https://bugs.open-xchange.com/show_bug.cgi?id=25737 */
            line-height: 1.4em;
            box-sizing: content-box;
        }

        /* TODO: remove / temp. fix for bootstrap */
        [class*="span"] {
            float: none;
            margin-left: 0;
        }

        /* TODO: remove / temp. fix for sanitized HTML */
        padding: 0;
        & > div > [class$="-content"] { padding: 0; }

        &.plain-text {
            font-family: @normal-font-family;
            white-space: pre-wrap;

            blockquote {
                white-space:normal;
            }
        }

        &.fixed-width-font, &.fixed-width-font.plain-text {
            font-family: monospace;
        }

        @base: 14px;
        h1 { font-size: 2.00 * @base; }
        h2 { font-size: 1.50 * @base; }
        h3 { font-size: 1.17 * @base; }
        h4 { font-size: 1.00 * @base; }
        h5 { font-size: 0.83 * @base; }
        h6 { font-size: 0.67 * @base; }

        // fix long links
        a {
            word-break: break-word;
        }

        // reset bootstrap stuff

        img {

            // TODO: Remove width:auto for correct styling of mail-chimp mails
            // Leaving this for now, needs testing!
            width: auto;

            max-width: 10000px;
            vertical-align: middle;
        }

        p {
            font-family: @normalFontFamily;
            margin: 0 0 14px 0;
        }

        small {
            color: inherit;
            font-size: initial;
        }

        code {
            font-family: inherit;
        }

        table {
            border: 0 none; line-height: normal; border-collapse: initial;
        }

        ul {
            padding: 0;
            margin: 10px 0 10px 25px;
        }

        ul { list-style-type: disc; }
        ul ul { list-style-type: circle; }
        ul ul ul { list-style-type: square; }

        li {
            line-height: 1.33333em;
            margin-bottom: 0.5em;
        }

        pre {
            word-break: keep-all; // for firefox
            word-break: initial;
            background-color: transparent;
            border: 0 none;
            .border-radius(0);
        }

        th {
            padding: @table-cell-padding;
            text-align: center;
        }

        ul, ol { padding-left: 25px; }

        /* Fix for Bug 24995 */
        .calendar-detail .label {
            display: block;
            text-shadow: none;
            font-weight: normal;
            background-color: transparent;
        }

        img.emoji-softbank { margin: 0 2px; }
    }

    .mail-warning {
        height: auto;
    }

    .mail-warning .bar {
        color: black;
        width: 100%;
        padding: 6px 13px 6px 13px;
        font-weight: bold;
        text-shadow: 0 0 3px white;
    }
}

/* flag colors */
.flag_1  { color: @red; } /* red */
.flag_7  { color: @orange; } /* orange */
.flag_10 { color: @yellow; } /* yellow */
.flag_6  { color: @green-light; } /* light green */
.flag_3  { color: @green; } /* green */
.flag_9  { color: @blue-light; } /* light blue */
.flag_2  { color: @blue; } /* blue */
.flag_5  { color: @purple; } /* purple (former brown) */
.flag_8  { color: @pink; } /* pink */
.flag_4  { color: @gray-light; } /* dark gray */

.flag_bg_1  { background-color: @red; } /* red */
.flag_bg_7  { background-color: @orange; } /* orange */
.flag_bg_10 { background-color: @yellow; } /* yellow */
.flag_bg_6  { background-color: @green-light; } /* light green */
.flag_bg_3  { background-color: @green; } /* green */
.flag_bg_9  { background-color: @blue-light; } /* light blue */
.flag_bg_2  { background-color: @blue; } /* blue */
.flag_bg_5  { background-color: @purple; } /* purple (former brown) */
.flag_bg_8  { background-color: @pink; } /* pink */
.flag_bg_4  { background-color: @gray-light; } /* dark gray */

/* multi selection */

.multi-selection-flag {
    white-space: nowrap;
    i {
        font-size: 28px;
        display: inline-block;
        margin-right: 14px;
    }
    .fa-bookmark-o {
        color: #aaa;
    }
    a {
        outline: 0;
    }
    a:hover {
        text-decoration: none;
    }
    a:focus i {
        text-shadow: 0 0 8px #888;
    }
}

/* attachment preview */

h4.mail-attachment-preview {
    height: 3em;
    color: #333;
}

.touch .mail-detail .content.plain-text {
    font-size: @font-size-touch;
}

.rightside-navbar {
    display: none;
}

@media (max-width: 700px) {

    .mail-detail-pane {
        .mail-detail-decorator {
            background-color: #fff;
            padding: 0;
            border-bottom: 2px solid #555;
            .mail-detail  {
                padding: 26px 13px 26px 13px;
                .box-shadow(none);
            }
        }
        .mail-detail-decorator:last-child {
            border-bottom: 0 none;
        }
        .scrollable-pane {
            background-color: #fff;
        }
    }

    .rightside-navbar {
        display: block;
    }

    .rightside.mail-detail-pane { background-color: #fff; }

    .mail-detail-pane .thread-inline-actions {
        background-color: white;
        padding: 20px 0 0 13px;
    }
    .scrollable-pane::after {
        content: ''
    }
    .mail-detail .contact-picture { display: none; }
    .mail-detail .subject { padding-right: 0; }
}

.mail-source-view {
    width: 100%;
    visibility: hidden;
}

/* z-indexes */

.vgrid-cell.mail .thread-size {
    z-index: 2;
}

/* smartphone */
@media (max-width: 480px), (max-device-width: 480px)  {
    .vgrid-cell.mail .from span.person {
        font-weight: 600;
    }
    .io-ox-sidepopup-pane .mail-detail-decorator .mail-detail {
        padding: 5px;
    }
    .mail-detail-pane .mail-detail-decorator .mail-detail {
        padding: 13px;
    }
    .io-ox-sidepopup-pane .mail-detail-decorator .mail-detail,
    .mail-detail-pane .mail-detail-decorator .mail-detail {
        a, span { font-size: 13px; }
        nav.io-ox-inline-links {
            float: right;
            margin: 0;
        }
        .flag {
            width: 16px;
            i { font-size: 15px; }
        }
        .mail-detail-clear-left { clear: both; }

        .from.list {
            font-size: 13px;
            a { word-break: break-all; font-weight: bold;}
            i { display: none; }
        }
        .to-cc.list, .attachment-list.list { margin-bottom: 5px; }
        .attachment-list.list { margin-top: 5px; }
        .person-link { white-space: normal; word-break: break-all;}
        .contact-picture {
            margin: 0;
            margin-left: 13px;
            float: right;
            display: block;
            width: 24px;
            height: 24px;
        }
        .subject {
            font-size: 13px;
            font-weight: bold;
            margin: 5px 0 0 0;
        }
        .date {
            font-size: 13px;
            float: none;
            padding-bottom: 4px;
            border-bottom: 1px solid #f1f1f1;
        }
        a.attachment-link {
            display: block;
            word-break: break-all;
        }
        div.dropdown.flag-dropdown.flag { margin: 0; }

        .recipient-actions { display: block; margin-bottom: 5px; }

        .content { margin-top: 13px; }

        .details-collapsed {
            .to-cc.list {
                span, a { display: none; }
                span:first-child, a:nth-child(2),span:nth-child(2) { display: inline; }
            }
            .recipient-actions {
                display: none;
            }
        }
    }
}
