/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2013 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

// definitions
@icon-size: 16px;

// phone
@phone-font-size: 16px;
@phone-line-height: 26px;

// preview panes

.flag-picker-view {
    position: absolute;
    z-index: 10000;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 300px;
    min-height: 50px;
}

.rightside.classic-toolbar-visible .thread-view-control { top: @toolbar-height; }

.preview-right {
    .leftside {
        width: 320px;
    }
    .rightside {
        left: 320px;
    }
}

@media(max-width: 700px) {
    .preview-right {
        .leftside {
            width: 280px;
        }
        .rightside {
            left: 280px;
        }
    }
}

.preview-bottom {
    .leftside { left: 0; right: 0; bottom: auto; width: auto !important; height: 45%; border-bottom: 1px solid #ccc;  z-index: 2; overflow: visible; }
    .rightside { left: 0 !important; right: 0; top: 45%; z-index: 1; }
    // horizontal resizebar
    .list-view-control .resizebar {
        display: none;
        &.vertical {
            background: transparent;
            width: 100%;
            height: 5px;
            position: absolute;
            z-index: 10000;
            cursor: s-resize;
            cursor: ns-resize;
            cursor: row-resize;
            right: auto;
            top: auto;
            bottom: 0;
            display: block;
        }
    }
}

.preview-none {
    .leftside { top: 0; left: 0; right: 0; bottom: 0; width: auto !important; z-index: 1; }
    .rightside { top: 0; right: 0; bottom: 0; left: 0 !important; width: auto; display: none; z-index: 2; }
    .rightside.preview-visible { display: block; }
}

.list-item.small {
    padding-top: 7px;
    padding-bottom: 7px;
}

.list-item.small .list-item-checkmark .fa.fa-checkmark {
    top: 8px;
}

.list-item.small .list-item-content,
.thread-view .list-item.small {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.mail-item {

    .list-item {
        padding-top: 8px;
        padding-bottom: 6px;
    }

    .list-item-column {
        display: table-cell;
        vertical-align: middle;
        padding: 0;
        @icon-width: 24px;
        &.column-1 { width: @icon-width; text-align: center; }
        &.column-2 { width: @icon-width; text-align: center; }
        &.column-3 { width: @icon-width; text-align: center; }
        &.column-4 { width: 35%; padding-right: 10px; }
        &.column-5 { width: 55%; padding-right: 10px; }
        &.column-6 { width: 140px; text-align: right; }
    }
}

.list-view .list-item {

    &.small {

        .priority { float: none; }
        .from span.person { .fontWeight(normal); }

        .drag-title {
            opacity: 1;
        }

        .date {
            display: block;
            float: none;
            .ellipsis();
        }

        &.unread {
            .from span.person, .subject, .date { .fontWeight(bold); }
        }

        .date {
            display: block;
            float: none;
            .ellipsis();
        }
    }

    &.unread {
        .date { opacity: 1; .fontWeight(bold); }
        .subject {
            html.high-contrast & {
                color: @hc-link-color;
            }
        }
    }

    @media (max-width: 480px), (max-device-width: 480px)  {

        border-right: 1px solid rgba(0, 0, 0, 0.15);
        margin-right: -1px;

        &.unread.selected {
            .subject { color: #000; }
        }

        &.complete > .list-item:last-child {
            margin-bottom: @toolbar-height;
            border-bottom: 0;
        }

        .list-item-content {
            font-size: @phone-font-size;
            line-height: @phone-line-height;
        }
    }
}

.swipe-option-cell {
    position: absolute;
    width: 100%;
    right: 0;
    z-index: -5;
    .swipe-button {
        height: 100%;
        width: 95px;
        color:#fff;
        line-height: 63px;
        font-size: 30px;
        text-align: center;
        float: right;
        &.delete {
            background: #FF4105;
        }
        &.more {
            background: rgb(255, 169, 8);
        }
    }
}


.list-view {
    @media (max-width: 480px), (max-device-width: 480px)  {
        .list-item {
            background-color: #fff;
        }
        .list-item:hover {
            background-color: rgb(238, 238, 238);
        }
        &.complete > .list-item:last-child {
            margin-bottom: @toolbar-height;
            border-bottom: 0;
        }
    }
}

.preview-bottom .mail-detail-pane .mail-detail-decorator { padding: 0; }
.preview-bottom .inplace-reply { margin: 14px; }

.list-view.thread-view .list-item.small { padding: 7px 14px 7px 48px; }

.mail-detail {
    section.body {
        margin: 0;
        padding: @default-padding;
        background-color: #fff;
        display: none;
        width: 100%;
        cursor: default;
        outline: 0;
        &.loading {
            min-height: 80px;
        }
    }
    section.attachments {
        display: none;
    }
    section.notifications {
        display: none;
    }

    &.expanded {
        section.attachments, section.notifications { display: block; }
        // for proper overflow behavior */
        section.body { display: table; }
        section.attachments:empty { display: none; }
    }

    &.no-padding {
        h1.subject,
        section.body,
        section.notifications,
        section.attachments { padding-left: 0; padding-right: 0; }
    }
}

// ListView

.mail-item {

    .contact-picture {
        float: left;
        margin: 0 @default-padding 0 0;
        .picture(40px, 40px);
        html.high-contrast & {
            display: none;
        }
    }

    .selected .contact-picture {
        opacity: 0.25;
        -webkit-filter: saturate(0);
    }

    .from {
        .ellipsis();
        span.person {
            color: inherit;
            .fontWeight(500);
        }
    }

    .unread .from span.person { font-weight: bold; }

    .date, .size {
        .fontWeight(300);
        display: inline-block;
        margin-left: 16px;
        float: right;
    }

    &.visible-selection.has-focus .selected {
        .date {
            opacity: 1;
        }

        .list-item-content .drag-title {
            opacity: 1;
        }
    }

    .date {

        opacity: 0.75;

        html.high-contrast & {
            opacity: 1;
        }
    }

    .size {
        color: @link-color;
    }

    .actions {
        font-size: 14px;
        a {
        	padding-left: 16px;
        }
    }

    @item-line-height: 20px;

    .list-item-content {

        // need explicit line-height to avoid flicker base on icon height + bold letters need 21px
        line-height: @item-line-height;
        .ellipsis();

        i {
            font-size: 14px;
            display: inline-block;
            float: left;
            line-height: 20px;
            margin-right: 8px;
        }

        i.icon-unread { color: @link-color; }
        i.icon-answered { color: #aaa; }
        i.icon-forwarded { color: #888; }

        .subject {
            .fontWeight(300);
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .drag-title {
            opacity: 0.70;
        }

        i.flag {
            font-size: 18px;
            padding: 0;
            margin: 0 0 0 8px;
            float: right;
        }

        // disable/reset some properties
        .breadcrumb-view {
            margin: 0;
            i {
                float: none;
                line-height: 14px;
            }
        }
    }

    &.visible-selection.has-focus .list-item.selected i {
        opacity: 0.9;
        &:not(.flag):not(.has-attachments) {
            color: rgba(255, 255, 255, 0.50);
        }
    }

    .fa-paperclip.has-attachments, i.fa.signed, i.fa.encrypted {
        font-size: @icon-size;
        margin: 0 0 0 8px;
        float: right;

    }

    &.visible-selection.has-focus .list-item.selected .fa-paperclip.has-attachments {
        opacity: 1;
    }

    &.visible-selection.has-focus .list-item.selected .fa-paperclip.has-attachments {
        opacity: 1;
    }

    .priority {
        float: right;
        .high { color: @mail-priority; }
        .low { color: @mail-priority-low; }
    }

    .list-item.deleted {
        text-decoration: line-through;
        color: rgba(0, 0, 0, 0.20);
    }

    &.visible-selection.has-focus .list-item.deleted.selected {
        color: rgba(255, 255, 255, 0.50);
    }

    .box() {
        font-size: 12px;
        color: #777;
        line-height: 14px;
        padding: 0 4px;
        margin: 2px 0 0 8px;
        display: inline-block;
        float: right;
        overflow: visible;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.15);
        .fontWeight(normal);
        .border-radius(@border-radius-small);
    }

    .account-name, .original-folder {
        .box();
    }

    .thread-size {
        .box();
        min-width: 24px;
        html.high-contrast & {
            color: @hc-gray;
        }
    }

    &.visible-selection.has-focus .selected {
        .thread-size, .account-name, .original-folder { color: #fff; }
    }

    .thread-item {

        padding: 5px @list-view-padding 5px (@list-view-padding + 30px);

        .from span.person {
            .fontWeight(normal);
        }

        i.icon-unread {
            color: @link-color;
            position: absolute;
            line-height: 20px;
            left: @list-view-padding;
        }
    }

    .thread-item:first-child { padding-top: 7px; }
    .thread-item:last-child { padding-bottom: 7px; }

    a.n-more {
        .fontWeight(300);
    }

    .attachments {
        padding: 10px @default-padding 9px @default-padding;
        border-bottom: 1px solid #eee;
        .io-ox-inline-links {
            display: inline;
            font-family: @normal-font-family;
            font-size: 13px;
            margin-left: @default-padding;
            a:hover {
                text-decoration: underline;
            }
            li { margin-right: @default-padding; }
        }
        .preview .item .io-ox-core-tk-attachment {

            > a {
                color: @white;
            }

        }
        .fa-paperclip {
            font-size: 16px;
            color: @link-color;
        }
    }

    .attachment-list {

        b { opacity: 0.30; }
        .dropdown {
            margin-right: 1em;
        }
        .fa-paperclip {
            font-size: 16px;
            color: @link-color;
        }
    }

    .attachment-preview {

        margin: 14px 0 0 0;
        padding: 0;
        list-style: none;
        white-space: nowrap;
        height: 120px;
        overflow-y: hidden;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        li {
            margin: 0 1px 0 0;
            padding: 0;
            width: 120px;
            height: 120px;
            background-size: cover;
            display: inline-block;
            cursor: pointer;
        }

        li:hover {
            opacity: 0.50;
        }
    }

    .unread-toggle {
        &:focus i {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }
        outline: none;
        float: right;
        font-size: 14px;
        padding-left: 16px;
        color: #767676;
        &:hover { text-decoration: none; color: #aaa; }
        i.fa:before { content: "\f003"; } // fa-envelope-o
    }

    &.unread .unread-toggle {
        color: @link-color;
        i.fa:before { content: "\f0e0"; } // fa-envelope
    }

    .flag-picker {
        float: right;
        display: inline-block;
        margin-left: 16px;
        position: relative;
        .dropdown-toggle {
            font-size: 14px;
            &:hover { text-decoration: none; }
            &:focus i {
                outline: thin dotted;
                outline: 5px auto -webkit-focus-ring-color;
                outline-offset: -2px;
            }
        }
        .flag-dropdown-icon.flag_0 {
            color: #767676;
        }
    }
}

.flag-picker .dropdown-menu {
    right: 0;
    left: auto;
    width: 200px;
    a {
        line-height: 24px;
        .ellipsis();
    }
}

.mail-detail .flag-picker .dropdown-menu {
    font: 14px/20 @normal-font-family;
    top: 110%;
}

.flag-dropdown {

    font-size: 22px;
    margin: 7px 0 0 14px;
    cursor: pointer;
    float: right;

    ul {
        font: 14px/20 @normal-font-family;
        right: -20px;
        left: auto;
        top: 120%;
        width: 200px;
    }

    a {
        line-height: 24px;
        text-decoration: none;
    }

    .flag-dropdown-icon.flag_0 {
        color: #ddd;
    }

    .flag-dropdown-icon.flag_0:hover {
        color: #aaa;
    }
}

.flag-example {
    display: inline-block;
    float: right;
    width: 28px;
    height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    .border-radius(@border-radius-base);
}

.thread-view-control {
    background-color: #eee;
}

.subject() {
    font-size: 20px;
    line-height: 24px;
    padding: 12px @default-padding 4px @default-padding;
    margin: 0;
    .fontWeight(300);
}

.thread-view-list {

    padding: @default-padding;
    background-color: #eee;
    &.scrollable { overflow: auto; }

    & > h1 {

        .subject();
        background-color: white;

        .toggle-all {
            color: #ccc;
            float: right;
            outline: 0;
            &:hover { color: #aaa; }
            &:focus { color: @link-color; }
        }

        .summary {

            color: #777;
            font-size: 13px;
            line-height: 20px;
            margin-top: 4px;

            html.high-contrast & {
                color: @hc-gray;
            }

        }

    }

}

@media(max-width: 700px) {
    .thread-view-list {
        padding: 0;
    }
}

.thread-view.list-view .list-item { cursor: default; }
.thread-view.list-view.multiple-messages .list-item { cursor: pointer; }

.inplace-reply {
    margin: 20px 20px 0 20px;
}

textarea.inplace-editor {
    width: 100%;
    height: 100px;
    padding: 19px;
    margin: 0;
    resize: vertical;
    border-radius: 0;
    border: 1px solid white;
    .box-shadow(none);
    &:focus {
        border-color: #66AFE9;
        outline: 0;
        .box-shadow(~"inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)");
    }
}

.thread-view-control {

    @height: 45px;

    .back-navigation {

        display: none;
        top: 0;
        border-bottom: 1px solid #ccc;

        a { outline: 0; }
        a:hover { text-decoration: none; }
        a.disabled { color: #aaa; cursor: default; }

        .button {
            display: table-cell;
            width: 40%;
            padding-left: @default-padding;
            i { margin-right: @default-padding; }
        }

        .position {
            color: #888;
            display: table-cell;
            text-align: center;
            width: 20%;
        }

        .prev-next {
            display: table-cell;
            text-align: right;
            width: 40%;
            padding-right: @default-padding;
            i { margin-left: @default-padding; }
        }

         .fa {
            color: inherit;
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
        }
    }

    .detail-view {
        top: 0;
        outline: 0;
        overflow: auto;
        z-index: 1;
    }

    &.back-navigation-visible {
        .back-navigation { display: table; }
        .detail-view, .thread-view-list { top: @height; }
    }

    &.thread-view-navigation-visible {
        .thread-view-navigation { display: table; }
        .detail-view { top: @height; }
    }
}

.thread-view.list-view {

    list-style-type: none;
    padding: 0;
    overflow: visible;
    height: auto;

    .list-item {
        background-color: white;
        clear: both;
        padding: 0;
        margin-bottom: 8px;
        border-bottom: 1px solid transparent;
    }

    .list-item:last-child {
        margin-bottom: 0;
        border-bottom-color: transparent;
    }

    @media (max-width: 480px), (max-device-width: 480px)  {
        .list-item:last-child {
            .detail-view-header {
                border-bottom: 0;
            }
            margin-bottom: @toolbar-height;
        }
    }

    .list-item:focus {
        border-bottom: 1px solid @link-color;
    }
}

.mail-detail {

    .contact-picture {
        display: inline-block;
        html.high-contrast & {
            display: none;
        }
    }

    .from {
        .ellipsis();
        span.person {
            color: inherit;
            .fontWeight(bold);
        }
    }
}

.io-ox-mail-window {
    @media(max-width: 700px) {
        .vsplit {
            width: 100%;
            .rightside {
                width: auto;
                top: 0;
                right: 0;
            }
        }
    }

    .vgrid-cell {
        .touch-helper {
            // a transparent div to enlarge the touchable area around the
            // thread-size badge - aka "can't touch this, dadada-dada-dada"
            height: 40px;
            width: 40px;
            position: absolute;
            background: transparent;
            right: 7px;
            top: 0;
            height: 80%;
            top: 10%;
        }
    }
}

// Detail view

.rightside.mail-detail-pane {

    background-color: #eee;

    .thread-view-control { display: none; }

    &.selection-one {
        .multi-selection-message { display: none; }
        .thread-view-control { display: block; }
    }

    .scrollable-pane {
        margin-bottom: 20px;
        // allows hiding "Entire thread"
        height: 110%;
    }

    .multi-selection-message {
        div {
            color: #555;
        }
    }
}

/* --- */

.mail-detail-pane {

    .mail-detail-decorator {

        position: relative;
        padding: @default-padding;
        display: table;
        width: 100%;
        // to make sure the quick-reply field can scroll out of viewport
        min-height: 100%;

        .mail-detail {
            background-color: white;
        }

        .mail-detail:focus {
            outline: 0;
        }
    }
}

.mail-detail {

    color: @black;
    background-color: #fff;

    position: relative;
    overflow-y: visible;
    clear: both;
    width: 100%;

    @picture-width: 40px;
    @picture-padding: @picture-width + @default-padding;

    &.list-item:focus {
        outline: 0;
    }

    &.io-ox-busy {
        min-height: 200px;
        display: block;
    }

    .io-ox-center {
        height: 200px;
    }

    .mail-detail-clear-left {
        clear: left;
        height: 0;
    }

    .mail-detail-clear-both {
        clear: both;
        height: 0;
    }

    .subscription {
        .actions {
            text-align: right;
            margin-top: 1em;
        }
    }

    .thread-inline-actions {
        border: 0 none;
        padding: 18px 20px 0 20px;
        min-height: 0;
        text-align: right;

        .io-ox-inline-links { margin: 0; }
        .dropdown-menu { right: 0; left: auto; text-align: left; }
    }

    .recipient-actions {
        display: inline-block;
        a.all-link {
            text-decoration: none;
        }
        i.fa-group {
            color: #aaa;
        }
    }

    .date {
        display: block;
        float: right;
    }

    .from.list {
        display: block;
    }

    .subject {
        .subject();
        &.empty {
            font-style: italic;
            color: #aaa;
        }
    }

    .from .person-link.person-sender {
        color: #333;
    }

    .from .person-link.person-from {
        .fontWeight(bold);
        color: black;
    }

    .subject .icon-unread {
        display: none;
    }

    &.unread .subject {
        position: relative;
        padding-left: 28px;
        .icon-unread {
            color: @link-color;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 2px;
            html.high-contrast & {
                color: @hc-link-color;
            }
        }
    }

    .thread-size {
        color: #aaa;
        float: right;
        display: inline-block;
        margin-left: 0.5em;
    }

    .external-images, .disposition-notification {
        display: table;
        width: 100%;
        .btn { float: left; margin-right: @default-padding; }
        .comment { display: table; }
        .close { position: relative; right: -10px; }
    }

    .flag-dropdown {

        font-size: 22px;
        margin: 8px 0 0 @default-padding;
        cursor: pointer;
        float: right;

        ul {
            font: 14px/20 @normal-font-family;
            right: -20px;
            left: auto;
            top: 120%;
            width: 200px;
        }

        a {
            line-height: 24px;
            text-decoration: none;
        }

        .flag-dropdown-icon.flag_0 {
            color: #ddd;
        }

        .flag-dropdown-icon.flag_0:hover {
            color: #aaa;
        }
    }

    .flag-example {
        display: inline-block;
        float: right;
        width: 28px;
        height: 22px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        .border-radius(5px);
    }

    .priority {
        float: right;
        font-size: @icon-size;
        .fontWeight(bold);
        display: inline-block;
        margin-left: 7px;
        .high {
            color: @mail-priority;
        }
        .low {
            color: @mail-priority-low;
        }
    }

    .contact-picture {
        position: absolute;
        top: @default-padding;
        left: @default-padding;
        .picture(@picture-width, @picture-width);
    }

    &.no-padding .contact-picture { left: 0; }

    .io-ox-label {
        color: #767676;
        white-space: nowrap;

        html.high-contrast & {
            color: @hc-gray;
        }
    }

    .recipients {
        .person-link { color: #333; }
    }

    &:not(.expanded) .recipients {

        height: 20px;
        opacity: 0.3;
        .ellipsis();

        html.high-contrast & {
            opacity: 1;
        }

    }

    .instant-preview {
        max-width: inherit;
    }

    .spacer {
        background-color: #ccc;
        border: 0 none;
        height: 1px;
        margin: 0.5em 0 1em 0;
    }

    blockquote {
        color: #555;
        font-size: 13px;
        border-left: 2px solid #ddd;
        padding: 0 0 0 16px;
        margin: 16px 0 16px 0;

    }

    blockquote blockquote {
        border-color: #3C73AA;
        margin: 8px 0;
    }

    .blockquote(@color) {
        color: @color !important;
        border-left: 2px solid @color;
        a[href] { color: @color; }
        a[href]:hover { color: darken(@color, 10%); }
    }

    .colorQuoted blockquote blockquote {
        .blockquote(#3C73AA);
    }

    .colorQuoted blockquote blockquote blockquote {
        .blockquote(#DD0880);
    }

    .colorQuoted blockquote blockquote blockquote blockquote {
        .blockquote(#8F09C7);
    }

    .colorQuoted blockquote blockquote blockquote blockquote blockquote {
        .blockquote(#777);
    }

    blockquote p {
        font-size: 13px;
    }

    .collapsed-blockquote {
        display: none;
    }

    .blockquote-toggle {
        color: #888;
        font-size: 13px;
        padding-left: 56px;
        margin: 16px 0;
        min-height: 16px;
        i {
            color: #888;
            background-color: #eee;
            padding: 1px 10px;
            display: inline-block;
            font-size: 14px;
            line-height: 16px;
            cursor: pointer;
            outline: none;
            position: absolute;
            left: 0;
            &:hover, &:focus {
                color: #fff;
                background-color: @link-color;
                text-decoration: none;
            }
        }
    }

    // label dropdown
    .active-label {
        .fontWeight(bold);
    }

    .detail-view-header {
        position: relative;
        .fontWeight(300);
        line-height: 16px;
        padding: (@default-padding + 3) @default-padding @default-padding (@picture-padding + @default-padding);
        min-height: 71px;
    }

    &.expanded .detail-view-header {
        border-bottom: 1px solid #eee;
    }

    &.no-padding .detail-view-header {
        padding-left: @picture-padding;
        padding-right: 0;
    }

    .notifications {
        cursor: default;
    }

    .notification-item {
        padding: @default-padding;
        background-color: #f0f0f0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .notification-item + .notification-item {
        border-top: none;
    }

    .alert, .well {
        margin: 0;
        border: 0;
        padding: @default-padding 40px @default-padding @default-padding;
        .border-radius(0px);
        .box-shadow(none);
    }

    .alert + .alert {
        margin-top: 1px;
    }

    .well + .well {
        border-top: 1px solid #ddd;
    }

    article {
        padding: 19px;
        // to work with outline
        border: 1px solid white;
        display: table;
        background-color: white;
    }

    article.text-html.horizontal-scrolling {
        max-width: 100%;
        overflow-x: auto;
        // funky trick
        margin-right: -10000px;
    }

    .content {

        font: normal e('13px/normal') @normal-font-family;
        // Max-width does not work here, see Bug #24505
        // max-width: 1000px;
        width: 100%;
        cursor: auto;
        // for large images (see bug #22756 and #25033)
        display: block;
        position: relative;
        // helper for absolutely positioned elements
        overflow: hidden;

        * {
            // see Bug 25737 - [L3] HTML mail with pasted text from MS Word not displayed correctly (cut off at upper edge)
            line-height: normal;
            box-sizing: content-box;
        }

        // TODO: remove / temp. fix for bootstrap
        [class*="span"] {
            float: none;
            margin-left: 0;
        }

        // TODO: remove / temp. fix for sanitized HTML
        padding: 0;
        & > div > [class$="-content"] { padding: 0; }

        &.plain-text {
            font-family: @normal-font-family;
            white-space: pre-wrap;

            blockquote {
                white-space:normal;
            }
        }

        &.fixed-width-font, &.fixed-width-font.plain-text,
        &.fixed-width-font blockquote,
        &.fixed-width-font.plain-text blockquote,
        &.fixed-width-font blockquote p,
        &.fixed-width-font.plain-text blockquote p {
            font-family: monospace;
        }

        @base: 14px;
        h1 { font-size: 2.00 * @base; }
        h2 { font-size: 1.50 * @base; }
        h3 { font-size: 1.17 * @base; }
        h4 { font-size: 1.00 * @base; }
        h5 { font-size: 0.83 * @base; }
        h6 { font-size: 0.67 * @base; }

        a {
            // fix long links
            word-break: break-word;
            text-decoration: none;
            color: inherit;
            &:hover { color: inherit; }
        }

        a[href] {
            // not @linkColor!
            color: #007dbc;
            text-decoration: underline;
            &:hover { color: #08c; }
        }

        // reset bootstrap stuff

        img {

            // width: auto;
            // Commented this out on 29.8.14. Seems this is a relict from Bootstrap 2.x.
            // As we are now on 3.0 and Bootstrap added a new image-responsive class we do not have to reset this here

            max-width: 10000px;
            vertical-align: middle;
        }

        p {
            font-family: @normal-font-family;
            margin: 0 0 1em 0;
        }

        small {
            color: inherit;
            font-size: initial;
        }

        code {
            font-family: inherit;
        }

        table {
            border: 0 none; line-height: normal; border-collapse: initial;
        }

        ul {
            padding: 0;
            margin: 1em 0 1em 24px;
        }

        ul { list-style-type: disc; }
        ul ul { list-style-type: circle; }
        ul ul ul { list-style-type: square; }

        li {
            line-height: normal;
            margin-bottom: 0.5em;
        }

        pre {
            // for firefox
            word-break: keep-all;
            word-break: initial;
            white-space: pre-wrap;
            background-color: transparent;
            border: 0 none;
            .border-radius(0);
        }

        th {
            padding: @table-cell-padding;
            text-align: center;
        }

        th[align="left"] {
            // special case, see bug 37082
            text-align: left;
        }

        ul, ol { padding-left: 16px; }

        // see Bug 24995 - Strange boxes shown for invitation mails
        .calendar-detail .label {
            display: block;
            text-shadow: none;
            .fontWeight(normal);
            background-color: transparent;
        }

        img.emoji-softbank { margin: 0 2px; }

        // See 36097 - This issue may have to be revisited, see also "breakableHTML"
        div {
            word-break: break-word;
        }
    }

    .max-size-warning {
        color: #777;
        margin: 10px -16px 0 -16px;
        padding: 16px 16px 0 16px;
        border-top: 1px solid #ddd;
    }
}

// flag colors
.flag_1  { color: @red; } /* red */
.flag_7  { color: @orange; } /* orange */
.flag_10 { color: @yellow; } /* yellow */
.flag_6  { color: @green-light; } /* light green */
.flag_3  { color: @green; } /* green */
.flag_9  { color: @blue-light; } /* light blue */
.flag_2  { color: @blue; } /* blue */
.flag_5  { color: @purple; } /* purple (former brown) */
.flag_8  { color: @pink; } /* pink */
.flag_4  { color: @gray-light; } /* dark gray */

.flag_bg_1  { background-color: @red; } /* red */
.flag_bg_7  { background-color: @orange; } /* orange */
.flag_bg_10 { background-color: @yellow; } /* yellow */
.flag_bg_6  { background-color: @green-light; } /* light green */
.flag_bg_3  { background-color: @green; } /* green */
.flag_bg_9  { background-color: @blue-light; } /* light blue */
.flag_bg_2  { background-color: @blue; } /* blue */
.flag_bg_5  { background-color: @purple; } /* purple (former brown) */
.flag_bg_8  { background-color: @pink; } /* pink */
.flag_bg_4  { background-color: @gray-light; } /* dark gray */

// multi selection

.multi-selection-flag {

    white-space: nowrap;

    i {
        font-size: 28px;
        display: inline-block;
        margin-right: 14px;
    }

    .fa-bookmark-o {
        color: #aaa;
    }

    a {

        outline: 0;

        &:hover {
            text-decoration: none;
        }

        &:focus i {
            text-shadow: 0 0 8px #888;
        }

    }

}

// attachment preview

h4.mail-attachment-preview {
    height: 3em;
    color: #333;
}

.touch .mail-detail .content.plain-text {
    font-size: @font-size-touch;
}

@media (max-width: 700px) {

    .mail-detail-pane {

        .mail-detail-decorator {

            background-color: #fff;
            padding: 0;
            border-bottom: 2px solid #555;

            .mail-detail  {

                padding: 26px 13px 26px 13px;
                .box-shadow(none);

            }

        }

        .mail-detail-decorator:last-child {
            border-bottom: 0 none;
        }

        .scrollable-pane {
            background-color: #fff;
        }

    }

    .rightside.mail-detail-pane {
        background-color: #fff;
    }

    .mail-detail-pane .thread-inline-actions {
        background-color: white;
        padding: 20px 0 0 13px;
    }

    .scrollable-pane::after {
        content: ''
    }

    .mail-detail {
        .subject {
            padding-right: 0;
        }
    }
}

.mail-source-view {
    width: 100%;
    visibility: hidden;
}

// disable all fa icons in halo view for mail (recent conversation)
// seems to be buggy
.io-ox-halo .vgrid-cell.mail {
    i {
        display: none;
    }
}

// smartphone
@media (max-width: 480px), (max-device-width: 480px)  {

    .thread-view-list {
        padding: 0;
        & > h1 {
            font-size: @phone-font-size + 2;
            .summary {
                font-size: @phone-font-size - 2;
            }
        }
        .thread-view {
            header {
                border-bottom: 1px solid #ccc;
            }
        }
        .from, .recipients, .date {
            font-size: @phone-font-size;
            line-height: @phone-line-height;
        }
        .from .person-link.person-from {
            font-weight: 500;
        }
        .mail-detail:not(.expanded) .recipients {
            height: auto;
        }
    }

    .mail-item.unread .unread-toggle {
        display: inline-block;
        position: relative;
        left: -35px;
        bottom: 22px;
    }

    .mail-item .unread-toggle {
        display: none;
        width: auto;
        height: auto;
    }
    .mail-item .attachments .io-ox-inline-links {
        font-size: @phone-font-size;
        margin-left: 0;
    }
    .mail-item .attachments .io-ox-inline-links {
        font-size: @phone-font-size;
        margin-left: 0;
    }
    .mail-detail {

        list-style-type: none;
        border-bottom: 0;

        .contact-picture {
            display: none;
        }

        .subject {
            font-size: @phone-font-size;
            padding: @default-padding;
        }

        .detail-view-header {
            padding-left: @default-padding;
            .sp {
                margin-right: 4px;
            }
        }

        .attachments {
            border-bottom-width: 0;
        }

        .mail-attachment-list .ul.inline-items li.item {
            line-height: 35px;
            .file a {
                color: @link-color;
            }
        }
        .mail-attachment-list {
            .links {
                display: block;
            }
        }

        section.attachments {
            margin-bottom: 0;
        }

        section.body {
            border-top: 1px solid #ccc;
            padding: 10px;
        }

        &:not(.expanded) .recipients {
            opacity: 1;
        }

        .subject {
            font-size: 15px;
            padding: 10px 0 0 0;
        }

        & > header {
            &.mobile-detail-view-mail {
                .date {
                    margin-left: 0;
                    display: inline-block;
                    float: none;
                }

                .flag-picker {
                    display: inline-block;
                    float: none;
                    position: absolute;
                    right: 20px;
                }
            }
        }

        .content {
            font-size: 16px;
            * {
                line-height: 1.42857142em; // ~20px at 14px
            }
        }
    }

    .thread-view.list-view {
        .list-item {
            margin-bottom: 0;
        }
    }

    .io-ox-sidepopup-pane .mail-detail.no-padding .detail-view-header {
        padding-left: 0;
    }

    .io-ox-sidepopup-pane .mail-detail-decorator .mail-detail {
        padding: 5px;
    }

    .mail-detail-pane .mail-detail-decorator .mail-detail {
        padding: 13px;
    }

    .io-ox-sidepopup-pane .mail-detail-decorator .mail-detail,
    .mail-detail-pane .mail-detail-decorator .mail-detail {

        a, span {
            font-size: 13px;
        }

        nav.io-ox-inline-links {
            float: right;
            margin: 0;
        }

        .flag {

            width: 16px;

            i {
                font-size: 15px;
            }

        }

        .mail-detail-clear-left {
            clear: both;
        }

        .from.list {

            font-size: 13px;
            a {
                word-break: break-all;
                .fontWeight(bold);
            }

            i {
                display: none;
            }

        }

        .to-cc.list, .attachment-list.list {
            margin-bottom: 5px;
        }

        .attachment-list.list {
            margin-top: 5px;
        }

        .person-link {
            white-space: normal; word-break: break-all;
        }

        .contact-picture {
            margin: 0;
            margin-left: 13px;
            float: right;
            display: block;
            width: 24px;
            height: 24px;
        }

        .subject {
            font-size: 13px;
            .fontWeight(bold);
            margin: 5px 0 0 0;
        }

        .date {
            font-size: 13px;
            float: none;
            padding-bottom: 4px;
            border-bottom: 1px solid #f1f1f1;
        }

        a.attachment-link {
            display: block;
            word-break: break-all;
        }

        div.dropdown.flag-dropdown.flag {
            margin: 0;
        }

        .recipient-actions {
            display: block;
            margin-bottom: 5px;
        }

        .content {
            margin-top: 13px;
        }

        .details-collapsed {

            .to-cc.list {

                span, a {
                    display: none;
                }

                span:first-child, a:nth-child(2),span:nth-child(2) {
                    display: inline;
                }

            }

            .recipient-actions {
                display: none;
            }

        }

    }

}
.to-cc { position: relative; }
