
.io-ox-editor {
    font-family: monospace;
    font-size: 14px;
    line-height: 21px;
    color: black;
    background-color: none;
    border: 0px none;
    outline: none;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 1em;
    margin: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased
}

.textile {
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: black;
    width: 45em;
    zoom: 1.0;
    padding: 1em;
    -webkit-font-smoothing: antialiased;
}

.textile-quote {
    color: #555;
    line-height: 1.1em;
    border-left: 3px solid #ccc;
    padding: 0.25em 1em 0.25em 1.5em;
    margin: 0;
    background-color: #f5f5f5;
    overflow: hidden;
    height: 2.1em;
    cursor: pointer;
}

.textile-quote-arrow {
    float: right;
    display: inline-block;
    margin: 0 0 1em 1em;
    font-size: 0.5em;
}

.textile-headline {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1em;
    margin: 0.2em 0 0 0;
    letter-spacing: -0.05em;
    -webkit-font-smoothing: auto;
}

.textile-headline:first-child {
    margin: 0;
}

.textile-border-top {
    border-top: 1px solid #ddd;
    padding-top: 0.5em;
    margin-top: 0.5em;
}

.textile-border-bottom {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.textile-code {
    font-family: monospace;
    white-space: pre;
    color: #3A6991;
}

.textile-url {
    color: #08c;
    text-decoration: none;
}

.textile-url:hover {
    text-decoration: underline;
}

.textile-list {
    margin: 0;
    padding: 0 0 0 2em;
}

.textile-list li {
    margin-bottom: 0.35em;
}

h1.textile-headline {
    font-size: 1.75em;
}

h2.textile-headline {
    font-size: 1.35em;
}

h3.textile-headline {
    font-size: 1.20em;
    font-weight: bold;
}

h4.textile-headline {
    font-size: 1.1em;
    font-weight: bold;
}

h5.textile-headline {
    font-size: 1em;
    font-style: italic;
}

h6.textile-headline, h7.textile-headline {
    font-size: 1em;
}

.textile-address {
    color: black;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px dotted #ccc;
}

.textile-address:hover {
    color: #888;
    border-bottom: 1px dotted #08c;
}

