/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 * © 2013 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

@controlsHeight: 34px;
@participantsWidth: 340px;

.free-busy-controls {

    top: auto;
    background-color: whiteSmoke;
    border-top: 1px solid #ddd;
    padding: 8px 13px;
    height: @controlsHeight;

    .add-participant {
        width: @participantsWidth - 82;
    }
}

.window-content .free-busy-view {

    bottom: @controlsHeight + 8 * 2 + 1;

    .user-select(none);

    h1 {
        position: absolute;
        top: 13px;
        left: 13px;
        margin: 0;
        line-height: 38px;
        font-family: @lightFontFamily;
        font-size: 20px;
    }

    .participants-view-scrollpane {
        top: 64px;
        padding: 0 13px 13px 13px;
        width: @participantsWidth;
        .box-sizing(border-box);
        .overflow-y();
    }

    .participants-view:after {
        content: ' ';
    }

    .participant-wrapper .remove {
        right: 11px;
    }

    .with-participant-color.removable {
        padding-right: 50px;
    }

    @opacity: 0.70;

    .participant-color {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 10px;
        background-color: #ccc;
        opacity: @opacity;
    }

    .modal-footer .btn.add-button {
        min-width: 3em;
    }

    .calendar-week-view {
        top: 10px;
        left: @participantsWidth;
    }

    .appointment {
        opacity: @opacity;
        cursor: pointer;
    }

    .appointment-content { cursor: inherit; }

    .appointment.fulltime {
        opacity: @opacity / 2;
        z-index: 0 !important;
    }

    /* copied from bootstrap; but without own background-color; mixins do not work here; therefore copy/paste */
    .striped(@angle: 45deg) {
        background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255,255,255,.15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255,255,255,.15)), color-stop(.75, rgba(255,255,255,.15)), color-stop(.75, transparent), to(transparent));
        background-image: -webkit-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
        background-image: -moz-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    }

    .appointment.striped {
        .striped();
        opacity: @opacity - 0.1;
    }

    .color-index-0 { background-color: darken(@blue, 10%); }
    .color-index-1 { background-color: darken(@blueLight, 20%); }
    .color-index-2 { background-color: @green; }
    .color-index-3 { background-color: @greenLight; }
    .color-index-4 { background-color: @yellow; }
    .color-index-5 { background-color: @orange; }
    .color-index-6 { background-color: @red; }
    .color-index-7 { background-color: @pink; }
    .color-index-8 { background-color: @purple; }

    .color-index-4 .appointment-content { color: #333; }
 }
