/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 * © 2013 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

 .free-busy-view {

    @participantsWidth: 340px;

    .participants-view-scrollpane {
        padding: 13px;
        width: @participantsWidth;
        .box-sizing(border-box);
        .overflow-y();
    }

    .participants-view:after {
        content: ' ';
    }

    .participant-wrapper .remove {
        right: 11px;
    }

    .with-participant-color.removable {
        padding-right: 50px;
    }

    .participant-color {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 10px;
        background-color: #eee;
    }

    .add-participant {
        width: @participantsWidth - 82;
    }

    .modal-footer .btn.add-button {
        min-width: 3em;
    }

    .calendar-week-view {
        top: 10px;
        left: @participantsWidth;
    }

    .appointment {
        opacity: 0.75;
    }

    .color-index-0 { background-color: @blue; }
    .color-index-1 { background-color: @blueLight; }
    .color-index-2 { background-color: @green; }
    .color-index-3 { background-color: @greenLight; }
    .color-index-4 { background-color: @yellow; }
    .color-index-5 { background-color: @orange; }
    .color-index-6 { background-color: @red; }
    .color-index-7 { background-color: @pink; }
    .color-index-8 { background-color: @purple; }
    .color-index-9 { background-color: #888; }
 }
