html.embedded {
    & [class^="cap-"], & [class*=" cap-"] {
        display: none;
    }
    &.cap-calendar .cap-calendar {
        display: initial;
    }
    &.cap-contacts .cap-contacts {
        display: initial;
    }
    &.cap-drive .cap-drive {
        display: initial;
    }
    &.cap-guard .cap-guard {
        display: initial;
    }
    &.cap-presenter .cap-presenter {
        display: initial;
    }
    &.cap-portal .cap-portal {
        display: initial;
    }
    &.cap-spreadsheet .cap-spreadsheet {
        display: initial;
    }
    &.cap-tasks .cap-tasks {
        display: initial;
    }
    &.cap-text .cap-text {
        display: initial;
    }
}