html.embedded{
    &.no-calendar a[href*=".calendar."] {
        display: none;
    }
    &.no-contacts a[href*=".contacts."] {
        display: none;
    }
    &.no-drive a[href*=".drive."] {
        display: none;
    }
    &.no-mail a[href*=".email."] {
        display: none;
    }
    &.no-guard a[href*=".guard."] {
        display: none;
    }
    &.no-portal a[href*=".portal."] {
        display: none;
    }
    &.no-tasks a[href*=".tasks."] {
        display: none;
    }
}