/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2013 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 */

.participantsrow {
    margin-bottom: 20px;
    margin-top: 10px;
}

.participant-wrapper {

    margin-bottom: 2px;
    position: relative;
    min-height: 54px; /* for floating icon */
    line-height: 20px;

    .autocomplete-item & {
        margin: 0;
    }

    &.pointer {
        cursor: pointer;
    }

    .remove {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 30px;
        line-height: 1em;
        background-color: #f5f5f5;
        color: #ccc;
        cursor: pointer;
        display: none;

        &:hover, &:focus {
            background-color: #a00;
            color: #fff;
            text-decoration: none;
            outline: 0;
        }

        .icon {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin-top: -0.5em;
            text-align: center;
        }
    }

    &.removable {
        padding-right: 40px;
        .remove {
            display: block;
        }
    }

    .participant-name {
        padding-top: 7px;
        font-weight: bold;
        .ellipsis();
    }

    .participant-email-wrapper, .extra-decorator-wrapper {
        .ellipsis();
    }

    .participant-email {
        .ellipsis();
    }

    .extra-decorator {
        color: #888;
        &:hover { color: #888; text-decoration: none }
    }

    &.three-rows {
        line-height: 18px;
        .participant-name {
            padding-top: 0;
        }
    }

    .participant-image {
        float: left;
        margin-right: 1em;
        .picture(54px, 54px); /* 54px allows 3 lines with 18px line-height */

        &.contact-image, &.external-user-image {
            background-image: url('apps/themes/default/dummypicture.png');
        }

        &.group-image {
            background-image: url('apps/themes/default/dummypicture_group.png');
            background-position: 0 -4px;
        }

        &.resource-image {
            background-image: url('apps/themes/default/dummypicture_resource.png');
        }
    }
}
