.participant-wrapper {
    position: relative;
    margin: 5px 0;
}
.participant-wrapper .remove {
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    width: 36px;
    height: 40px;
    line-height: 1em;
    background-color: white;
    color: #CCC;
    cursor: pointer;
}
.participant-wrapper .remove:hover {
    background-color: #a00;
    color: #fff;
    text-decoration: none;
}

.participant-wrapper .remove .icon {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -0.5em;
    text-align: center;
}