/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2011 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

 // was 35, but we need 45 for proper Japanese
 @thumbIndexWidth: 45px;

/* VGrid elements */

.contact-grid-container {

    &.abs {
        left: @thumbIndexWidth;
    }

    .vgrid-cell {

        &.contact {

            height: 60px;

            .private_flag {
                float: left;
                color: #AAA;
                font-size: 17px;
                margin-right: 3px;
            }

            .fullname {
                font-weight: normal;
                .last_name { font-weight: bold; }
            }

        }

        &.vgrid-label {
            text-align: left;
            font-weight: 300;
            font-size: 21px;
            color: @link-color;
            padding-top: 14px;
            padding-bottom: 7px;
            background-image: none;
            background-color: #fff;
            border-top: 0 none;
            border-bottom: 0 none;
        }

    }

}

// Tabs

.contact-grid-index {

    width: @thumbIndexWidth;
    overflow: hidden;
    .user-select(none);

    .thumb-index {

        font-size: 8pt;
        line-height: 10pt;
        padding: 4px 5px;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        margin: 1px 1px 0 1px;

        &:hover {
            color: @white;
            background-color: @link-color;
        }

        &.thumb-index-disabled, &.thumb-index-disabled:hover {

            color: #ccc;
            font-weight: normal;
            cursor: default;

            html.high-contrast & {
                color: @hc-gray;
            }

        }

    }

}

// Detail view

.contact-detail-edit  {
    width: 100%;
}

.contact-detail {

    width: 100%;

    .io-ox-inline-links:first-child {
        margin: 0 0 20px 0;
    }

    .contact-header {

        margin-bottom: 26px;
        min-height: 80px;

        .picture {
            float: left;
            display: inline-block;
            // to match h1's cap-line
            margin-top: 5px;
            .picture();
        }

        // .next-to-picture but this selector works better if picture if not availabel

        .picture + div {
            display: table;
            padding-left: 20px;
        }

        .private-flag {
            color: @hc-gray;
            font-size: 32px;
            line-height: 32px;
            margin-right: 10px;
            float: left;
        }

        h1 {
            font-family: @light-font-family;
            font-weight: 200;
            font-size: 24px;
            line-height: 28px;
            margin: 0;

            &.header-name {
                word-break: break-all;
            }
        }

        h2 {

            font-size: 16px;
            line-height: 20px;
            font-weight: 200;

            &.header-company {
                margin: 14px 0 14px 0;
            }

            &.header-job {
                color: @hc-gray;
                margin: 0 0 14px 0;
                word-break: break-all;
            }

        }

        h1:empty + h2.header-company {
            margin-top: 0;
        }

    }

    .attachments-container {

        min-height: 3em;
        font-weight: 300;

        .dropdown {

            display: inline-block;
            position: static;
            margin-right: 1em;

            &.open {
                position: relative;
            }

        }

    }

    .attachments-in-progress {
        width: 70px;
        height: 14px;
        display: inline-block;
    }

    .attachment-item {
        color: #333;
        word-break: break-all;
    }

    .comment, .description {
        font-weight: 300;
        // twice block-width plus margin
        max-width: 720px;
        margin-bottom: 26px;
        clear: both;
    }

    .block {

        display: inline-block;
        float: left;
        width: 350px;
        margin: 0 10px 30px 0;

        legend {
            font-family: @light-font-family;
            font-size: 16px;
            font-weight: 200;
            margin-bottom: 14px;
            border-bottom: 0 none;
        }

        dl {

            margin-bottom: 0;

            dt {

                width: 150px;
                text-align: left;
                color: #aaa;
                font-weight: 200;

                html.high-contrast & {
                    color: @hc-gray;
                }

            }

            dd {
                margin-left: 160px;
                word-break: break-all;
            }
        }
    }

    .google-maps {

        color: #333;
        white-space: pre;

        &:hover { text-decoration: none; }

        p {

            font-size: 12px;
            color: @link-color;
            margin-top: 10px;

            html.high-contrast & {
                color: @hc-link-color;
            }

        }

    }

    .member {
        height: 48px;
        clear: both;
        margin-bottom: 1em;
    }

    .member-picture {
        float: left;
        margin-right: 14px;
        .picture(48px, 48px);
    }

    .member-name {
        font-weight: bold;
        padding-top: 4px;
    }
}

// smartphone
@media (max-width: 480px), (max-device-width: 480px) {
    .io-ox-contacts-window {
        .vgrid.top-toolbar .vgrid-scrollpane {
            top: 0;
            bottom: 40px;
        }
    }
    .contact-grid-container {

        &.abs {
            left: 0;
            right: @thumbIndexWidth;
        }

    }

    .contact-grid-index {

        left: auto;
        right: 0;
        width: @thumbIndexWidth;
        padding: 10px 0;

        .thumb-index {
            font-size: 11px;
            line-height: 12px;
            padding: 0 5px 0 5px;
            margin: 0 1px 0 1px;
        }

    }

    .contact-detail {

        .io-ox-inline-links:first-child {

            margin: 0;
            padding: 15px 0;

            span.io-ox-action-link.dropdown {
                float: right;
            }

        }

        .block {
            width: 100%;
            margin-right: 0;
            line-height: 24px;

            .dl-horizontal dt {
                float: left;
            }
        }

    }

}

//io.ox/contacts/listview, io.ox/contacts/common-extensions
.contact-item {

    .fullname {
        .ellipsis();
        font-weight: bold;
        color: rgb(51, 51, 51);
    }

    .bright {
        .ellipsis();
        color: rgb(136, 136, 136);
        font-weight: 300;
    }
}
