image: docker:latest

include:
  - "/gitlab-ci/docker.yml"
  - "/gitlab-ci/preview_apps.yml"
  - "/gitlab-ci/documentation.yml"
  - "/gitlab-ci/e2e.yml"

stages:
  - build
  - test
  - deploy
  - e2e
  - report
  - cleanup

.default_cache: &default_cache
  cache:
    # use one cache
    key: "yarn"
    paths:
      - ".yarn-cache"

.build_ui: &build_ui
  <<: *default_cache
  image: gitlab.open-xchange.com:4567/frontend/dev_env:latest
  script:
    - cd ui
    - yarn --non-interactive --no-progress -s --cache-folder ../.yarn-cache
    - grunt ${CI_JOB_NAME}
  stage: build
  artifacts:
    expire_in: 2hours
    paths:
      - ui/build
      - ui/dist
      - ui/node_modules

# split build_ui into 2 build jobs (running on 2 different runners in parallel)
# this distributes workload onto 2 runners instead of one and basically halves build time
lint copy_build compile_po concat:bootjs uglify:dist_largeFiles less copy_dist:
  <<: *build_ui
  tags:
    - openstack

copy_build compile_po concat uglify:dist uglify:dist_i18n create_i18n_properties copy_dist:
  <<: *build_ui
  tags:
    - openstack

build ui docker image:
  dependencies:
    - lint copy_build compile_po concat:bootjs uglify:dist_largeFiles less copy_dist
    - copy_build compile_po concat uglify:dist uglify:dist_i18n create_i18n_properties copy_dist

test_ui:
  image: gitlab.open-xchange.com:4567/frontend/dev_env/browser:latest
  variables:
    BROWSERS: DockerHeadless
  script:
    - cd ui
    - yarn test
  stage: test
  dependencies:
    - lint copy_build compile_po concat:bootjs uglify:dist_largeFiles less copy_dist
    - copy_build compile_po concat uglify:dist uglify:dist_i18n create_i18n_properties copy_dist
  artifacts:
    reports:
      junit: ui/build/reports/unit/*/result.xml

run e2e tests:
  <<: *default_cache

.build_ui_plugin_template: &build_ui_plugin
  <<: *default_cache
  image: gitlab.open-xchange.com:4567/frontend/dev_env:latest
  stage: build
  script:
    - cd ${PROJECT_PATH}
    - yarn --non-interactive --no-progress -s --cache-folder ../.yarn-cache
    - grunt dist:build
  artifacts:
    expire_in: 2hours
    paths:
      - ${PROJECT_PATH}/build
      - ${PROJECT_PATH}/dist
      - ${PROJECT_PATH}/node_modules
  only:
    changes:
      - ${PROJECT_PATH}/**/*

build_help:
  variables:
    PROJECT_PATH: help
  <<: *build_ui_plugin

build_guidedtours:
  variables:
    PROJECT_PATH: guidedtours
  <<: *build_ui_plugin

build_spamexperts:
  variables:
    PROJECT_PATH: open-xchange-appsuite-spamexperts
  <<: *build_ui_plugin

build_dynamic-theme:
  variables:
    PROJECT_PATH: open-xchange-dynamic-theme
  <<: *build_ui_plugin
