
#io-ox-launchpad .pad {
    margin: 26px auto 26px auto;
    width: 700px;
}

#io-ox-launchpad .section {
    min-height: 50px;
    margin-bottom: 2em;
    clear: both;
}

#io-ox-launchpad h1 {
    font-family: @lightFontFamily;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 2em;
    text-shadow: 1px 1px 2px #fff;
    margin: 0 0 1em 0;
    border-bottom: 1px solid #bbb;
    clear: both;
}

#io-ox-launchpad .manage-apps {
    text-align: right;
}

#io-ox-launchpad .manage-apps .btn {
    margin-right: 0;
    margin-bottom: 2em;
}

#io-ox-launchpad .app {
    display: inline-block;
    width: 120px;
    min-height: 50px;
    padding: 0 10px 0 10px;
    margin: 0 0 2em 0;
    text-align: center;
    float: left;
    color: black;
}

#io-ox-launchpad a.app:focus {
    outline: 0;
    .box-shadow(none);
}

#io-ox-launchpad a.app:active {
    opacity: 0.60;
}

#io-ox-launchpad .app:hover {
    text-decoration: none;
}

#io-ox-launchpad .app .icon {
    width: 48px;
    height: 48px;
    margin: 0 0 0.25em 0;
}

#io-ox-launchpad .app .title {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.25em;
    color: #555;
    text-shadow: 0px 1px 2px #fff;
    overflow: hidden;
    text-overflow: ellipsis; /* does not work in 2 line mode right now */
    height: 2.5em;
}

#io-ox-launchpad .app .title.ellipsis {
    white-space: normal;
}

/* touch device */

.touch #io-ox-launchpad .pad { width: 1000px; }
.touch #io-ox-launchpad .app { width: 180px; font-size: @touchFontSize; }
.touch #io-ox-launchpad .app .icon { width: 64px; height: 64px; }
