.multifactorButtons {
    margin-top: 20px;
}
.multifactorButton {
    margin-right: 10px;
}

.multifactorRecovery {
    padding-top: 10px;
}

.multifactorRecoverySection {
    display: none;
}

.backupDescr {
    padding-bottom: 30px;
}

.multifactorRecoveryCodeDiv {
    font-size: 3em;
    font-weight: bold;
}

.countryCodes {
    display:inline;
    width: 200px;
    margin-right:30px;
}

.deviceNumber {
    display:inline;
}

.deviceNumber input {
    width: 50%;
    display:inline;
}

.emptyMultifactor {
    margin-top: 10px;
}

.io-ox-multifactor-settings .btn
{
    margin-top: 10px;
}

.totpShared
{
   font-weight: bold;
   font-size: 1.5em;
   position: absolute;
}

.verificationDiv
{
    padding-top: 10px;
    font-weight: bold;
}