.multifactorButtons {
    margin-top: 20px;
}
.multifactorButton {
    margin-right: 10px;
}

.multifactorRecovery {
    padding-top: 10px;
}

.multifactorRecoverySection {
    display: none;
}

.backupDescr {
    padding-bottom: 30px;
}

.multifactorRecoveryCodeDiv {
    font-size: 3em;
    font-weight: bold;
}