#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

ifneq (,$(or $(filter noopt,$(DEB_BUILD_OPTIONS)),$(filter nostrip,$(DEB_BUILD_OPTIONS))))
	FLAGS += debug=1
endif

HTDOC := /var/www/html

PKGNAME := $(strip $(shell egrep '^Source: ' debian/control | cut -f 2 -d ':'))
ROOT := $(CURDIR)/debian/$(PKGNAME)

override_dh_auto_install:
	mkdir -p $(ROOT)/$(HTDOC)

	cp -rv --preserve=mode opt $(ROOT)
	cp -rv --preserve=mode htdoc/* $(ROOT)/$(HTDOC)

override_dh_installdeb:
	sed -i -e "s:## cd ##:cd /$(HTDOC)/appsuite:" "$(ROOT)/opt/open-xchange/sbin/touch-appsuite"
	sed -i "s:@DOCROOT@:$(HTDOC):g" $(CURDIR)/debian/open-xchange-appsuite.conffiles
	dh_installdeb

%:
	dh $@
