/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2014 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author Mario Schroeder <mario.schroeder@open-xchange.com>
 * @author Edy Haryono <edy.haryono@open-xchange.com>
 */

@viewer-text-color: #ffffff;
@viewer-background-color: rgba(0, 0, 0, 0.85);

@viewer-toolbar-height: 40px;
@viewer-toolbar-bgcolor: #000000;

@viewer-sidebar-bgcolor: #202020;
@viewer-sidebar-width: 30%;

.io-ox-viewer {

    background-color: @viewer-background-color;
    z-index: 11; // just to one more than #io-ox-screens
    color: @viewer-text-color;

    .viewer-toolbar {

        height: @viewer-toolbar-height;
        line-height: @viewer-toolbar-height;
        background: @viewer-toolbar-bgcolor;
        padding: 0 1rem;

        .close-viewer {

            position: absolute;
            top: 0;
            right: 0;
            height: @viewer-toolbar-height;
            color: rgba(255, 255, 255, 0.5);

            &:hover {
                color: #ffffff;
            }
        }
    }

    .viewer-sidebar {

        float: right;
        height: 100%;
        width: @viewer-sidebar-width;
        padding: 1rem;
        background: @viewer-sidebar-bgcolor;

    }
}
