.io-ox-signature-import {

    .classic-sig-preview {
        background-color: white;
        border: 1px solid black;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        font-family: Courier;
    }

    .sig-row {
        cursor: pointer;
        border-top: 10px solid white;
        background-color: whitesmoke;
    }

}

input.error {
    border-color: #b94a48;
}