/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2012 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

.io-ox-mail-write {
    .leftside, .rightside {
        background-color: #f5f5f5;
        padding: 13px;
    }
    .leftside .scrollable-pane .title {
        white-space: nowrap;
    }
    .leftside .alert {
        margin-top: 13px;
    }
}

.oldschool { margin: 0; }

.io-ox-mail-write h1.title {
    font-family: @light-font-family;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    margin: 0 0 13px 0;
}

.io-ox-mail-write .subject-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.io-ox-mail-write .priority-overlay {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 30px;
    font-weight: bold;
    font-size: 16px;
    color: #eee;
    z-index: 1;
    cursor: pointer;
    width: 40px;
    text-align: right;
    padding-right: 13px;
    .user-select(none);
}

.io-ox-mail-write .priority-overlay.high {
    color: @mail-priority;
}

.io-ox-mail-write .priority-overlay.normal {
    color: #ddd;
}

.io-ox-mail-write .priority-overlay.low {
    color: #0af;
}

.io-ox-mail-write .sendbutton-wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

.io-ox-mail-write .sendbutton {
    width: 80px;
    margin: 0 85px 0 0;
}

.io-ox-mail-write .draftbutton-wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

.io-ox-mail-write .draftbutton {
    width: 40px;
    margin: 0;
}

.io-ox-mail-write .fieldset {
    position: relative;
    margin-bottom: 13px;
}

.io-ox-mail-write .fieldset .tooltip {
    position: absolute;
    top: -1.5em;
    right: 0;
    font-size: 12px;
    padding: 0.25em 0 0.25em 0;
    color: #555;
    text-shadow: 1px 1px 2px white;
}

.io-ox-mail-write textarea {
    -webkit-border-radius: 0;
    -webkit-appearance: none;

    &.monospace {
        font-family: monospace;
    }
}

.touch .io-ox-mail-write textarea {
    font-size: @font-size-touch;
}

.io-ox-mail-write input[type=text],
.io-ox-mail-write input[type=text].discreet:focus {

    font-size: @font-size-base;
    line-height: 18px;
    height: 29px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    outline: 0;
    margin: 0;
    padding: 5px 5px 4px 5px;
    width: 100%;
    -webkit-border-radius: 0;
    -webkit-appearance: none;

    &:-ms-input-placeholder {
        color: #aaa;
    }

}

.touch .io-ox-mail-write input[type=text],
.touch .io-ox-mail-write input[type=text].discreet:focus {
    font-size: @font-size-touch;
    line-height: @font-size-touch + 6;
    height: @font-size-touch + 6 + 9;
}

.io-ox-mail-write input[type=text]:focus,
.io-ox-mail-write input[type=text].discreet:focus {
    border-color: rgba(82, 168, 236, 0.8);
    .box-shadow(0 0 8px rgba(82, 168, 236, 0.6));
}

.io-ox-mail-write input[type=text].discreet {
    border-color: #e0e0e0;
}

.io-ox-mail-write input[type=text].subject {
    font-weight: bold;
    font-size: 14px;
    padding: 5px 80px 4px 10px;
    text-overflow: ellipsis;
}

.touch .io-ox-mail-write input[type=text].subject {
    font-size: @font-size-touch + 2;
}

.io-ox-mail-write input[type=file] {
    outline: 0;
}

.io-ox-mail-write input[type=file]:focus {
    .box-shadow(0 0 4px 0 @outline-color);
}

.io-ox-mail-write .wrapping-label {
    display: block;
    font-size: smaller;
    margin-bottom: 0;
}

.io-ox-mail-write .io-ox-label {
    color: #000;
    line-height: 1.25em;
    padding: 0 0 5px 0;
    font-family: @light-font-family;
    cursor: pointer;
}

.io-ox-mail-write .collapse {
    font-size: 11px;
    padding: 0 0 3px 0;
    float: right;
    display: inline-block;
}

.io-ox-mail-write .recipient-list {
    margin-bottom: 5px;
}

.io-ox-mail-write .section-link {
    font-family: @light-font-family;
    white-space: nowrap;
    line-height: 1em;
    margin-bottom: 1em;
    i.fa {
        margin-right: 5px;
    }
}

.io-ox-mail-write .section[data-section='All']{
    font-family: @light-font-family;
}

.io-ox-mail-write-contact {

    .contact-image {
        height: 3 * 14px;
        width: 3 * 14px;
        margin-right: 14px;
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
    }

    .recipient-name {
        font-weight: 500;
        .ellipsis();
    }

    .email {
        color: @link-color;
        .ellipsis();
    }
}

.io-ox-mail-write .section {
    margin-bottom: 1.5em;
}

.io-ox-mail-write .section-item {

    position: relative;
    line-height: 1.5em;
    background-color: white;
    margin-bottom: 2px;
    padding: 4px 2.5em 4px 5px;

    legend {
        font-size: @font-size-base;
        border: 0;
        margin: 0;
        position: relative;
        bottom: 10px;
        left: -6px;
        &.group-label {
            left: 0px;
            top: 13px;
        }
    }

    &.pointer {
        cursor: pointer;
    }

    div {
        .ellipsis();
    }

    .remove {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        width: 2em;
        line-height: 1em;
        background-color: #f5f5f5;
        color: #aaa;
        cursor: pointer;
    }

    .remove:hover {
        background-color: #a00;
        color: #fff;
        text-decoration: none;
    }

    .remove .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -7px 0 0 -6px;
    }

    .group-label {
        display: block;
        font-style: italic;
        margin-right: 1em;
    }

    &.signature-remove a {
        color: #800;
    }

     .signature-preview {
        font-style: italic;
        color: #888;
        white-space: normal;
    }

    &.upload {
        background-color: #f5f5f5;
        padding-right: 5px;
    }

    &.file {
        position: relative;
        height: 3em;
        line-height: 1.5em;
    }
}

.io-ox-mail-write .section-item > i {
    position: absolute;
    font-size: 20px;
    top: 15px;
    left: 11px;
}

.io-ox-mail-write .section-item .row-1 {
    position: absolute;
    left: 40px;
    right: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.io-ox-mail-write .section-item .row-2 {
    position: absolute;
    left: 40px;
    right: 30px;
    top: 23px;
}

.io-ox-mail-write .section-item .filesize {
    color: #aaa;
}

.io-ox-mail-write .editor-outer-container {
    top: 93px;
    right: 9px;
    bottom: 9px;
    left: 9px;
}

.io-ox-mail-write .editor-background {
    top: 4px; right: 4px; bottom: 4px; left: 4px;
    background-color: white;
    z-index: 1;
}

.io-ox-mail-write .editor-inner-container {
    padding: 4px;
    z-index: 3;
}

.io-ox-mail-write .text-editor {
    font-family: @normal-font-family;
    font-size: 14px;
    line-height: 20px;
    color: black;
    background-color: transparent;
    border: 1px solid #ccc;
    outline: none;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 10px;
    margin: 0;
}

.io-ox-mail-write .text-editor:focus {
     border-color: rgba(82, 168, 236, 0.8);
    .box-shadow(0 0 8px rgba(82, 168, 236, 0.6));
}

.io-ox-mail-write .change-format {
    text-align: right;
}

.io-ox-mail-write .change-format a {
    color: @link-color;
    font-weight: 300;
}

.io-ox-mail-write .change-format a.active {
    color: darken(@link-color, 50%);
    font-weight: 500;
}


// Proofread

.io-ox-mail-proofread {
    background-color: #555;
    background-color: rgba(0, 0, 0, 0.40);
    z-index: 10000;
    overflow: auto;
}

// tinyMCE polishing

// .editor-inner-container {
//     .oxSkin table.mceLayout.focused tr.mceLast td {
//         border-color: rgba(82, 168, 236, 0.8);
//         .box-shadow(0 0 8px rgba(82, 168, 236, 0.6));
//     }
//     .oxSkin table.mceLayout {
//         border: 0 none;
//         border-left: 0 none;
//         border-right: 0 none;
//     }
//     .oxSkin table.mceLayout tr.mceLast > td {
//         border: 1px solid #ccc;
//         border-bottom: 1px solid #ccc;
//     }
//     .oxSkin table.mceLayout tr.mceFirst > td {
//         border-top: 0 none;
//         padding: 4px 0 12px 0;
//     }
//     .oxSkin table.mceSplitButtonEnabled:hover a.mceAction,
//     .oxSkin a.mceButtonEnabled:hover,
//     .oxSkin table.mceSplitButtonEnabled:hover a.mceOpen,
//     .oxSkin table.mceListBoxEnabled:hover .mceText,
//     .oxSkin table.mceListBoxEnabled:hover .mceOpen {
//         border-color: rgba(82, 168, 236, 0.8); background-color: rgba(82, 168, 236, 0.2);
//     }
// }

// tablet
@media (max-width: 1024px), (max-device-width: 1024px) {
    .io-ox-mail-write-window {
        .textarea-shift{
            right: 243px;
            width: auto;
        }
        .mobile-emoji-shift {
            .subject-wrapper {
                width: 93%;
            }
            .priority-overlay {
                right: 9%;
            }
        }
        .emoji-icon {
            position: absolute;
            right: 5px;
            top: 5px;
            background: url('img/emoji.png');
            width: 20px;
            height: 20px;
        }

        @font-face {
            font-family: 'AndroidEmojiRegular';
            src: url('font/androidemoji.eot');
            src: url('font/androidemoji.eot') format('embedded-opentype'),
                 url('font/androidemoji.woff') format('woff'),
                 url('font/androidemoji.ttf') format('truetype');
        }

        .emojifont {
            font-family: 'AndroidEmojiRegular';
        }

        img.emoji {
            border: 0;
        }

        .table-cell-fix {
            position: relative;
            height: 100%;
            width: 100%;
        }

        // only apply this adjustments on tablet, therefore checking for .touch
        .touch & .mceEmojiPane {
            position: absolute;
            right: 0;
            top: 97px;
            bottom: 13px;
            height: auto;
            z-index: 1000;

            width: 255px;
            vertical-align: top;

            border: 1px solid #ccc;
            border-width: 1px 1px 1px 1px;

            @background: #f5f5f5;
            @emojiTabHeight: 34px;

            .emoji-tabs {
                height: @emojiTabHeight;
                bottom: auto;
            }

            .emoji-tab {
                font-size: 12px;
                line-height: 20px;
                color: white;
                padding: 7px 14px;
                background-color: #ccc;
                border: 1px solid white;
                cursor: pointer;
            }

            .emoji-tab.left {
                right: 50%;
                border-right: 0 none;
            }

            .emoji-tab.right {
                left: 50%;
            }

            .emoji-tab.active {
                background-color: #333;
            }

            .emoji-tab:focus, .emoji-tab:active {
                outline: 0;
                background-color: #555;
            }

            .emoji-header {

                line-height: 20px;
                height: 25px;
                bottom: auto;

                padding: 0 0 0 14px;
                background-color: @background;

                .emoji-category {
                    line-height: 25px;
                    font-weight: bold;
                    color: #333;
                    display: inline-block;
                    width: 100%;
                    padding-right: 30px;
                    .ellipsis();
                }

                i {
                    line-height: 20px;
                }
            }

            .emoji-use-tabs .emoji-header {
                top: @emojiTabHeight;
            }

            .emoji-options {
                .dropdown-toggle {
                    width: 34px;
                    height: 20px;
                    padding: 7px 0;
                    display: inline-block;
                    text-align: center;
                }
                .dropdown-toggle:focus {
                    outline: 0;
                    background-color: #08c;
                    i { color: white; }
                }
            }

            .emoji-icons {

                top: 25px;
                bottom: 50px;
                padding: 5px;
                white-space: normal;

                overflow: auto;
                background-color: white;
            }

            .emoji-use-tabs .emoji-icons {
                top: 25px + @emojiTabHeight;
            }

            .reset-recents {
                color: @link-color;
                cursor: pointer;
                display: block;
                margin: 7px 0;
                text-align: right;
                &:hover { text-decoration: underline; }
            }

            .emoji {

                width: 20px;
                margin: 12px;
                cursor: pointer;

                &:focus {
                    outline: 5px solid #ccc;
                    background-color: #ccc;
                }
            }

            .emoji-footer {

                top: auto;
                height: 50px;
                padding: 7px 0 7px 14px;
                white-space: normal;
                border-top: 1px solid #fff;

                overflow: hidden;
                background-color: @background;
                .vertical-gradient(@background, darken(@background, 10%));

                .emoji {
                    margin: 0 27px 3px 0;
                }
            }
        }
    }
}

// MEDIUM SCREENS
@media (max-width: 700px) {
    .io-ox-mail-write {

        .overflow();

        form { margin: 0; }

        .leftside {
            position: relative;
            width: 100%;
            height: auto;
            padding-bottom: 0;
            overflow: visible;
        }

        .rightside {
            position: relative;
            left: 0;
            width: 100%;
            height: 600px;
        }

        .section-link {
            display: inline-block;
            margin-right: 1em;
        }

        [data-section-label="format"], [data-section="format"] {
            display: none;
        }

        .inline-buttons .btn {
            margin-left: 4px;
        }
    }
}
@media (max-width: 480px), (max-device-width: 480px)  {
    .io-ox-mail-write {
        .mobile-emoji-shift {
            .subject-wrapper {
                width: 85%;
            }
        }
        .io-ox-mail-write input[type=text].subject {
            font-weight: bold;
            font-size: 14px;
            padding: 5px 80px 4px 10px;
            text-overflow: ellipsis;
        }
        .text-editor {
            height: 200px;
            position: relative;
            bottom: 50px;
            top: 1px;
            padding: 5px;
            //to prevent buttons to overlap inputfield
            margin-bottom: 60px;
            &:focus {
                box-shadow: none;
                -webkit-box-shadow: none;
                border-color: #ccc;
            }
        }
        input[type=text], textarea, .text-editor, input[type=text]:focus, input[type=text].discreet:focus, textarea.discreet:focus {
            border: 0;
            border-bottom: 1px solid #ccc;
            box-shadow: none;
            -webkit-box-shadow: none;
        }

        input[type=text].subject {
            padding-left: 5px;
            padding-right: 30px;
        }
        .leftside {
            // let's make it flat
            background: #fff;
            .title {
                display: none;
            }
            padding: 5px;
        }
        .rightside {
            // let's make it flat
            background: #fff;
            padding: 5px;
            height: auto;

            .subject-wrapper {
                position: static;

            }
            .editor-outer-container {
                border-top-width: 0;
                left: 1px;
                right: 1px;
                top: 40px;
            }
            .editor-inner-container {
                .text-editor {
                    border-top: none;
                    padding: 5px;
                }

            }

            .priority-overlay {
                display: none;
            }
        }
    }
    .io-ox-mail-write-window {
    .emoji-icon {
        position: absolute;
        right: 5px;
        top: 5px;
        background: url('img/emoji.png');
        width: 20px;
        height: 20px;
    }

    @font-face {
        font-family: 'AndroidEmojiRegular';
        src: url('font/androidemoji.eot');
        src: url('font/androidemoji.eot') format('embedded-opentype'),
             url('font/androidemoji.woff') format('woff'),
             url('font/androidemoji.ttf') format('truetype');
    }

    .emojifont {
        font-family: 'AndroidEmojiRegular';
    }

    img.emoji {
        border: 0;
    }

    .table-cell-fix {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .touch & .mceEmojiPane {
        -webkit-touch-callout: none;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 200px;
        width: 100%;
        z-index: 1000;
        top: auto;

        vertical-align: top;

        border: 1px solid #ccc;
        border-width: 1px 1px 1px 0;

        @background: #f5f5f5;
        @emojiTabHeight: 34px;

        .emoji-tabs {
            height: @emojiTabHeight;
            bottom: auto;
        }

        .emoji-tab {
            font-size: 12px;
            line-height: 20px;
            color: white;
            padding: 7px 14px;
            background-color: #ccc;
            border: 1px solid white;
            cursor: pointer;
        }

        .emoji-tab.left {
            right: 50%;
            border-right: 0 none;
        }

        .emoji-tab.right {
            left: 50%;
        }

        .emoji-tab.active {
            background-color: #333;
        }

        .emoji-tab:focus, .emoji-tab:active {
            outline: 0;
            background-color: #555;
        }

        .emoji-header {

            line-height: 20px;
            height: 25px;
            bottom: auto;

            padding: 0 0 0 14px;
            background-color: @background;

            .emoji-category {
                line-height: 25px;
                font-weight: bold;
                color: #333;
                display: inline-block;
                width: 100%;
                padding-right: 30px;
                .ellipsis();
            }

            i {
                line-height: 20px;
            }
        }

        .emoji-use-tabs .emoji-header {
            top: @emojiTabHeight;
        }

        .emoji-options {
            .dropdown-toggle {
                width: 34px;
                height: 20px;
                padding: 7px 0;
                display: inline-block;
                text-align: center;
            }
            .dropdown-toggle:focus {
                outline: 0;
                background-color: #08c;
                i { color: white; }
            }
        }

        .emoji-icons {

            top: 25px;
            bottom: 50px;
            padding: 5px;
            white-space: normal;

            overflow: auto;
            background-color: white;
        }

        .emoji-use-tabs .emoji-icons {
            top: 25px + @emojiTabHeight;
        }

        .reset-recents {
            color: @link-color;
            cursor: pointer;
            display: block;
            margin: 7px 0;
            text-align: right;
            &:hover { text-decoration: underline; }
        }

        .emoji {

            width: 20px;
            margin: 12px;
            cursor: pointer;

            &:focus {
                outline: 5px solid #ccc;
                background-color: #ccc;
            }
        }

        .emoji-footer {

            top: auto;
            height: 35px;
            padding: 7px 0 7px 14px;
            white-space: normal;
            border-top: 1px solid #fff;

            overflow: hidden;
            background-color: @background;
            .vertical-gradient(@background, darken(@background, 10%));

            .emoji {
                margin: 0 27px 3px 0;
            }
        }

        // bootstrap re-resets

        .dropdown-toggle, .dropdown-toggle * { cursor: pointer; }

        .dropdown-menu {
            padding: 5px 0;
            margin: 2px 0 0;
            background-color: #FFF;
            border: 1px solid rgba(0, 0, 0, 0.2);
            a { cursor: pointer; }
        }
    }
}
}
