<div>	
<form class="fileForm">
	<!-- 12 column grid for the poor -->
	<table style="width:100%">
		<tr>
			<td colspan="4"><h2>File Upload</h2></td>
			<td colspan="4">&nbsp;</td>
			<td colspan="2">&nbsp;</td>
			<td colspan="2"><a href="#" class="more">Show More</a></td>
		</tr>
		<tr>
			<td colspan="12">&nbsp;</td>
		</tr>
		<tr class="extendedForm">
			<td colspan="4"><label for="title">Title</label></td>
			<td colspan="4"><input type="text" name="title" class="title" style="width:100%"></input></td>
			<td colspan="4">&nbsp;</td>
		</tr>
		<tr class="extendedForm">
			<td colspan="4"><label for="url">URL / Link</label></td>
			<td colspan="4"><input type="text" name="url" class="url" style="width:100%"></input></td>
			<td colspan="4">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="12">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="8"><input type="file" name="file" class="file" style="width:100%"></input></td>
			<td colspan="4">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="12">&nbsp;</td>
		</tr>
		<tr class="extendedForm">
			<td colspan="8">
				<label for="comment">Comment</label><br />
				<textarea name="comment" rows="10" style="width:100%"></textarea>
			</td>
			<td colspan="4">&nbsp;</td>
		</tr>
	</table>
</form>
</div>
