
.picture-uploader {
    width: 100px;
    height: 100px;
    display: inline-block;
    float: left;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}

.picture-uploader .close {
	position: absolute;
	top: 4px;
	right: 4px;
	opacity: 0.6;
	width: 24px;
	height: 24px;
	text-align: center;
	background-color: #fff;
}
