@topbar-launcher-color-hover: #FD9;
@topbar-launcher-color-active: #333;
@topbar-launcher-background-active: #FD9;
@topbar-progress-color: #444;

@toolbar-link-color: lighten(#FD9, 20%);

@tile-color-0: #6AD;
@tile-color-1: #47A;
@tile-color-2: #6AD;
@tile-color-3: #47A;
@tile-color-4: #6AD;

@tile-color-5: #47A; 
@tile-color-6: #6AD; 
@tile-color-7: #47A; 
@tile-color-8: #6AD; 
@tile-color-9: #47A; 

@tile-hover: 8%;


@link-on-dark: #AAA;

@wallpaper-color1: white;
@wallpaper-color2: white;
@wallpaper-color3: white;

/* 47A fd9 6ad */