/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 * © 2012 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author Christoph Hellweg <christoph.hellweg@open-xchange.com>
 */

@weekviewTimeWithSmall: @weekviewTimeWith - 13;
@weekviewFooterHeight: 21px;

.week-view {

    * {
        .box-sizing(border-box);
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    .week {
        width: 100%;
        min-height: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        border-right: 1px solid #ccc;
        overflow: hidden;
        .transition(background-color 0.4s);
        .backface-visibility(hidden);
    }

    .footer-container {

        height: @weekviewFooterHeight;
        left: 0;
        right: 0;
        width: 100%;
        .overflow(hidden);

        .footer {

            position: absolute;
            line-height: @weekviewFooterHeight - 1;
            right: 0;
            left: @weekviewTimeWith;
            white-space: nowrap;

            .weekday {

                display: inline-block;
                font-size: 13px;
                text-align: left;
                .ellipsis;

                &.today {
                    font-weight: bold;
                }

            }

        }

    }

    .week-view-container {

        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: @calendarToolbarHeight + @weekviewFooterHeight;

        .fulltime-container {

            position: absolute;
            height: @weekviewFooterHeight;
            overflow-y: scroll;
            overflow-x: hidden;
            border-bottom: 1px solid #ccc;
            left: @weekviewTimeWith;
            right: 0px;

            .fulltime {

                position: relative;
                height: 100%;

                .note {
                    position: absolute;
                    background: none;
                    width: 100%;
                    font-size: 12px;
                    font-weight: 200;
                    color: #aaa;
                    text-align: right;
                    .ellipsis;
                    .user-select(none);
                    padding: 0px 10px;
                }

                .day {
                    border: none;
                }

                .appointment-content {
                    border-left: 1px solid rgba(255, 255, 255, 0.6);
                }

            }

        }

        .scrollpane {

            .overflow-y(scroll);
            .overflow-x(hidden);
            position: absolute;
            top: @weekviewFooterHeight;
            left: 0;
            right: 0;
            bottom: 0;

            .week-container-label {

                width: @weekviewTimeWith;
                position: absolute;

                .time {

                    position: relative;
                    height: 48px;

                    .number {
                        font-size: 12px;
                        position: absolute;
                        right: 8px;
                        bottom: -9px;
                    }

                }

            }

            .week-container {

                left: @weekviewTimeWith;
                right: 0;
                position: absolute;

                .timeline {
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    background-color: @weekviewTimeline;
                    z-index: 10;
                    .user-select(none);
                }

            }

        }

    }

    /* Hide days in dayview */
    .dayview {

        .week-view-container {
            top: @calendarToolbarHeight;
        }

        .footer-container {
            display: none;
        }

    }

    .day {

        position: relative;
        height: 100%;
        float: left;
        border-left: 1px solid #ccc;
        background-color: rgba(0, 0, 0, 0.01);

        .timeslot {

            border-bottom: 1px solid #ccc;
            height: 24px;

            &:nth-child(2n+1) {
                border-bottom-style: dotted;
            }

            &:last-child, .time:last-child {
                border: none;
            }

            &.in {
                background-color: @weekviewDayIn;
            }

            &.out {
                background-color: @weekviewDayOut;
            }

        }

        &.today .timeslot {

            &.in {
                background-color: darken(@weekviewDayIn, 5%);
            }

            &.out {
                background-color: darken(@weekviewDayOut, 3%);
            }

        }

    }

    .appointment {

        position: absolute;
        background-color: #ccc;
        opacity: 1;
        .transition(opacity 0.2s);
        .backface-visibility(hidden);

        &.modify {
            cursor: pointer;
        }

        &.border {
            border: 1px solid rgba(0, 0, 0, 0.2);
        }

        &.current {
            z-index: 9 !important;
        }

        &.lasso {
            border: 1px solid #08c;
            background-color: @weekviewAppointmentLasso;
            opacity: @appointmentDeclinedAlpha;
            width: 100%;
            cursor: default;
            .box-sizing(border-box);
        }

        .private-flag {
            float: left;
            font-size: 15px;
            margin-right: 3px;
        }

        .appointment-content {
            height: 100%;
            font-size: 12px;
            color: #fff;
            padding: 0px 7px 0px 7px;
            .ellipsis;

            * {
                .ellipsis;
            }

        }

        /* Resize bars */
        .ui-resizable-handle {
            position: absolute;
            font-size: 0.1px;
            display: block;
        }

        .ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle {
            display: none;
        }

        .ui-resizable-n {
            cursor: n-resize;
            height: 7px;
            width: 100%;
            top: -3px;
            left: 0;
        }

        .ui-resizable-s {
            cursor: s-resize;
            height: 7px;
            width: 100%;
            bottom: -3px;
            left: 0;
        }

        .ui-resizable-e {
            cursor: e-resize;
            width: 7px;
            right: 0px;
            top: 0;
            height: 100%;
        }

        .ui-resizable-w {
            cursor: w-resize;
            width: 7px;
            left: 0px;
            top: 0;
            height: 100%;
        }

    }

    /* Mobile */
    @media all and (max-width: 480px) {

        .week-view-container {

            .fulltime-container {
                left: @weekviewTimeWithSmall;
            }

            .scrollpane {

                .week-container-label {
                    width: @weekviewTimeWithSmall;
                }

                .week-container {
                    left:  @weekviewTimeWithSmall;
                }

            }

        }

        .dayview {

            .week-view-container {
               top: @calendarToolbarHeight + 15;
            }

        }

    }

}
