Source: open-xchange-appsuite-help
Section: non-free/web
Priority: optional
Maintainer: Viktor Pracht <viktor.pracht@open-xchange.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://open-xchange.com
Vcs-Svn: https://svn.open-xchange.com/Documentation/guides-appsuite-ready/oxhe
Vcs-Browser: https://websvn.open-xchange.com/listing.php?repname=Documentation&path=%2Fguides-appsuite-ready%2Foxhe%2F&

Package: open-xchange-appsuite-help-de-de
Architecture: all
Depends: ${misc:Depends}
Provides: open-xchange-appsuite-help
Description: de_DE online help for OX App Suite

Package: open-xchange-appsuite-help-en-us
Architecture: all
Depends: ${misc:Depends}
Provides: open-xchange-appsuite-help
Description: en_US online help for OX App Suite
