/* basic definitions */

@accent1-bright: #00a0cd;
@accent1: #006897;
@accent1-dark: #001e37;
@accent2: #c84673;

/* assignments */

@link-color: @accent1;
@link-color-dark: @accent1-dark;
@toolbar-primary-color: #555;
@mail-priority: @accent2;
@app-favorites: @accent2;

/* individual definitions */

@menu-background: #000;
@menu-color: #fff;

@background: #fff;
@color: #000;

@selected-background: #08c;
@selected-color: #5C9CCC;

@status-background: #F0F0F0;
@status-color: #000;

@head-background: @menu-background;
@head-color: @menu-color;

@window-title-color: #444;
@toolbar-link-color: @toolbar-primary-color;

@window-control-color: @toolbar-primary-color;
@window-control-border-color: @toolbar-primary-color;
@window-control-background-hover: rgba(255, 255, 255, 0.5);
@window-control-border-color-hover: #111;
@window-control-color-hover: #111;

@welcome-background: #eee;
@welcome-background-rgba: rgba(255, 255, 255, 0.25);
@welcome-border-color: #aaa;
@welcome-color: #333;
@welcome-color-accent: #888;
@welcome-color-bright: #777;

@settings-background: @menu-background;
@settings-color: @menu-color;

@inline-link-border-color: #ddd;