
html {
    padding: 13px;
    max-width: 650px;
}

body {

    width: 100%;
    padding: 0;
    margin: 0;

    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;

    color: #000;
    background-color: white;
}

body > *:first-child {
    margin-top: 0 !important;
}

a {
    color: #00a0cd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 1em 0 1em 0;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.35em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }

blockquote {
    border-left: 1px solid #08C;
    padding: 1px 1em 1px 39px;
    margin: 1em 0 1em 0;
    opacity: 0.5;
}

blockquote blockquote { opacity: 1.0; }
