/* Reset */
.oxSkin table, .oxSkin tbody, .oxSkin a, .oxSkin img, .oxSkin tr, .oxSkin div, .oxSkin td, .oxSkin iframe, .oxSkin span, .oxSkin *, .oxSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.oxSkin a:hover, .oxSkin a:link, .oxSkin a:visited, .oxSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.oxSkin table td {vertical-align:middle}

/* Containers */
.oxSkin table {direction:ltr;background:transparent}
.oxSkin iframe {display:block;}
.oxSkin .mceToolbar {height:26px; outline: 0;}
.oxSkin .mceLeft {text-align:left}
.oxSkin .mceRight {text-align:right}

/* External */
.oxSkin .mceExternalToolbar {position:absolute; border:1px solid #CCC; border-bottom:0; display:none;}
.oxSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.oxSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.oxSkin table.mceLayout {border:0; border-left:1px solid #CCC; border-right:1px solid #CCC}
.oxSkin table.mceLayout tr.mceFirst td {border-top:1px solid #CCC}
.oxSkin table.mceLayout tr.mceLast td {border-bottom:1px solid #CCC}
.oxSkin table.mceToolbar, .oxSkin tr.mceFirst .mceToolbar tr td, .oxSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0;}
.oxSkin td.mceToolbar {background:#f5f5f5; padding-top:1px; vertical-align:top}
.oxSkin .mceIframeContainer {border-top:1px solid #CCC; border-bottom:1px solid #CCC}
.oxSkin .mceStatusbar {background:#f5f5f5; font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:9pt; line-height:16px; overflow:visible; color:#000; display:block; height:20px}
.oxSkin .mceStatusbar div {float:left; margin:2px}
.oxSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(../../img/icons.gif) -800px 0; width:20px; height:20px; cursor:se-resize; outline:0}
.oxSkin .mceStatusbar a:hover {text-decoration:underline}
.oxSkin table.mceToolbar {margin-left:3px}
.oxSkin span.mceIcon, .oxSkin img.mceIcon {display:block; width:20px; height:20px}
.oxSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}
.oxSkin td.mceCenter {text-align:center;}
.oxSkin td.mceCenter table {margin:0 auto; text-align:left;}
.oxSkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.oxSkin .mceButton {display:block; border:1px solid transparent; width:20px; height:20px; margin-right:1px}
.oxSkin a.mceButtonEnabled:hover {border:1px solid #ddd; background-color:#ffffff;}
.oxSkin a.mceButtonActive, .oxSkin a.mceButtonSelected {border:1px solid #ddd; background-color:#eee}
.oxSkin .mceButtonDisabled .mceIcon {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.oxSkin .mceButtonLabeled {width:auto}
.oxSkin .mceButtonLabeled span.mceIcon {float:left}
.oxSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Arial,Helvetica,sans-serif;}
.oxSkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.oxSkin .mceSeparator {display:block; width: 10px; height:20px; margin:2px 2px 0 4px; }

/* ListBox */
.oxSkin .mceListBox, .oxSkin .mceListBox a {display:block; outline: 0;}
.oxSkin .mceListBox .mceText {padding-left:4px; width:70px; text-align:left; border:1px solid transparent; border-right:0; background:#FFF; font-family: Arial,Helvetica,sans-serif; font-size:11px; height:20px; line-height:20px; overflow:hidden}
.oxSkin .mceListBox .mceOpen {width:9px; height:20px; background:url(../../img/icons.gif) -741px 0; background-color: #fff; margin-right:2px; border:1px solid transparent;}
.oxSkin table.mceListBoxEnabled:hover .mceText, .oxSkin .mceListBoxHover .mceText, .oxSkin .mceListBoxSelected .mceText {border-color: #eee; }
.oxSkin table.mceListBoxEnabled:hover .mceOpen, .oxSkin .mceListBoxHover .mceOpen, .oxSkin .mceListBoxSelected .mceOpen {border-color: #eee; }
.oxSkin .mceListBoxDisabled a.mceText {color:gray; background-color:transparent;}
.oxSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.oxSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.oxSkin .mceOldBoxModel .mceListBox .mceOpen {width:11px; height:22px;}
.oxSkin select.mceNativeListBox {font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:7pt; background:#f5f5f5; border:1px solid gray; margin-right:2px;}

/* SplitButton */
.oxSkin .mceSplitButton {width:32px; height:20px; direction:ltr}
.oxSkin .mceSplitButton a, .oxSkin .mceSplitButton span {height:20px; display:block}
.oxSkin .mceSplitButton a.mceAction {width:20px; border:1px solid transparent; border-right:0;}
.oxSkin .mceSplitButton span.mceAction {width:20px; background-image:url(../../img/icons.gif);}
.oxSkin .mceSplitButton a.mceOpen {width:9px; background:url(../../img/icons.gif) -741px 0; border:1px solid #f5f5f5;}
.oxSkin .mceSplitButton span.mceOpen {display:none}
.oxSkin table.mceSplitButtonEnabled:hover a.mceAction, .oxSkin .mceSplitButtonHover a.mceAction, .oxSkin .mceSplitButtonSelected a.mceAction {border:1px solid #ddd; border-right:0; background-color:#fff}
.oxSkin table.mceSplitButtonEnabled:hover a.mceOpen, .oxSkin .mceSplitButtonHover a.mceOpen, .oxSkin .mceSplitButtonSelected a.mceOpen {background-color:#fff; border:1px solid #ddd;}
.oxSkin .mceSplitButtonDisabled .mceAction, .oxSkin .mceSplitButtonDisabled a.mceOpen {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.oxSkin .mceSplitButtonActive a.mceAction {border:1px solid #0A246A; background-color:#C2CBE0}
.oxSkin .mceSplitButtonActive a.mceOpen {border-left:0;}

/* ColorSplitButton */
.oxSkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.oxSkin .mceColorSplitMenu td {padding:2px}
.oxSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.oxSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.oxSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.oxSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.oxSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.oxSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a}
.oxSkin .mce_forecolor span.mceAction, .oxSkin .mce_backcolor span.mceAction {overflow:hidden; height:16px}

/* Menu */
.oxSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #D4D0C8}
.oxSkin .mceNoIcons span.mceIcon {width:0;}
.oxSkin .mceNoIcons a .mceText {padding-left:10px}
.oxSkin .mceMenu table {background:#FFF}
.oxSkin .mceMenu a, .oxSkin .mceMenu span, .oxSkin .mceMenu {display:block}
.oxSkin .mceMenu td {height:20px}
.oxSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.oxSkin .mceMenu .mceText {position:relative; display:block; font-family: Arial,Helvetica,sans-serif; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.oxSkin .mceMenu span.mceText, .oxSkin .mceMenu .mcePreview {font-size:11px}
.oxSkin .mceMenu pre.mceText {font-family:Monospace}
.oxSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.oxSkin .mceMenu .mceMenuItemEnabled a:hover, .oxSkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.oxSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.oxSkin .mceMenuItemTitle a {border:0; background:#EEE; border-bottom:1px solid #DDD}
.oxSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.oxSkin .mceMenuItemDisabled .mceText {color:#888}
.oxSkin .mceMenuItemSelected .mceIcon {background:url(img/menu_check.gif)}
.oxSkin .mceNoIcons .mceMenuItemSelected a {background:url(img/menu_arrow.gif) no-repeat -6px center}
.oxSkin .mceMenu span.mceMenuLine {display:none}
.oxSkin .mceMenuItemSub a {background:url(img/menu_arrow.gif) no-repeat top right;}
.oxSkin .mceMenuItem td, .oxSkin .mceMenuItem th {line-height: normal}

/* Progress,Resize */
.oxSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50); background:#FFF}
.oxSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}

/* Formats */
.oxSkin .mce_formatPreview a {font-size:10px}
.oxSkin .mce_p span.mceText {}
.oxSkin .mce_address span.mceText {font-style:italic}
.oxSkin .mce_pre span.mceText {font-family:monospace}
.oxSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 1.5em}
.oxSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.33em}
.oxSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.2em}
.oxSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1.1em}
.oxSkin .mce_h5 span.mceText {font-weight:bolder; font-size: 1em}
.oxSkin .mce_h6 span.mceText {font-weight:bolder; font-size: 1em}

/* Theme */
.oxSkin span.mce_bold {background-position:0 0}
.oxSkin span.mce_italic {background-position:-60px 0}
.oxSkin span.mce_underline {background-position:-140px 0}
.oxSkin span.mce_strikethrough {background-position:-120px 0}
.oxSkin span.mce_undo {background-position:-160px 0}
.oxSkin span.mce_redo {background-position:-100px 0}
.oxSkin span.mce_cleanup {background-position:-40px 0}
.oxSkin span.mce_bullist {background-position:-20px 0}
.oxSkin span.mce_numlist {background-position:-80px 0}
.oxSkin span.mce_justifyleft {background-position:-460px 0}
.oxSkin span.mce_justifyright {background-position:-480px 0}
.oxSkin span.mce_justifycenter {background-position:-420px 0}
.oxSkin span.mce_justifyfull {background-position:-440px 0}
.oxSkin span.mce_anchor {background-position:-200px 0}
.oxSkin span.mce_indent {background-position:-400px 0}
.oxSkin span.mce_outdent {background-position:-540px 0}
.oxSkin span.mce_link {background-position:-500px 0}
.oxSkin span.mce_unlink {background-position:-640px 0}
.oxSkin span.mce_sub {background-position:-600px 0}
.oxSkin span.mce_sup {background-position:-620px 0}
.oxSkin span.mce_removeformat {background-position:-580px 0}
.oxSkin span.mce_newdocument {background-position:-520px 0}
.oxSkin span.mce_image {background-position:-380px 0}
.oxSkin span.mce_help {background-position:-340px 0}
.oxSkin span.mce_code {background-position:-260px 0}
.oxSkin span.mce_hr {background-position:-360px 0}
.oxSkin span.mce_visualaid {background-position:-660px 0}
.oxSkin span.mce_charmap {background-position:-240px 0}
.oxSkin span.mce_paste {background-position:-560px 0}
.oxSkin span.mce_copy {background-position:-700px 0}
.oxSkin span.mce_cut {background-position:-680px 0}
.oxSkin span.mce_blockquote {background-position:-220px 0}
.oxSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.oxSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.oxSkin span.mce_forecolorpicker {background-position:-720px 0}
.oxSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.oxSkin span.mce_advhr {background-position:-0px -20px}
.oxSkin span.mce_ltr {background-position:-20px -20px}
.oxSkin span.mce_rtl {background-position:-40px -20px}
.oxSkin span.mce_emotions {background-position:-60px -20px}
.oxSkin span.mce_fullpage {background-position:-80px -20px}
.oxSkin span.mce_fullscreen {background-position:-100px -20px}
.oxSkin span.mce_iespell {background-position:-120px -20px}
.oxSkin span.mce_insertdate {background-position:-140px -20px}
.oxSkin span.mce_inserttime {background-position:-160px -20px}
.oxSkin span.mce_absolute {background-position:-180px -20px}
.oxSkin span.mce_backward {background-position:-200px -20px}
.oxSkin span.mce_forward {background-position:-220px -20px}
.oxSkin span.mce_insert_layer {background-position:-240px -20px}
.oxSkin span.mce_insertlayer {background-position:-260px -20px}
.oxSkin span.mce_movebackward {background-position:-280px -20px}
.oxSkin span.mce_moveforward {background-position:-300px -20px}
.oxSkin span.mce_media {background-position:-320px -20px}
.oxSkin span.mce_nonbreaking {background-position:-340px -20px}
.oxSkin span.mce_pastetext {background-position:-360px -20px}
.oxSkin span.mce_pasteword {background-position:-380px -20px}
.oxSkin span.mce_selectall {background-position:-400px -20px}
.oxSkin span.mce_preview {background-position:-420px -20px}
.oxSkin span.mce_print {background-position:-440px -20px}
.oxSkin span.mce_cancel {background-position:-460px -20px}
.oxSkin span.mce_save {background-position:-480px -20px}
.oxSkin span.mce_replace {background-position:-500px -20px}
.oxSkin span.mce_search {background-position:-520px -20px}
.oxSkin span.mce_styleprops {background-position:-560px -20px}
.oxSkin span.mce_table {background-position:-580px -20px}
.oxSkin span.mce_cell_props {background-position:-600px -20px}
.oxSkin span.mce_delete_table {background-position:-620px -20px}
.oxSkin span.mce_delete_col {background-position:-640px -20px}
.oxSkin span.mce_delete_row {background-position:-660px -20px}
.oxSkin span.mce_col_after {background-position:-680px -20px}
.oxSkin span.mce_col_before {background-position:-700px -20px}
.oxSkin span.mce_row_after {background-position:-720px -20px}
.oxSkin span.mce_row_before {background-position:-740px -20px}
.oxSkin span.mce_merge_cells {background-position:-760px -20px}
.oxSkin span.mce_table_props {background-position:-980px -20px}
.oxSkin span.mce_row_props {background-position:-780px -20px}
.oxSkin span.mce_split_cells {background-position:-800px -20px}
.oxSkin span.mce_template {background-position:-820px -20px}
.oxSkin span.mce_visualchars {background-position:-840px -20px}
.oxSkin span.mce_abbr {background-position:-860px -20px}
.oxSkin span.mce_acronym {background-position:-880px -20px}
.oxSkin span.mce_attribs {background-position:-900px -20px}
.oxSkin span.mce_cite {background-position:-920px -20px}
.oxSkin span.mce_del {background-position:-940px -20px}
.oxSkin span.mce_ins {background-position:-960px -20px}
.oxSkin span.mce_pagebreak {background-position:0 -40px}
.oxSkin span.mce_restoredraft {background-position:-20px -40px}
.oxSkin span.mce_spellchecker {background-position:-540px -20px}
