
/* individual colors */

@topbar-launcher-color: #313131;
@topbar-launcher-color-hover: #ccc;
@topbar-launcher-color-active: #a00;
@topbar-launcher-background-hover: #555;
@topbar-launcher-background-active: #fff;
@topbar-progress-color: #aaa;

@selected-background: #555;

@toolbar-link-color: #a00;

@accent1-bright: #b00;
@accent1: #a00;
@accent1-dark: #800;
