
.section-group.header {
	padding-top: 20px;
	min-height: 60px;
}

.section-group.header .input{
	float: left;
	width: auto;
}

.section.last{
	border: none;
}

.item-list{
}

.sectiontitle{
	margin: 25px 0 15px 0;
	font-size: 1.25em;
	color: #888;
	font-family: OpenSans, Helvetica, Arial, sans-serif;
	font-weight: 200;
	line-height: 1.15em;
}

.item-list-header {
	margin-bottom: 20px;
	overflow: hidden;
}

.create-distributionlist .btn.btn-primary{
	margin-top: 0px;
	float: right;
}

.item-list .col{
	width: 240px;
	float: left;
}

.item-list .name.col {
	margin-left: 75px;
}

.item-list .mail.col {
	margin-left: 20px;
}

.create-distributionlist .item-list{
	/*height: 200px;*/
	overflow-x: hidden;
	overflow-y: auto;
}

.create-distributionlist label{
	display: block;
}

.create-distributionlist input{
	width: 200px;
}

.create-distributionlist .item-list .listet-item {
	width: 693px;
	float: left;
	padding: 3px;
	/*border: 1px solid #ccc;*/
	height: 3em;
	margin-bottom: 3px;
}
.create-distributionlist .item-list .listet-item .person-link.ellipsis {
	width: 240px;
	margin-top: 12px;
	margin-left: 20px;
	float: left;
}
.create-distributionlist .item-list .listet-item .person-selected-mail{
	width: 240px;
	margin-top: 12px;
	margin-left: 20px;
	float: left;
}

.create-distributionlist .fieldset {
	width: 240px;
	margin-top: 12px;
	float: left;
}

.create-distributionlist .fieldset.name {
	width: 237px;
	margin-left: 0px;
	margin-right: 25px;
}

.create-distributionlist .fieldset.mail{
	margin-left:  60px;
	width: 230px;
}

.create-distributionlist .item-list .listet-item .delete-button {
	margin-top: 12px;
	margin-right: 12px;
	float: right;
	display: inline-block;
	-webkit-transition: .15s opacity;
	background-color: transparent;
	background-image: url(../images/close_button.png);
	border: none;
	display: block;
	height: 16px;
	opacity: 1;
	width: 16px
}
.create-distributionlist .item-list .listet-item .delete-button:hover {
	background-image: url(../images/close_button_hover.png);
}

.create-distributionlist .btn.btn-inverse{
	float: right;
	margin-top: 33px;
	margin-right: 0px;
}

.create-distributionlist .alert .close {
	position: relative;
	top: 1px;
	right: -20px;
	line-height: 18px;
}

a.close .delete-button{
	float: right;
	display: inline-block;
	background-image: url(../images/close_button.png);
	border: none;
	display: block;
	height: 16px;
	width: 16px
}

.listet-item.backstripes[data-mail="empty"] {
	text-align: center;
	line-height: 3em;
}