.create-distributionlist {

    .scrollable-pane {
        margin: 20px auto 20px auto;
        width: 700px;
    }

    .section-group.header {
        padding-top: 10px;
        min-height: 60px;

        .input {
            float: left;
            width: auto;
        }
    }

    .section.last { border: none; }

    .sectiontitle {
        font-size: 13px;
        margin: 20px 0 15px 0;
        color: #888;
        font-weight: 300;
        border-bottom: 1px solid #E5E5E5;
    }

    .item-list-header {
        margin-bottom: 20px;
        overflow: hidden;
    }

    .controls .btn {
        float: right;
        margin-left: 13px;
    }

    .item-list {
        overflow-x: hidden;
        overflow-y: auto;

        .listed-item {
            width: 700px;
            float: left;
            margin-bottom: 3px;

            .person-link.ellipsis {
                width: 260px;
                margin-top: 12px;
                float: left;
            }

            .person-selected-mail {
                width: 240px;
                margin-top: 12px;
                margin-left: 20px;
                float: left;
            }

            a.close {
                margin-top: 8px;
                margin-right: 4px;
                float: right;
                display: inline-block;
                height: 16px;
                width: 16px
            }

            &.backstripes[data-mail="empty"] {
                text-align: center;
                line-height: 3em;
            }
        }
    }

    label {
        color: #888;
        font-weight: 300;
        display: block;
    }
    input { width: 310px; }

    .fieldset {
        width: 240px;
        margin-top: 12px;
        float: left;

        &.name {
            width: 290px;
            margin-left: 0px;
            margin-right: 25px;
            margin-bottom: 200px;
        }

        &.mail {
            margin-left:  20px;
            margin-bottom: 200px;
            width: 230px;
        }
    }

    .btn.btn-inverse {
        float: right;
        margin-top: 37px;
        margin-right: 0px;
    }

    .alert { margin-top: 18px; }
}


.create-distributionlist .contact-image,
.create-distributionlist-contact-image {
    height: 3em;
    width: 3em;
    margin: 0 1em 0 5px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
}

.create-distributionlist-contact-image { margin-left: 0; }