
.create-distributionlist .section-group.header {
	padding-top: 10px;
	min-height: 60px;
}

.create-distributionlist .section-group.header .input {
	float: left;
	width: auto;
}

.create-distributionlist .section.last {
	border: none;
}

.create-distributionlist .sectiontitle {
	font-size: 13px;
	margin: 20px 0 15px 0;
	color: #888;
	font-weight: 300;
	border-bottom: 1px solid #E5E5E5;
}

.create-distributionlist .item-list-header {
	margin-bottom: 20px;
	overflow: hidden;
}

.create-distributionlist .controls .btn {
	float: right;
	margin-left: 13px;
}

.create-distributionlist .item-list {
	/*height: 200px;*/
	overflow-x: hidden;
	overflow-y: auto;
}

.create-distributionlist label {
    color: #888;
    font-weight: 300;
	display: block;
}

.create-distributionlist input {
	width: 310px;
}

.create-distributionlist .item-list .listet-item {
	width: 700px;
	float: left;
	margin-bottom: 3px;
}

.create-distributionlist .item-list .listet-item .person-link.ellipsis {
	width: 260px;
	margin-top: 12px;
	float: left;
}

.create-distributionlist .item-list .listet-item .person-selected-mail {
	width: 240px;
	margin-top: 12px;
	margin-left: 20px;
	float: left;
}

.create-distributionlist .fieldset {
	width: 240px;
	margin-top: 12px;
	float: left;
}

.create-distributionlist .fieldset.name {
	width: 290px;
	margin-left: 0px;
	margin-right: 25px;
	margin-bottom: 200px;
}

.create-distributionlist .fieldset.mail{
	margin-left:  20px;
	margin-bottom: 200px;
	width: 230px;
}

.create-distributionlist .contact-image,
.create-distributionlist-contact-image {
    height: 3em;
    width: 3em;
    margin: 0 1em 0 5px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
}

.create-distributionlist-contact-image {
    margin-left: 0;
}

.create-distributionlist .item-list .listet-item a.close {
	margin-top: 8px;
	margin-right: 4px;
	float: right;
	display: inline-block;
	height: 16px;
	width: 16px
}

.create-distributionlist .btn.btn-inverse {
	float: right;
	margin-top: 37px;
	margin-right: 0px;
}

.create-distributionlist .alert {
    margin-top: 18px;
}

.listet-item.backstripes[data-mail="empty"] {
	text-align: center;
	line-height: 3em;
}
