.create-distributionlist {

    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    .title-controls .btn {
        float:right;
    }
    .title-controls .btn-primary { margin-left: 13px; }

    label.control-label {
        font-size: 13px;
        color: #888;

        span { white-space: nowrap; }
    }

    div.section {
        display: block;
        clear: both;
        padding: 20px;
    }

    h1.title {
        font-size: 20px;
        float: left;
    }

    .item-list-header {
        margin-bottom: 20px;
        overflow: hidden;
    }

    .sectiontitle {
        font-size: 13px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: normal;
        margin: 20px 0 15px 0;
        color: #888;
    }

    .item-list {
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 20px;

        .listed-item {
            &:nth-child(odd) { margin-left:0; }
            margin-bottom:2px;
            position: relative;
            float:left;

            .person-selected-mail {
                padding-right: 30px;
                .ellipsis;
            }

            .remove {
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                width: 30px;
                line-height: 1em;
                background-color: #f5f5f5;
                cursor: pointer;
                color: #ccc;

                &:hover {
                    background-color: #a00;
                    color: #fff;
                    text-decoration: none
                };

                .icon {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    margin-top: -0.5em;
                    text-align: center;
                }
            }

            &.backstripes[data-mail="empty"] {
                text-align: center;
                line-height: 3em;
            }
        }
    }

    .alert { margin-top: 1em; }

    .add-participant { width: 340px; }

    .contact-image {
        float: left;
        display: inline-block;
        margin: 0 1em 0 5px;
        .picture(48px, 48px);
    }

    @media (max-width: 767px) {
        .title-controls .btn-primary { margin-bottom: 5px; }
    }

    @media (min-width: 767px) {
        .alert { max-width: 340px; }
    }

}


