.create-distributionlist {

    .scrollable-pane {
        margin: 20px auto 20px auto;
        width: 700px;
    }

    .section-group.header {
        padding-top: 10px;
        min-height: 60px;

        .input {
            float: left;
            width: auto;
        }
    }

    .section.last { border: none; }

    .sectiontitle {
        font-size: 13px;
        margin: 20px 0 15px 0;
        color: #888;
        font-weight: 300;
        border-bottom: 1px solid #E5E5E5;
    }

    .item-list-header {
        margin-bottom: 20px;
        overflow: hidden;
    }

    .controls .btn {
        float: right;
        margin-left: 13px;
    }

    .item-list {
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 20px;

        .listed-item {
            position: relative;
            margin: 0 0 2px 0;
            float:left;

            .remove {
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                width: 30px;
                line-height: 1em;
                background-color: #f5f5f5;
                cursor: pointer;
                color: #ccc;

                &:hover {
                    background-color: #a00;
                    color: #fff;
                    text-decoration: none
                };

                .icon {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    margin-top: -0.5em;
                    text-align: center;
                }
            }

            &.backstripes[data-mail="empty"] {
                text-align: center;
                line-height: 3em;
            }
        }
    }

    label {
        color: #888;
        font-weight: 300;
        display: block;
    }
    input { width: 310px; }

    .fieldset {
        width: 240px;
        margin-top: 12px;
        float: left;

        &.name {
            width: 290px;
            margin-left: 0px;
            margin-right: 25px;
            margin-bottom: 200px;
        }

        &.mail {
            margin-left:  20px;
            margin-bottom: 200px;
            width: 230px;
        }
    }

    .btn.btn-inverse {
        float: right;
        margin-top: 37px;
        margin-right: 0px;
    }

    .alert { margin-top: 1em;}
}


.create-distributionlist .contact-image,
.create-distributionlist-contact-image {
    float: left;
    display: inline-block;
    margin: 0 1em 0 5px;
    .picture(48px, 48px);
}

.create-distributionlist-contact-image { margin-left: 0; }
