/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2013 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author David Bauer <david.bauer@open-xchange.com>
 */

.io-ox-core-tk-attachment-list {

    padding: 0;

    &.empty {
        display: none;
    }

    .toggle-details {

        color: #333;

        > i.toggle-caret {
            width: 7px;
        }

        > i.fa-paperclip {
            color: #333;
            padding: 0 0.5em;
        }
    }

    .toggle-details > .toggle-caret:before { content: '\f0da'; } // caret right
    &.open .toggle-details > .toggle-caret:before { content: '\f0d7'; } // caret down

    .toggle-mode {

        font-size: 14px;
        padding: 0;
        display: none;

        > i {
            color: #aaa;
        }
    }

    &.open .toggle-mode { display: inline-block; }
    .toggle-mode > i:before { content: '\f009'; } // fa-th-large
    &.show-preview .toggle-mode > i:before { content: '\f0ca'; } // fa-list-ul

    //
    // Container
    //

    .list-container, .preview-container {
        margin-top: 10px;
        position: relative;
        display: none;
    }

    &.open .list-container { display: block; }
    &.open.show-preview .list-container { display: none; }
    &.open.show-preview .preview-container { display: block; }

    //
    // Scroll controls
    //

    .scroll-left, .scroll-right {
        position: absolute;
        top: 0;
        width: 20px;
        height: 120px;
        z-index: 2;
        background-color: #888;
        border: 0;
        outline: 0;
        i.fa {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            text-align: center;
            font-size: 14px;
            margin-top: -7px;
            color: white;
        }
        &[disabled] {
            background-color: #eee;
            i.fa { color: #ccc; }
        }
    }

    .scroll-left { left: 0; }
    .scroll-right { right: 0; }

    //
    // Attachment List
    //

    ul.inline-items {

        padding: 0;
        margin: 0;

        li.item {

            display: inline-block;
            padding: 0;
            margin: 0 14px 0 0;

            .file {

                background-color: inherit;
                height: 18px;
                line-height: 18px;
                padding: 0;

                a { color: #333; }
                a:hover { text-decoration: underline; }
                .filesize { color: #888; }
            }

            &.editable {
                background-color: #f5f5f5;
                border: 1px solid #ddd;
                padding: 1px 30px 1px 5px;
                margin: 0 5px 2px 0;
                .border-radius(2px);
            }
        }
    }

    /* SimpleEditableList */
    .item {

        position: relative;
        line-height: 1.5em;
        margin-bottom: 2px;
        padding: 4px 2.5em 4px 5px;
        background-color: white;

        .progress {
            background-color: rgba(255, 0, 0, 0.3);
            height: 3px;
            position: absolute;
            top: 0;
            width: 0px;
        }

        /* depending on pane background*/
        &.background {
            background-color: #f5f5f5;
        }

        &.pointer {
            cursor: pointer;
        }

        div.dropdown {
            overflow: visible;
        }
        div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        > i {
            position: absolute;
            font-size: 20px;
            top: 12px;
            left: 11px;
        }

        a.upload > .fa {
            position: initial;
            font-size: 16px;
            padding-right: 0.5em;
        }

        .control, .remove {
            display: inline-block;
            position: absolute;
            top: 1px;
            right: 1px;
            bottom: 1px;
            width: 2em;
            line-height: 1em;
            cursor: pointer;

            &.remove {
                background-color: #f5f5f5;
                color: #aaa;
            }
            &.dropdown {
                margin: 0;
            }

            .fa {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                margin-top: -0.5em;
                text-align: center;
            }
        }

        .remove:hover {
            background-color: #a00;
            color: #fff;
            text-decoration: none;
        }

        .group-label {
            display: block;
            font-style: italic;
            margin-right: 1em;
        }

        &.signature-remove a {
            color: #800;
        }

        .signature-preview {
            font-style: italic;
            color: #888;
            white-space: normal;
        }

        &.upload {
            background-color: #f5f5f5;
            padding-right: 5px;
        }

        &.file {
            position: relative;
            height: 3em;
            line-height: 1.5em;
        }

        .filesize {
            color: #aaa;
        }

        .row-1 {
            position: absolute;
            left: 40px;
            right: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .row-2 {
            position: absolute;
            left: 40px;
            right: 30px;
            top: 23px;
        }

    }

    .col-md-6:nth-child(odd) {
        margin-left: 0;
    }

    /* EditableAttachmentList */
    .io-ox-core-tk-attachment {

        position: relative;
        height: 3em;
        line-height: 1.5em;
        margin-bottom: 2px;
        padding: 4px 2.5em 4px 5px;
        background-color: #f5f5f5;

        > i, .remove i {
            position: absolute;
            font-size: 20px;
            top: 12px;
            left: 11px;
        }

        > div {
            position: absolute;
            left: 40px;
            right: 30px;
            .ellipsis();

            &.row-2 {
                top: 23px;
            }
        }

        .remove {

            display: inline-block;
            position: absolute;
            top: 1px;
            right: 1px;
            bottom: 1px;
            width: 2em;
            line-height: 1em;
            background-color: #f5f5f5;
            color: #aaa;
            cursor: pointer;

            &:hover {
                background-color: #a00;
                color: #fff;
                text-decoration: none;
            }

            i {
                top: 50%;
                left: 0;
                right: 0;
                margin-top: -0.5em;
                text-align: center;
            }

        }

    }

    /* Preview mode */
    ul.inline-items.preview {

        overflow: hidden;
        margin: 0 21px; // yep, 20 + 1
        white-space: nowrap;

        li.item {

            background-color: #f5f5f5;
            background-size: cover;

            position: relative;
            width: 120px;
            height: 120px;
            padding: 0;
            margin: 0 1px 0 0;
            cursor: pointer;

            .file {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 30px;
                line-height: 20px;
                padding: 5px 7px;
                margin: 0;

                color: @white;
                background-color: rgba(0, 0, 0, 0.5);
                .ellipsis();

                .filesize { display: none; }
            }

            .file, .control {
                display: none;
            }

            &:hover .file, &:hover .control {
                display: block;
            }

            .remove {
                background-color: initial;
                bottom: 0;
                width: 30px;
                height: 30px;
                right: 0;
                top: auto;

                .fa {
                    font-size: 14px;
                    top: 50%;
                }
            }

            &.editable {
                .file {
                    padding-right: 30px;
                }
            }
        }
    }
}
