.io-ox-core-tk-attachment {
	background-color: whiteSmoke;
	display: inline-block;
	width: 200px;
	margin-right: 10px;
}

.io-ox-core-tk-attachment .delete {
	font-size: 1.5em;
	padding-left: 12px;
}

.io-ox-core-tk-attachment .delete:hover {
	color: white;
	background-color: red;
}

.io-ox-core-tk-attachment {
	i.icon-paper-clip {
		font-size: 20px;
	}
}