/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Richard Petersen <richard.petersen@open-xchange.com>
 */

.editor .mce-tinymce,
.tinymce-toolbar .mce-tinymce,
.mce-tinymce .mce-top-part::before {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.contenteditable-editor {
    z-index: 3;
    margin-bottom: 0px;
}

.mce-content-body {
    pre {
        padding: 0;
        margin: 0;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        background-color: inherit;
        border: none;
        border-radius: 0;
        font-family: inherit;
    }
}

.tox.tox-tinymce.tox-tinymce--toolbar-bottom {
    position: static;
    border: 0;

    .tox-editor-header {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .tox-toolbar .tox-toolbar__group {
        padding: 0;
    }

}

.tox:not([dir=rtl]) .tox-toolbar .tox-toolbar__group:first-child {
    border-right: 0;
}

.io-ox-mail-compose-window .window-body {
    padding-bottom: 37px;
}
