.subscribe-imap-folder .modal-body {
    height: 300px;
    color: red;
}

@media all and (max-width: 480px) {
    .io-ox-dialog-popup .modal-footer .btn {
        width: 100%;
        margin: 2px 0;
    }
    .io-ox-dialog-popup {
        overflow-y: scroll;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;

        max-height: 95%;
        width: 95%;

        margin-top: 0;
        top: 10px;

        h3 {
            font-size: 20px;
        }
    }
}
