.io-ox-dropzone-multiple-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16pt;
    z-index: 65000;
}

.io-ox-dropzone-action.io-ox-dropzone-hover {
    background-color: @link-color;
}