.io-ox-dropzone-multiple-overlay {
    background-color: #000;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 16pt;
    opacity: 0.75;
    z-index: 65000;
}

.io-ox-dropzone-action {
    opacity: 0.75;
    padding-top: 20px;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 0;
}

.io-ox-dropzone-action.io-ox-dropzone-hover {
    background-color: @link-color;
}