/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 * © 2012 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */
.window-content.month-view * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.window-content.month-view { 
    
    .toolbar {
        background-color: #FFF; 
        height: 41px;
        text-align: center;
        border-bottom: 1px solid #ccc;
        padding: 3px;
    }

    .toolbar .info {
        position: absolute;
        left: 10px;
        float: left;
        line-height: 32px;
        font-family: OpenSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 20px;
    }
    
    .toolbar .showall {
        position: absolute;
        right: 30px;
        top: 10px;
    }

    .toolbar .pagination {
        margin: 0px;
    }
    
    .toolbar .pagination a {
        line-height: 32px;
        height: 34px;
    }
    
    .daylabel { 
        position: absolute;
        width: 100/8*7%;
        height: 25px;
        top: 41px;
        left: 0;
        white-space: nowrap;
        font-family: @font-light;
        font-size: 15px;
        text-overflow: ellipsis;
        line-height: 25px;
        z-index: 3;
    }
    
    .daylabel .weekday {
        width: 100/7%;
        display: inline-block;
        padding-left: 13px;
        background-color: white;
        border-bottom: 1px solid #ccc;
    }
    
    .daylabel .weekday:last-child {
        border-right: 1px solid #ccc;
    }
    
    .scrollpane {
        .overflow(auto);
        -webkit-backface-visibility: hidden;
        position: absolute;
        top: 41px;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .week {
        -webkit-backface-visibility: hidden;
        height: 100/6%; /* might be 6 weeks in a month */
        min-height: 80px;
        max-height: 160px;
        border-bottom: 1px solid #ccc;
    }
    
    .week-info {
        font-family: @font-light;
        font-size: 22px;
        line-height: 1.0em;
        color: #555;
        position: absolute;
        right: 0px;
        width: 100/8+1%; /* fix for different round functions */
        height: 100/6%;
        padding: 13px 13px 13px 1px;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .week-info .cw {
        position: absolute;
        right: 13px;
        bottom: 5px;
        z-index: 1;
        text-align: right;
        font-size: 11px;
        line-height: 1em;
        font-family: Arial, Helvetica, sans-serif;
    }
    
/*    
    @-webkit-keyframes day-out {
        from { background-color: #fff; }
        to { background-color: #e0e0e0; }
    }
*/    
    .day {
        position: relative;
        display: inline-block;
        width: 100/8%;
        height: 100%;
        min-height: 80px;
        border-right: 1px solid #ccc;
        background-color: #fff;
/*
        -webkit-animation-timing-function: linear;
        -webkit-animation-duration: 100ms;
        */
    }

    .day.bordertop, .week-info.bordertop {
        border-top: 1px solid black;
    }
    
    .day.borderbottom {
        border-bottom: 1px solid black;
    }

    .day.borderleft {
        border-left: 1px solid black;
    }

    .day.out {
        background-color: #eee;
        /*-webkit-animation-name: day-out;*/
    }
    
    .day.out.today {
        background-color: #f0f0f0;
    }
    
    .day .number {
        position: absolute;
        color: #aaa;
        text-align: right;
        right: 7px;
        bottom: 5px;
        z-index: 1;
        font-size: 11px;
        line-height: 1em;
    }
    
    .day.out .number {
        color: #aaa;
    }
    
    .day.weekend .number {
        color: #a00;
    }
    
    .day.today {
        background-color: #daefFf;
        background-color: rgba(0, 136, 204, 0.25);
    }
    
    .day.today .number {
        color: darken(#08c, 10%);
    }
    
    .day .list {
        margin: 4px;
        overflow-y: hidden;
        .overflow-y(auto);
    }
    
    .appointment {
        line-height: 14px;
        background-color: #08c;
        margin-bottom: 1px;
        white-space: nowrap;
        cursor: pointer;
        -webkit-transition: background-color, color 0.1s;
        -moz-transition: background-color, color 0.1s;
        -o-transition: background-color, color 0.1s;
        transition: background-color, color 0.1s;
        opacity: 1;
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }
    
    .appointment-content {
        height: 100%;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: white;
        overflow: hidden;
        padding: 2px 0px;
    }
    
    .appointment-content * {
        padding-left: 5px;
        overflow: hidden;
        max-width: 100%;
        text-overflow: ellipsis;
        display: inline-block;
    }
    
    @appointment-reserved: #08c; /* blue */ 
    @appointment-temporary: #FFBB00; /* yellow */ 
    @appointment-absent: #913F3F; /* red */ 
    @appointment-free: #8EB360; /* green */ 
    @appointment-private: #555; /* dark grey */ 
    @appointment-out: #aaa; /* light grey */ 
    @appointment-hover-pct: 15%; 
    @appointment-unconfirmed-alpha:  0.4;
        
    .appointment.reserved {
        background-color: @appointment-reserved;
    }
    
    .appointment.temporary {
        background-color: @appointment-temporary;
    }
    
    .appointment.absent {
        background-color: @appointment-absent;
    }
    
    .appointment.free {
        background-color: @appointment-free;
    }
    
    .appointment.private {
        background-color: @appointment-private;
    }
    
    /* unconfirmed */
    .appointment.reserved.unconfirmed {
        background-color: hsla(hue(@appointment-reserved), saturation(@appointment-reserved), lightness(@appointment-reserved),@appointment-unconfirmed-alpha );
    }
    
    .appointment.temporary.unconfirmed {
        background-color: hsla(hue(@appointment-temporary), saturation(@appointment-temporary), lightness(@appointment-temporary),@appointment-unconfirmed-alpha );
    }
    
    .appointment.absent.unconfirmed {
        background-color: hsla(hue(@appointment-absent), saturation(@appointment-absent), lightness(@appointment-absent),@appointment-unconfirmed-alpha );
    }
    
    .appointment.free.unconfirmed {
        background-color: hsla(hue(@appointment-free), saturation(@appointment-free), lightness(@appointment-free),@appointment-unconfirmed-alpha );
    }
    
    /* out */
    .day.out .appointment {
        background-color: @appointment-out;
    }
    
    /* mouse over */
    .appointment.reserved:hover {
        background-color: darken(@appointment-reserved, @appointment-hover-pct);
    }
    
    .appointment.temporary:hover {
        background-color: darken(@appointment-temporary, @appointment-hover-pct);
    }
    
    .appointment.absent:hover {
        background-color: darken(@appointment-absent, @appointment-hover-pct);
    }
    
    .appointment.free:hover {
        background-color: darken(@appointment-free, @appointment-hover-pct);
    }
    
    .appointment.private:hover {
        background-color: darken(@appointment-private, @appointment-hover-pct);
    }
    
    .day.out .appointment:hover {
        background-color: darken(@appointment-out, @appointment-hover-pct);
    }
    
    .appointment .location {
        color: #ccc;
        color: rgba(255, 255, 255, 0.6);
    }
}
