/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2012 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

.month-view {

    * {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    .toolbar {

        .info {
            left: 20px;
        }

    }

    .footer-container {

        border-bottom: 1px solid #ccc;

        .footer {

            left: 0;

            .weekday {
                width: 100/8%;
                text-align: center;
            }

        }

    }

    .scrollpane {

        position: absolute;
        top: @calendar-toolbar-height + @weekview-footer-height;
        right: 0;
        bottom: 0;
        left: 0;
        .overflow-y(scroll);
        .backface-visibility(hidden);

        .week {

            height: 100/6%; /* might be 6 weeks in a month */
            .backface-visibility(hidden);

            .week-info {

                position: absolute;
                right: 0;
                width: 100/8%; /* fix for different round functions */
                height: 100/6%;
                padding: 13px 13px 13px 1px;
                font-size: 11px;
                line-height: 1.0em;
                text-align: right;
                color: #888;
                .ellipsis();

                .month-name {
                    font-family: @light-font-family;
                    font-size: 18px;
                    color: @link-color;
                }

                .cw {
                    position: absolute;
                    right: 13px;
                    bottom: 5px;
                    z-index: 1;
                }
            }

            .day {

                position: relative;
                display: inline-block;
                width: 100/8%;
                height: 100%;
                border-right: 1px solid #ccc;
                border-top: 1px solid #ccc;
                background-color: #fff;
                .transition(background-color 0.2s linear);
                .backface-visibility(hidden);
                .box-sizing(content-box);

                &.bordertop {}

                &.borderbottom {}

                &.borderleft {}

                .number {
                    position: absolute;
                    color: #aaa;
                    text-align: right;
                    right: 0;
                    bottom: 0;
                    padding: 5px 7px;
                    z-index: 1;
                    font-size: 11px;
                    line-height: 1em;
                    background-color: #fff;
                    .transition(background-color 0.2s linear);
                    .user-select(none);
                    cursor: default;
                }

                &.today {

                    background-color: @monthview-today;

                    .number {
                        color: darken(#08c, 10%);
                        background-color: @monthview-today;
                        .transition(background-color 0.2s linear);
                    }

                }

                &.weekend .number {
                    color: #a00;
                }

                .list {
                    margin: 4px;
                    .overflow-y(auto);
                }

                &.out {

                    background-color: #eee;
                    .transition(background-color 0.2s linear);
                    .backface-visibility(hidden);

                    &.today {

                        background-color: #f0f0f0;

                        .number {
                            color: darken(#08c, 10%);
                            background-color: #f0f0f0;
                            .transition(background-color 0.2s linear);
                        }

                    }

                    .number {
                        color: #aaa;
                        background-color: #eee;
                        .transition(background-color 0.2s linear);
                    }

                    .appointment {

                        background-color: @monthview-appointment-out;

                        &.hover {
                            background-color: darken(@monthview-appointment-out, @appointment-hover-pct);
                        }

                    }

                }

            }

        }

    }

    /* Appointment */
    .appointment {

        line-height: 14px;
        margin-bottom: 1px;
        white-space: nowrap;
        cursor: pointer;
        background-color: #08c;
        opacity: 1;
        .transition(opacity 0.2s);
        .backface-visibility(hidden);

        .appointment-content {
            height: 100%;
            width: 100%;
            font-size: 12px;
            color: white;
            padding: 2px 0;
            .ellipsis();
        }

        .appointment-content > * {
            padding-left: 5px;
            display: inline;
        }

        .private-flag {
            float: left;
            font-size: 15px;
        }

    }

    /* Mobile */
    @media all and (max-device-width: 480px)  {
        .toolbar {
            .info {
                top: 10px;
                left: 10px;
                .ellipsis();
                width: 45%;
            }
        }
        .footer-container {
            .footer {
                .weekday {
                    .box-sizing(border-box);
                    width: 100/7%;
                    font-size: 15px;
                }
            }
        }

        .scrollpane {
            -webkit-user-select: none;
            top: @calendarToolbarHeight + 26;

            .week {
                height: 20%; // 5 weeks only
                border-bottom: 1px solid #ccc;

                .day {

                    &:active {
                        .transition(none);
                        background-color: #ccc;
                    }

                    .number {
                        top: auto;
                        bottom: auto; // move number to top of cell
                        left: 0;
                        text-align: center;
                        color: rgba(1,1,1,.6);
                        font-size: 20px;
                        font-weight: 200;
                        background-color: transparent;
                    }

                    &.today, &.today .number {
                        font-weight: bold;
                        color: rgba(1, 1, 1, 0.6);
                        background-color: transparent;
                    }

                    &.out {
                        .number {
                            background-color: transparent;
                            color: rgba(1,1,1,.2);
                            .transition(background-color 0.2s linear);
                        }
                        .list {
                            color: lighten(@linkColor, 50%);
                            .transition(color 0.2s linear);
                        }
                        background-color: #fff;
                    }

                    .list {
                        top: auto;
                        font-size: 12px;
                        text-align: center;
                        color: @linkColor;
                        .transition(color 0.2s linear);
                    }
                    width: 100/7%;
                    .box-sizing(border-box);
                    border-width: 0;
                    -webkit-user-select: auto;
                }
            }
        }
    }
}
