/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 * © 2012 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */
.window-content.month-view * {
    .box-sizing(border-box);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.window-content.month-view { 
    
    @weekview-toolbar-height: 41px;
    
    .toolbar {
        background-color: #fff; 
        height: @weekview-toolbar-height;
        text-align: center;
        padding: 3px;
    }

    .toolbar .info {
        position: absolute;
        left: 10px;
        float: left;
        line-height: 32px;
        font-family: @font-light;
        font-size: 20px;
    }
    
    .toolbar .showall {
        position: absolute;
        right: 30px;
        top: 10px;
    }

    .toolbar .pagination {
        margin: 0px;
    }
    
    .toolbar .pagination a {
        line-height: 32px;
        height: 34px;
    }
    
    .daylabel { 
        position: absolute;
        width: 100%;
        height: 26px;
        top: @weekview-toolbar-height;
        left: 0;
        font-family: @font-light;
        font-size: 13px;
        line-height: 25px;
        z-index: 3;
        background-color: white;
        border-bottom: 1px solid #ccc;
    }
    
    .daylabel .weekday {
        width: 100/8%;
        display: inline-block;
        text-align: center;
        .ellipsis();
    }
    
    .scrollpane {
        position: absolute;
        top: 67px;
        right: 0;
        bottom: 0;
        left: 0;
        .overflow(auto);
        .backface-visibility(hidden);
    }
    
    .week {
        height: 100/6%; /* might be 6 weeks in a month */
        min-height: 80px;
        max-height: 160px;
        .backface-visibility(hidden);
    }
    
    .week-info {
        font-family: @font-light;
        font-size: 22px;
        line-height: 1.0em;
        color: #555;
        position: absolute;
        right: 0px;
        width: 100/8%; /* fix for different round functions */
        height: 100/6%;
        padding: 13px 13px 13px 1px;
        text-align: right;
        .ellipsis();
    }
    
    .week-info .cw {
        position: absolute;
        right: 13px;
        bottom: 5px;
        z-index: 1;
        text-align: right;
        font-size: 11px;
        line-height: 1em;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .day {
        position: relative;
        display: inline-block;
        width: 100/8%;
        height: 100%;
        min-height: 80px;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        background-color: #fff;
        .transition(background-color 0.2s linear);
        .backface-visibility(hidden);
        .box-sizing(content-box);
    }

    .day.bordertop, .week-info.bordertop {
    }
    
    .day.borderbottom {
    }

    .day.borderleft {
    }

    .day.out {
        background-color: #eee;
        .transition(background-color 0.2s linear);
        .backface-visibility(hidden);
    }
    
    .day.out.today {
        background-color: #f0f0f0;
    }
    
    .day .number {
        position: absolute;
        color: #aaa;
        text-align: right;
        right: 0px;
        bottom: 0px;
        padding: 5px 7px;
        z-index: 1;
        font-size: 11px;
        line-height: 1em;
        background-color: #fff;
        .transition(background-color 0.2s linear);
        .user-select(none);
        cursor: default;
    }
    
    .day.out .number {
        color: #aaa;
        background-color: #eee;
        .transition(background-color 0.2s linear);
    }
    
    .day.today .number {
        color: darken(#08c, 10%);
        background-color: transparent;
        .transition(background-color 0.2s linear);
    }

    .day.weekend .number {
        color: #a00;
    }
    
    .day.today {
        background-color: #daefff;
        background-color: rgba(0, 136, 204, 0.25);
    }
    
    .day .list {
        margin: 4px;
        .overflow-y(auto);
    }
    
    .appointment {
        line-height: 14px;
        margin-bottom: 1px;
        white-space: nowrap;
        cursor: pointer;
        background-color: #08c;
        opacity: 1;
        .transition(opacity 0.2s);
        .backface-visibility(hidden);
    }
    
    .appointment.opac {
        opacity: 0.5;
        .transition(opacity 0.2s);
    }

    .appointment-content {
        height: 100%;
        width: 100%;
        font-size: 12px;
        color: white;
        overflow: hidden;
        padding: 2px 0px;
    }
    
    .appointment-content * {
        padding-left: 5px;
        max-width: 100%;
        display: inline-block;
        .ellipsis();
    }
    
    @appointment-reserved: #08c; /* blue */ 
    @appointment-temporary: #ffbb00; /* yellow */ 
    @appointment-absent: #913f3f; /* red */ 
    @appointment-free: #8eb360; /* green */ 
    @appointment-private: #555; /* dark grey */ 
    @appointment-out: #aaa; /* light grey */ 
    @appointment-hover-pct: 15%; 
    @appointment-unconfirmed-alpha:  0.4;
        
    .appointment.reserved {
        background-color: @appointment-reserved;
    }
    
    .appointment.temporary {
        background-color: @appointment-temporary;
    }
    
    .appointment.absent {
        background-color: @appointment-absent;
    }
    
    .appointment.free {
        background-color: @appointment-free;
    }
    
    .appointment.private {
        background-color: @appointment-private;
    }
    
    /* unconfirmed */
    .appointment.reserved.unconfirmed {
        background-color: hsla(hue(@appointment-reserved), saturation(@appointment-reserved), lightness(@appointment-reserved),@appointment-unconfirmed-alpha );
    }
    
    .appointment.temporary.unconfirmed {
        background-color: hsla(hue(@appointment-temporary), saturation(@appointment-temporary), lightness(@appointment-temporary),@appointment-unconfirmed-alpha );
    }
    
    .appointment.absent.unconfirmed {
        background-color: hsla(hue(@appointment-absent), saturation(@appointment-absent), lightness(@appointment-absent),@appointment-unconfirmed-alpha );
    }
    
    .appointment.free.unconfirmed {
        background-color: hsla(hue(@appointment-free), saturation(@appointment-free), lightness(@appointment-free),@appointment-unconfirmed-alpha );
    }
    
    /* out */
    .day.out .appointment {
        background-color: @appointment-out;
    }
    
    /* mouse over */
    .appointment.reserved.hover {
        background-color: darken(@appointment-reserved, @appointment-hover-pct);
    }
    
    .appointment.temporary.hover {
        background-color: darken(@appointment-temporary, @appointment-hover-pct);
    }
    
    .appointment.absent.hover {
        background-color: darken(@appointment-absent, @appointment-hover-pct);
    }
    
    .appointment.free.hover {
        background-color: darken(@appointment-free, @appointment-hover-pct);
    }
    
    .appointment.private.hover {
        background-color: darken(@appointment-private, @appointment-hover-pct);
    }
    
    .day.out .appointment.hover {
        background-color: darken(@appointment-out, @appointment-hover-pct);
    }
    
    .appointment .location {
        color: #ccc;
        color: rgba(255, 255, 255, 0.6);
    }
}
