/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

.io-ox-notes-window {

    //
    // Folder view
    //

    .folder-icon.sticky-note i:before {
        content: '\f249';
    }

    .section-header {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        padding: 0 16px;
        margin: 19px 0 4px 0;
    }

    //
    // List view
    //

    .list-view {
        .list-item {
            padding-top: 9px;
        }
        .title {
            font-weight: bold;
            .ellipsis();
        }
        .last_modified {
            float: right;
        }
        .preview {
            height: 40px;
            line-height: 16px;
            padding-top: 7px;
            margin-bottom: 5px;
            word-break: break-all;
            overflow: hidden;
        }
    }

    //
    // Detail view
    //

    .rightside {
        padding: 16px;
    }

    .note {

        color: #333;
        max-width: 700px;
        right: auto;
        width: 100%;

        strike {
            color: #a00;
        }

        u {
            text-decoration: none;
            background-color: #ffdd79;
        }
    }

    .note-title {
        top: 16px;
        right: 16px;
        left: 16px;
        height: 48px;
        bottom: auto;
        z-index: 1;
        input {
            width: 100%;
            height: 48px;
            border: 0;
            font-size: 16px;
            font-weight: bold;
            line-height: 40px;
            background-color: white;
        }
    }

    .note-content {
        top: 64px;
        right: 16px;
        left: 16px;
        bottom: 16px;
        font-size: 14px;
        line-height: 20px;
        background-color: white;
        z-index: 0;
        ul, ol {
            margin: 0;
        }
        .todo {
            list-style-type: none;
            li {
                position: relative;
            }
            li:before {
                font-family: FontAwesome;
                font-size: 14px;
                color: #777;
                content: '\f1db';
                position: absolute;
                left: -20px;
                cursor: pointer;
            }
            li.checked:before {
                color: #408c23;
                content: '\f058';
            }
        }
    }

    .note-title input, .note-content {
        border: 1px solid transparent;
        padding: 15px;
        outline: 0;
    }

    .note-title input:focus, .note-content:focus {
        z-index: 2;
        border-color: @input-border-focus;
        @color: fade(@input-border-focus, 60%);
        .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @{color}");
    }
}

.note-debug {
    position: absolute;
    left: 16px;
    bottom: 16px;
    width: 500px;
    height: 350px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 16px;
    white-space: pre-wrap;
    overflow: auto;
    font-family: monospace;
    font-size: 13px;
    .user-select(all);
}
