/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2021 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Daniel Dickhaus <daniel.dickhaus@open-xchange.com>
 */

 // a bit specific but we want to overrule the default style without !important
 .modal.flex.enterprise-picker .modal-dialog {
    width: 60rem;

    .modal-header {
        border-bottom: 1px solid #e5e5e5;

        .top-bar {
            display: flex;
            justify-content: space-between;

            label {
                width: 32%;

                .input-group {
                    border: 1px solid #cccccc;
                    border-radius: 3px;

                    input {
                        border: 0;
                        box-shadow: none;
                        padding-right: 4px;
                    }
                    .input-group-btn:hover {
                        background-color: #e6e6e6;
                        cursor: pointer;
                        .btn-default {
                            background-color: #e6e6e6;
                        }
                    }
                    .btn-default {
                        border: 0;
                        color: #767676;
                        margin: 3px 9px 2px 9px;
                        padding: 1px 3px 2px 3px;
                    }
                }
            }
        }
    }

    .modal-body {
        height: 27.5rem;

        li {
            padding: 8px;
            display: flex;
            justify-content: space-between;

            &:hover {
                background-color: #e6e6e6;
            }

            input {
                height: 60px;
            }

            .contact-picture {
                height: 60px;
                width: 60px;
                background-size: cover;
                border-radius: 50%;
            }

            .contact-container {
                width: 250px;
                // empty fields should still take up space, to keep the layout consistent
                div {
                    min-height: 30px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
 }
