/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2017 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

.ox-chat {

    @width: 320px;
    @pictureSize: 48px;
    @headerHeight: 80px;
    @searchHeight: 40px;
    @controlsHeight: 80px;
    @stateSize: 20px;
    @backgroundColor: #f5f5f5;
    @borderColor: #ccc;

    // state colors
    @green: #7CB342;
    @orange: #FB8C00;
    @red: #D32F2F;

    .leftside {
        width: @width;
        right: auto;
        background-color: @backgroundColor;
        border-right: 1px solid @borderColor;
    }

    .rightside {
        left: @width;
    }

    .header {

        height: @headerHeight;
        padding: 16px 16px 15px 16px;
        border-bottom: 1px solid @borderColor;
        background-color: @backgroundColor;
        position: relative;

        .picture {
            .picture(@pictureSize, @pictureSize);
            margin-right: 16px;
            float: left;
        }

        .name {
            font-size: 13px;
            font-weight: bold;
            line-height: @pictureSize;
        }

        h2 {
            font-size: 15px;
            line-height: 24px;
            font-weight: normal;
            margin: -1px 0 0 0;
            padding: 0;
        }
    }

    .leftside .header .state {
        position: absolute;
        left: @pictureSize;
        top: @pictureSize + 16px - @stateSize;
    }

    .search {
        border: 0;
        background-color: white;
        border-bottom: 1px solid @borderColor;
        height: @searchHeight;
        input {
            border: 0;
            width: 100%;
            padding: 0 16px;
            line-height: @searchHeight - 1;
            height: @searchHeight - 1;
        }
    }

    .start-chat {
        display: flex;
        align-items: center;
        justify-content: center;
        .btn {
            padding: 16px;
            text-align: center;
            border: 0;
        }
        .fa { font-size: 28px; }
    }

    .left-navigation {

        display: flex;
        flex-direction: column;
        overflow-y: auto;
        top: @headerHeight + @searchHeight;
        padding: 8px 0;

        .btn-nav {
            border: 0;
            padding: 8px 16px;
            line-height: 16px;
            display: block;
            width: 100%;
            text-align: left;
            background-color: transparent;
            border-radius: 0;
            outline: 0;
            .fa {
                margin-right: 16px;
            }
            &:focus {
                background-color: #ddd;
            }
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .chats {
        flex-grow: 1;
        .unseen {
            font-weight: bold;
        }
        .title {
            .ellipsis();
        }
        .label {
            float: right;
            position: relative;
            top: 1px;
        }
        .fa {
            float: left;
            font-size: 14px;
            margin-right: 16px;
        }
        .fa-check-circle {
            color: @green;
        }
    }

    .navigation {
        flex-grow: 0;
    }

    .scrollpane {
        top: @headerHeight;
        overflow-y: auto;
    }

    .chat .scrollpane {
        bottom: @controlsHeight;
    }

    .conversation {
        padding: 16px;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .message {

        padding: 0 96px 0 0;
        margin-bottom: 8px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }
        .sender, .time, .state {
            color: #707070;
            font-size: 12px;
        }
        .sender {
            line-height: 24px;
            font-weight: bold;
        }
        .body {
            padding: 8px 16px;
            background-color: #eee;
            border-radius: 8px;
            display: inline-block;
            text-align: left;
        }
        .time {
            position: absolute;
            top: 0;
            right: 0;
        }
        .state {
            display: none;
        }
        &.myself {
            text-align: right;
            padding: 0 48px 0 96px;
            .sender {
                display: none;
            }
            .body {
                color: #fff;
                background-color: #707070;
            }
            .state {
                display: block;
                position: absolute;
                top: 16px;
                right: 0;
            }
            .state.seen:before {
                color: @green;
                content: "\f00c\f00c"; // check
            }
        }
    }

    .controls {
        top: auto;
        height: @controlsHeight;
        border-top: 1px solid @borderColor;
        background-color: @backgroundColor;
        padding: 16px;

        textarea {
            padding: 8px;
            line-height: 16px;
            height: 48px;
        }
    }

    .members {
        overflow: hidden;
        white-space: nowrap;
        line-height: 24px;
        .member {
            display: inline-block;
            margin-right: 12px;
        }
    }

    .state {
        color: white;
        border: 1px solid white;
        margin-right: 4px;
        font-size: 12px;
        text-align: center;
        width: @stateSize;
        height: @stateSize;
        border-radius: 10px;
        padding-top: 3px;
        // colors
        &.online { background-color: @green; }
        &.absent { background-color: @orange; }
        &.busy { background-color: @red; }
        &.offline { color: #707070; }
        // icon
        &.online:before { content: "\f00c"; } // check
        &.absent:before { content: "\f017"; } // clock
        &.busy:before { content: "\f068"; } // minus
        &.offline:before { content: ""; }
    }

    .channels {
        .scrollpane {
            padding: 16px;
        }
        .channel {
            margin-bottom: 16px;
            line-height: 16px;
            position: relative;
            padding-left: 80px;
            .title {
                font-weight: bold;
                display: inline-block;
                margin-right: 8px;
            }
            .members {
                color: #777;
            }
            .join {
                position: absolute;
                left: 0;
                top: 8px;
            }
        }
    }

    .files ul {
        padding: 16px 0 0 16px;
        li {
            width: ~"calc(33.3333% - 16px)";
            height: 128px;
            background-size: cover;
            background-color: #eee;
            margin: 0 16px 16px 0;
            float: left;
        }
    }

    .history .header h2, .channels .header h2, .files .header h2 {
        line-height: 48px;
    }
}
