/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2017 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

@width: 320px;
@pictureSize: 48px;
@headerHeight: 80px;
@searchHeight: 40px;
@controlsHeight: 80px;
@footerHeight: 64px;
@stateSize: 20px;
@backgroundColor: #f5f5f5;
@borderColor: #ccc;

// state colors
@green: #529100;
@orange: #FB8C00;
@red: #D32F2F;
@blue: #3c73aa;
@lightblue: #2196F3;
@gray: #707070;
@black: #303030;

.ox-chat {

    &:not(.embedded) {
        display: flex;
        height: 100%;
    }

    &.columns {
        .chat-leftside {
            flex: 1;
            width: 100%;
            background-color: #fff;
        }
        .chat-rightside { display: none; }

        .header { display: none; }
        .chat .header { display: none; }
        .classic-toolbar-container { display: block; }

        &.open {
            .chat-leftside { display: none; }
            .chat-rightside { display: block; }
        }

        .message {
            padding: 0 48px 0 0;
            &.myself {
                padding-right: 0;
                padding-left: 64px;
            }
            .avatar { display: none; }
        }

        .resizebar { display: block; }

        .chats li:hover, .search-result li:hover { background-color: @backgroundColor; }
    }

    &:not(.columns) {
        width: auto!important;
    }

    .chat-leftside {
        flex: 0 0 auto;
        width: @width;
        background-color: @backgroundColor;
        border-right: 1px solid @borderColor;

        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .chat-rightside {
        flex: 1;
        position: relative;

        .title {
            .ellipsis();
        }

        .toolbar-title {
            flex: 1;
            padding: 8px;
            .ellipsis();
            line-height: 22px;
            font-weight: 600;
        }

        .scrollpane {
            flex: 1;
        }
    }

    .classic-toolbar {
        display: flex;
        justify-content: flex-end;

        button {
            background-size: cover;
        }
    }

    .header {

        height: @headerHeight;
        padding: 16px 16px 15px 16px;
        border-bottom: 1px solid @borderColor;
        background-color: @backgroundColor;
        position: relative;

        h2 {
            font-size: 15px;
            line-height: 48px;
            font-weight: normal;
            margin: -1px 0 0 0;
            padding: 0;
        }
    }

    .resizebar {
        position: absolute;
        top: 0;
        left: -3;
        bottom: 0;
        background: transparent;
        width: 5px;

        z-index: 10000;
        cursor: e-resize;
        cursor: ew-resize;
        cursor: col-resize;

        display: none;
    }

    .chat-leftside .header {

        .picture {
            .picture(@pictureSize, @pictureSize);
            margin-right: 16px;
            float: left;
        }

        .btn-circle {
            float: right;
            margin-left: 8px;
        }

        .name {
            font-size: 13px;
            font-weight: bold;
            line-height: @pictureSize;
            .ellipsis();
        }

        .state {
            position: absolute;
            left: @pictureSize;
            top: @pictureSize + 16px - @stateSize;
        }
    }

    .classic-toolbar-container {
        position: relative;
        height: 40px;
        display: none;
    }

    .search {
        background-color: white;
        height: @searchHeight;
        position: relative;
        border: 0;
        border-bottom: 1px solid @borderColor;

        input {
            border: 0;
            width: 100%;
            padding: 0 32px 0 16px;
            line-height: @searchHeight - 1;
            height: @searchHeight - 1;
        }

        button {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            color: @gray;
            padding: 9px;
        }

        &.closable button { display: block; }
    }

    .start-chat {
        .flex-center();
        .center { text-align: center; }
        .btn-link { color: @gray; }
    }

    .left-navigation {

        flex: 1;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding-bottom: 8px;

        &.show-search {
            .chats { display: none; }
            .search-result { display: block; }
        }
    }

    .navigation-actions {
        border-top: 1px solid @borderColor;

        .btn-nav {
            position: relative;
            border: 0;
            padding: 8px 16px 8px 40px;
            line-height: 16px;
            display: block;
            width: 100%;
            text-align: left;
            background-color: transparent;
            border-radius: 0;
            outline: 0;
            &:focus {
                background-color: #ddd;
            }
        }

        .btn-nav:focus {
            font-weight: bold;
        }

        .btn-icon {
            position: absolute;
            left: 16px;
        }
    }

    .scrollpane > ul, ul.members {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .chats, .search-result {
        flex-grow: 1;
        margin-bottom: 32px;
        padding: 0;
        list-style-type: none;

        li {
            border-bottom: 1px solid @borderColor;
            display: flex;
            cursor: pointer;

            &.no-results {
                cursor: initial;
                display: block;
                text-align: center;
                border: none;
                padding: 20px;

                &:hover { background-color: transparent; }
            }

            &:hover {
                background-color: white;
            }

            .chats-container {
                padding: 8px;
                flex: 1;
                overflow: hidden;

                .chats-row {
                    display: flex;
                    line-height: 24px;
                }
            }
        }

        .chat-avatar {
            margin: 8px;
        }

        .title {
            .ellipsis();
            font-weight: 600;
            flex: 1;
        }

        .sender, .delivery, .text-preview {
            color: @gray;
        }

        .sender {
            margin-right: 5px;
        }

        .last-modified {
            margin-left: 8px;
        }

        .delivery {
            margin-top: 5px;
            margin-right: 5px;
        }

        .text-preview {
            flex: 1;
            .ellipsis();

            .icon {
                margin-left: 0.3em;
                margin-right: 0.5em;
            }
        }

        .label {
            flex: 0 0 auto;
            display: none;
        }

        // .label {
        //     float: right;
        //     position: relative;
        //     margin-left: 4px;
        //     top: 1px;
        //     display: none;
        // }

        .unseen {
            .text-preview {
                font-weight: 600;
            }

            .label {
                display: block;
            }
        }

        .fa-check-circle {
            color: @green;
        }
    }

    .scrollpane {
        overflow-y: auto;
    }

    .initials {
        display: inline-block;
        background-color: #eee;
        .picture(40px, 40px);
        color: rgba(0, 0, 0, 0.60);
        font-weight: bold;
        .flex-center();
    }

    .chat-avatar {
        position: relative;
        .initials, .group{
            width: 48px;
            height: 48px;
        }
        .group {
            position: relative;
            border-radius: 50%;
            background-size: cover;
        }
        .state {
            position: absolute;
            top: 30px;
            left: 30px;
        }
        .fa-group, .fa-hashtag {
            color: rgba(0, 0, 0, 0.6);
            background-color: #eee;
            border-radius: 24px;
            font-size: 20px;
            width: 48px;
            height: 48px;
            .flex-center();
        }
    }

    .chat {
        display: flex;
        flex-direction: column;

        .header {
            display: flex;
            h2.small-line { line-height: 24px; }
            .chat-avatar {
                float: left;
                margin-right: 16px;
            }
            .btn-circle {
                margin-left: 16px;
            }
        }

        .scrollpane {
            position: relative;
            .paginate {
                height: 40px;
            }
        }
    }

    .conversation {
        padding: 16px;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .fa.delivery {
        font-size: 14px;

        &:before {
            content: "\f017"; // clock-o
        }
        &.server:before {
            content: "\f10c"; // circle-o
        }
        &.client:before {
            content: "\f05d"; // check-circle-o
        }
        &.seen:before {
            color: @lightblue;
            content: "\f058"; // check-circle
        }
    }

    .date {
        color:rgb(112, 112, 112);
        font-size: 12px;
        text-align: center;
        padding: 2px 10px 2px 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        width: fit-content;
        border-radius: 4px;
        border: 1px solid rgba(40,63,115, 0.2);
    }

    .message {
        padding: 0 48px 0 64px;
        margin-bottom: 8px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }
        .sender, .time {
            color: @gray;
            font-size: 12px;
            line-height: 24px;
        }
        .sender {
            font-weight: bold;
        }
        &.text {
            .content {
                background-color: #eee;
                border-radius: 8px;
                display: inline-block;
                padding: 8px 16px;
            }
        }
        .foot {
            float: right;
            margin: -2px -6px -7px 0px;

            > * { display: inline-block; }
        }
        .state, .delivery {
            display: none;
        }
        .initials {
            position: absolute;
            top: 22px;
            left: 8px;
        }
        &.highlight .content {
            animation-name: highlightMessage;
            animation-duration: 3s;
        }
        &.myself {
            text-align: right;
            padding: 0 0 0 128px;

            .sender {
                display: none;
            }
            .time, .delivery {
                color: #eee;;
            }
            &.text .content {
                color: #fff;
                background-color: @gray;
            }
            .body {
                text-align: left;
            }
            .delivery {
                margin-left: 5px;
                display: inline-block;
            }
            &.highlight .content{
                animation-name: highlightOwnMessage;
            }
        }
        &.image, &.file {
            margin: 0 64px 0 0;

            &.myself {
                margin: 0 0 0 64px;
            }

            img {
                border: 0;
                max-width: 100%;
                max-height: 480px;
                border-radius: 8px;
            }

            .foot {
                margin-right: 2px;
                margin-top: 1px;
                float: none;

                .time, .delivery {
                    color: @black;
                }
            }
        }
        &.file {
            .body {
                display: inline-block;
                background-color: #eee;
                text-align: center;
                min-width: 100px;
                min-height: 28px;
                border-radius: 8px;
                padding: 4px 8px;
            }

            &.myself .body {
                color: #fff;
                background-color: @gray;
            }

            .icon { margin-right: 0.5em; }
            .download { margin-left: 0.5em; }

            &.myself .download {
                color: lighten(@lightblue, 10%);
            }
        }
        &.system {
            padding: 0 12px;
            margin-bottom: 16px;
            .body {
                color: #707070;
                text-align: center;
            }
            .name {
                font-weight: 500;
                color: @black;
            }
            .delivery, .time {
                display: none;
            }
        }
    }

    .icon{
        &:before { content: "\f016"; } // file-o
        &.pdf:before { content: "\f1c1"; color: #C01E07; } // file-pdf-o
        &.doc:before { content: '\f0f6'; color: #376CB8; }  // fa-file-text-o
        &.xls:before { content: '\f0ce'; color: #26935D; }  // fa-table
        &.ppt:before { content: '\f022'; color: #F4502A; }  // fa-list-alt
        &.zip:before { content: '\f187'; color: #FF940A; }  // fa-archive
        &.svg:before { content: '\f1c9'; color: #F4502A; }  // fa-file-code-o
        &.image:before { content: "\f1c5"; } // file-image-o
    }

    .controls, .footer {
        top: auto;
        border-top: 1px solid @borderColor;
        background-color: @backgroundColor;
        padding: 8px;
    }

    .footer {
        height: @footerHeight;
        text-align: right;
        .btn {
            margin-left: 8px;
        }
        .btn-primary {
            background-color: @gray;
            border-color: darken(@gray, 10%);
        }
    }

    .controls {
        position: relative;
        display: flex;
        align-items: center;
        height: @controlsHeight;

        textarea {
            flex: 1;
            padding: 8px;
            line-height: 16px;
            height: 100%;
        }

        button {
            margin-left: 8px;
        }

        .jump-down {
            position: absolute;
            top: -60px;
            right: 8px;
            background-color: white;

            .badge {
                position: absolute;
                top: auto;
                bottom: -3px;
                right: -2px;
                background-color: @notification-icon-background;

                &:empty { display: none; }
            }
        }
    }

    .members {
        overflow: hidden;
        overflow-x: auto;
        white-space: nowrap;
        line-height: 24px;
        li { display: inline-block; }
    }

    .user-badge {
        border: 0;
        text-align: left;
        margin-right: 8px;
        max-width: 200px;
        padding: 0 8px 0 2px;
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.05);
        outline: 0;
        .ellipsis();
        &:focus, &:hover {
            color: white;
            background-color: #707070;
            .state {
                border-color: rgba(0, 0, 0, 0.20);
            }
        }
        .state {
            margin: 2px 4px 2px 0;
        }
    }

    .state {
        color: white;
        border: 1px solid white;
        margin-right: 4px;
        font-size: 12px;
        text-align: center;
        width: @stateSize;
        height: @stateSize;
        border-radius: 10px;
        padding-top: 3px;
        // small variant
        &.small {
            width: 18px;
            height: 18px;
            font-size: 12px;
            line-height: 16px;
            padding-top: 0;
        }
        // colors
        &.online { background-color: @green; }
        &.absent { background-color: @orange; }
        &.busy { background-color: @red; }
        &.offline { background-color: @gray; }
        // icon
        &.online:before { content: "\f00c"; } // check
        &.absent:before { content: "\f017"; } // clock
        &.busy:before { content: "\f068"; } // minus
        &.offline:before { content: "\f00d"; color: #eee; }
    }

    .channel-list {
        display: flex;
        flex-direction: column;

        .scrollpane {
            padding: 16px;
        }
        .channel {
            position: relative;
            line-height: 16px;
            padding: 11px 80px 13px 64px;
            margin-bottom: 8px;
            .chat-avatar {
                position: absolute;
                left: 0;
                top: 4px;
            }
            .title {
                font-weight: bold;
                display: inline-block;
                margin-right: 8px;
            }
            .members {
                color: #777;
                line-height: inherit;
                display: inline-block;
            }
            .btn-action {
                position: absolute;
                right: 0;
                top: 13px;
            }
        }
    }

    .history {
        display: flex;
        flex-direction: column;

        .scrollpane {
            padding: 16px;
            li {
                position: relative;
                line-height: 16px;
                padding: 11px 80px 13px 64px;
                margin-bottom: 8px;
            }
            .chat-avatar {
                position: absolute;
                left: 0;
                top: 4px;
            }
            .title {
                font-weight: bold;
                float: left;
                .ellipsis();
            }
            .date {
                color: @gray;
                float: right;
            }
            .body {
                color: @gray;
                clear: both;
                .ellipsis();
            }
            .btn-action {
                position: absolute;
                right: 0;
                top: 13px;
            }
        }
    }

    .files {
        display: flex;
        flex-direction: column;

        .scrollpane ul {
            padding: 16px 0 0 16px;
            li {
                width: 128px;
                height: 128px;
                margin: 0 16px 16px 0;
                float: left;
                button {
                    position: relative;
                    width: 100%;
                    height: 128px;
                    border: 0;
                    background-size: cover;
                    background-color: #eee;
                    .icon { font-size: 32px; }
                    .filename {
                        position: absolute;
                        bottom: 10;
                        .ellipsis();
                        width: calc(100% - 14px);
                    }
                }
            }
        }
    }

    .overlay {
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.90);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid transparent;
        outline: 0;
        .flex-center();
        img {
            max-width: 100%;
            max-height: 100%;
        }
        button {
            @size: 40px;
            border: 0;
            color: white;
            font-size: 24px;
            background-color: rgba(0, 0, 0, 0.50);
            width: @size;
            height: @size;
            line-height: @size;
            text-align: center;
            position: absolute;
            top: 50%;
            margin-top: -(@size / 2);
        }
        button[data-cmd="prev-file"] {
            left: 0;
        }
        button[data-cmd="next-file"] {
            right: 0;
        }
        button[data-cmd="close-file"] {
            top: 0;
            right: 0;
            margin-top: 0;
        }
    }

    .btn-action.join {
        color: @blue;
        border-color: @blue;
        background-color: fade(@blue, 5%);
    }

    .btn-circle {
        width: @pictureSize;
        height: @pictureSize;
        border-radius: @pictureSize / 2;
        text-align: center;
        background-color: transparent;
        color: @gray;
        &:focus, &:active {
            color: @lightblue;
            border: 2px solid @lightblue;
            outline: 0;
        }
    }

    .flex-grow {
        flex: 1;
        overflow: hidden;
    }

    .search-result {
        display: none;

        b.search-highlight { background-color: #FFD54F; }
    }

    .typing .name {
        color: #707070;
        font-size: 13px;
        margin: 8px 0;
    }

    .auth-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        > div {
            text-align: center;
        }
    }

    .reference-preview {
        padding: 8px;
        background-color: @backgroundColor;
        border-top: 1px solid @borderColor;
        display: flex;

        > * { flex: 1; overflow: hidden; }
        .close { flex: 0 0 auto; }

        .title, .body {
            .ellipsis();
        }

        .title {
            font-weight: bold;
        }
    }
}

.ox-chat-popup {

    .modal-header, .modal-footer {
        background-color: #f5f5f5;
        border-color: @borderColor;
    }

    .picture-upload-view .picture-uploader  {
        height: 150px;
        width: 150px;
    }

    .modal-footer, .modal-header {
        background-color: #fff;
    }

    .modal-footer > button {
        min-width: 80px;
    }
}

#io-ox-chat-icon {
    position: relative;

    .badge {
        position: absolute;
        bottom: 10px;
        right: 0px;

        &:empty { display: none; }
    }
}

@keyframes highlightMessage {
    0% {
        background-color: @lightblue;
    }
    100% {
        background-color: #eee;
    }
}

@keyframes highlightOwnMessage {
    0% {
        background-color: @lightblue;
    }
    100% {
        background-color: @gray;
    }
}
