/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2014 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author Alexander Quast <alexander.quast@open-xchange.com>
 */

.taptrap {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 100;
}

.io-ox-pagecontroller {

    &.page {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;

        &:not(.current):not(.inmotion) {
            display: none;
        }
        .content {
            margin: 0 8px;
        }
    }
}

/*
 *   Animation stuff
 */
.io-ox-core-animation {

    &.in, &.out{
                animation-duration: @pagecontroller-animation-duration;
        -webkit-animation-duration: @pagecontroller-animation-duration;
                animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
        -webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
                animation-timing-function: cubic-bezier(.1, .7, .1, 1);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
                backface-visibility: hidden;
                perspective: 1000;
    }

    &.fade.in {
        opacity: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-duration: 150ms;
        -webkit-animation-name: fadeIn;
    }

    &.fade.out {
        opacity: 0;
        -webkit-animation-timing-function: linear;
        -webkit-animation-duration: 150ms;
        -webkit-animation-name: fadeOut;
    }

    &.slideleft.in {
        -webkit-animation-name: slideLeftIn;
    }

    &.slideleft.out {
        -webkit-animation-name: slideLeftOut;
    }

    &.slideright.in {
        -webkit-animation-name: slideRightIn;
    }

    &.slideright.out {
        -webkit-animation-name: slideRightOut;
    }

    &.slideup.in {
        -webkit-animation-name: slideUpIn;
    }

    &.slideup.out {
        -webkit-animation-name: slideUpOut;
    }

    &.slidedown.in {
        -webkit-animation-name: slideDownIn;
    }

    &.slidedown.out {
        -webkit-animation-name: slideDownOut;
    }


}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes slideLeftIn {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        -webkit-box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2);
    }
    100% {
        -webkit-transform: translate3d(0 ,0, 0);
        -webkit-box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.02);
    }
}

@-webkit-keyframes slideLeftOut {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
    }
}


@-webkit-keyframes slideRightIn {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        -webkit-box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.02);

    }
}

@-webkit-keyframes slideRightOut {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2);
    }
    100% {
        -webkit-transform: translate3d(100%, 0, 0);
        -webkit-box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.02);
    }
}

@-webkit-keyframes slideUpIn {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);

    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);

    }
}

@-webkit-keyframes slideUpOut {
    0% {
        -webkit-transform: translate3d(0, 0, 0);

    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);

    }
}

@-webkit-keyframes slideDownIn {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);

    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);

    }
}

@-webkit-keyframes slideDownOut {
    0% {
        -webkit-transform: translate3d(0, 0, 0);

    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);

    }
}
