Source: open-xchange-dynamic-theme
Section: non-free/web
Priority: optional
Maintainer: Viktor Pracht <viktor.pracht@open-xchange.com>
Build-Depends: debhelper (>= 10), cdbs (>= 0.4.53)
Standards-Version: 3.9.2

Package: open-xchange-dynamic-theme
Architecture: all
Depends: ${misc:Depends}, open-xchange-appsuite-manifest, nodejs (>= 0.10)
Description: Dynamic theme with colors read from ConfigCascade


