#appPassLoginInfo.login_info {
    padding: 10px;
}

#appPassLoginInfo .appPassword {
    font-family: monospace;
}

.appPasswords .appPermDiv {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
}

.appPasswords .appLoginDiv {
    width: 35%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.appPasswords .appListControls {
    width: 15%
}

.appPasswords .appDelete {
    float: right
}

.help-block.appHelpBlock {
    margin-bottom: 40px;
}
