{
    "extends": [
        "../.eslintrc"
    ],

    "env": {
        // adds all of the Mocha testing global variables.
        "mocha": true,
    },

    "rules": {
        "indent": [2, 4, {"SwitchCase": 1, "MemberExpression": "off" }],
        "no-unused-expressions": 0,
        "dot-notation": 0,
        "max-nested-callbacks": [2, 9]
    }
}
