#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

ifneq (,$(or $(filter noopt,$(DEB_BUILD_OPTIONS)),$(filter nostrip,$(DEB_BUILD_OPTIONS))))
	FLAGS += debug=1
endif

HTDOC := var/www/html

PKGNAME := $(strip $(shell egrep '^Source: ' debian/control | cut -f 2 -d ':'))
ROOT := $(CURDIR)/debian/$(PKGNAME)

override_dh_auto_install:
	mkdir -p $(ROOT)-common/$(HTDOC)/
	cp -rv --preserve=mode htdoc/* $(ROOT)-common/$(HTDOC)/

	for pkg in $$(ls $(ROOT)-common/$(HTDOC)/appsuite/help/l10n/); do \
		PACKAGE_EXTENSION=$$(echo $${pkg} | tr '[:upper:]_' '[:lower:]-'); \
		mkdir -p $(ROOT)-$${PACKAGE_EXTENSION}/$(HTDOC)/appsuite/help/l10n; \
		mv $(ROOT)-common/$(HTDOC)/appsuite/help/l10n/$${pkg} $(ROOT)-$${PACKAGE_EXTENSION}/$(HTDOC)/appsuite/help/l10n; \
	done
	rm -rf $(ROOT)-common/$(HTDOC)/appsuite/help/l10n

%:
	dh $@
