/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2011 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author Daniel Dickhaus <daniel.dickhaus@open-xchange.com>
 */

.vgrid-cell.tasks {

    .vgrid-cell-checkbox { padding-top: 10px; }

    .end_date {
        color: #777;
        margin-left: 0.5em;
        font-weight: 300;
        display: inline-block;
        float: right;
    }

    .status {
        margin-left: 0.5em;
        float: right;
        index: 2;
        padding-bottom: 1px;
    }

    .priority {
        font-size: 16;
        font-weight: bold;
        padding: 0 0.5em 0 0.5em;
        display: inline-block;
        float: right;
        position: relative;
        overflow:visible;

        i.fa-star { display: inline-block; }
    }

    .title { font-weight: 500; }

    .private-flag {
        float: left;
        font-size: 18px;
        margin-right: 3px;
        color: #aaa;
    }

    .second-row {
        margin-top: 5px;
        height: 17px;
    }

    .participants {
        line-height: 1em;
        margin-right: 1em;
        float: left;
    }

    .progress {
        width: 100px;
        height: 13px;
        margin: 0 1em 0 0;
    }
}

.tasks-detailview {

    .io-ox-inline-links:first-child { margin: 0 0 26px 0; }

    header {
       margin-bottom: 26px;

       &:after {
            content: "\00A0";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
    }

    .info-panel {
        margin-left: 2em;
        display: inline;
    }

    .info-panel { 
        float: right;
    }
    .status, .end-date, .alarm-date, .task-progress {
    	float: right;
    	clear: both;
    }

    .attachments {
        font-family: @light-font-family;
        color: #aaa;
    }

    .attachments-container {
        margin-top: 0.8em;
        margin-bottom: 0.5em;
        font-weight: 300;

        .dropdown { margin-right: 1em; }
    }

    .attachment-item {
        color: #333;
        word-break: break-all;
    }

    .task-details { margin: 1em 0 1em 0; }

    .detail-item, .detail-label, .detail-value, .participants-table-colorsquare { display: inline-block; }

    .detail-label {
        cursor: default;
        color: #aaa;
        margin-right: 0.5em;
    }

    .detail-value { margin-right: 1em; }

    .private-flag {
        font-size: 20pt;
        margin-right: 12px;
        color: #aaa;
    }

    .participants-table-name { padding-right: 10px; }

    .participants-table-colorsquare {
        width: 13px;
        height: 13px;
        margin-right: 5px;
    }

    .participants-table-confirmmessage { padding-left: 10px; }

    .task-participant { padding-bottom: 5px; }

    .priority {
        font-weight: bold;
        vertical-align: top;
        white-space: nowrap;
        .high {
            color: @task-priority;
        }
        .low {
            i:first-child { color: #888; }
            color: #ccc;
        }
    }
}

@media all and (max-width: 480px), all and (max-device-width: 480px) {

    .tasks-detailview {

        header { margin-bottom: 13px; }

        .detail-item, .detail-label, .detail-value, .participants-table-confirmmessage { display: block; }

        .detail-item { margin-bottom: 1.0em; }

        .detail-label { margin-bottom: 0; }

        .io-ox-inline-links:first-child {
            margin: 0;
            padding: 15px 0px;
        }

        .task-details { margin: 1em 0 0 0; }

        .participants-table-confirmmessage { padding-left: 0; }

        .attachments-container .dropdown { margin-top: 5px; }

        .info-panel { width: 100%; } //to push the title under the info panel, prevents long titles to be ripped apart

    }

    div.io-ox-tasks-edit.task-edit-wrapper.container.default-content-padding { padding-bottom: 40px; }

    .task-detail-container { padding: 13px 13px 0 13px; }
}
