/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2017 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Daniel Dickhaus <daniel.dickhaus@open-xchange.com>
 */

.alarms-view {
    .alarm-list {
        overflow-x: hidden;
        .alarm-list-item {
            padding-top: 5px;
            padding-bottom: 5px;

            &:first-child {
                padding-top: 10px;
            }
            &:hover {
                background-color: #eeeeee;
            }

            .alarm-action,.alarm-time {
                margin: 0;
            }
            .alarm-remove {
                width: 40px;
                margin: -5px 15px -5px 0;
                text-align: center;
                line-height: 40px;
                 &:hover,&:focus {
                    background-color: #cc0000;
                    color: #fff
                }
            }

            .row {
                line-height: 30px;
            }

            @media (max-width: 1024px) {
                .alarm-remove {
                    width: 28px;
                };
            }

            @media (max-width: @smartphone-breakpoint), (max-device-width: @smartphone-breakpoint) {
                .alarm-remove {
                    width: 20px;
                };
            }
        }
    }
}
