/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2014 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author Daniel Dickhaus <daniel.dickhaus@open-xchange.com>
 * @author Christoph Hellweg <christoph.hellweg@open-xchange.com>
 */

.participants-mini-view {
	.io-ox-label {
        font-size: 0.9em;
        padding: 1em 0 0.25em 0em;
        margin-bottom: 0.5em;
    }

    min-height: 2em;

    .group {
        border: none;
    }

    .status {

        position: absolute;
        margin-left: 4px;

        &.unconfirmed {
            color: #428BCA; /* blue */
        }

        &.accepted {
            color: #8EB360; /* green */
            i {
                opacity: 0.25;
            }
        }
        &.declined {
            color: #913F3F; /* red */
        }
        &.tentative {
            color: #c80; /* orange */
            i {
                opacity: 0.50;
            }
        }
    }

    .summary {
        float: right;
        display: inline-block;

        .status {
            position: relative;
            margin-right: 0.3em;
        }

        .countgroup {
            margin-right: 0.5em;
            cursor: pointer;

            &.badge {
                background-color: #fff;
                color: #000;
                border: 1px solid #888;
                margin: 0;
            }
        }
    }

    .participant-list {
        -webkit-column-width: 250px;
        -webkit-column-gap: 20px;
        -moz-column-width: 250px;
        -moz-column-gap: 20px;
        column-width: 250px;
        column-gap: 20px;

        .participant {
            line-height: 2em;
            position: relative; //needed so icons position correctly if participants are displayed in 2 columns
            width: 250px;
            margin: 0 20px 0em 0;
            cursor: pointer;

            .person {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 236px; //icons are 14px
                display: inline-block;

                &.accepted {
                    color: #799952;  /* green */
                }

                &.declined {
                    text-decoration: line-through; color: #913F3F;
                }
            }

            .comment {
                color: #888;
                white-space: normal;
                padding-left: 1em;
                line-height: 1.2em;
                margin-bottom: 0.5em;
            }
        }
    }
}
