/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

.addressbook-popup {

    .modal-header .form-group {
        margin: 8px 0 0 0;
    }

    .list-view {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: auto;
    }

    .list-item {
        line-height: 16px;
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .modal-body.error {
        color: #777;
        background-color: #eee;
        display: flex;
        align-items: center;
        text-align: center;
    }
}
