html, body {
    margin: 20px;
    margin-right: 30px;
    padding: 0px;
    width: 95%;
    height: 95%;
}
html {
    margin-top: 0;
}
body {
    background-color: #FFFFFF;
}
table, td {
    empty-cells: show;
}

table {
    width: 100%;

}

.outline, .outline th, .outline td {
    border: 1px solid black;
}

.icon {
    width: 20px;
}

.detail {
    empty-cells: show;
}
.content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    line-height: 1.5em;
    height: 1.6em;
}
.spacer {
    height: 40px;
}
.line {
    border-top: 1px solid black;
    height: 2px;
    border-width: 2px;
}
.line-big {
    border-top: 1px solid black;
    height: 5px;
    border-width: 5px;
}
.image {
    background-color: #000000;
    position: absolute;
}
.content, .content-title {
    padding-left: 7px;
    padding-right: 7px;
    font-weight : bold;
}
.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 1.5em;
    height: 1.6em;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;
    font-style: italic;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;
}
.content, .content-name {
    white-space: nowrap;
    padding-left: 7px;
    padding-right: 7px;
    font-weight : normal;
}
.mail-content {
    font-size: 9pt;
}