BEGIN
  requires: mail
END
<html>
	<head>
		<title>${data.subject}</title>
		<style>
			${templates.include( "infostore://70050" )}
		</style>
	</head>
	<body>
		<table cellpadding="0" cellspacing="0">
            <tr>
                <td colspan="2" class="title" id="subject">
                    ${data.subject}
                </td>
            </tr>
            <tr>
                <td colspan="2"
                    class="line-big">
                 </td>
            </tr>
            <tr>
                <td colspan="2">
                    &nbsp;
                </td>
            </tr>
            <tr class="content">
                <td class="content-title" id="title-from">
                    from:
                </td>
                <td class="content-name" id="name-from">
                    static
                </td>
            </tr>
            <tr class="content">
                <td class="content-title" id="title-to">
                    to:
                </td>
                <td class="content-name" id="name-to">
                    static
                </td>
            </tr>
            <tr class="content">
                <td class="content-title" id="title-cc">
                    cc:
                </td>
                <td class="content-name" id="name-cc">
                    static
                </td>
            </tr>
            <tr class="content">
                <td class="content-title" id="title-bcc">
                    bcc:
                </td>
                <td class="content-name" id="name-bcc">
                    static
                </td>
            </tr>
            <tr class="content">
                <td class="content-title" id="title-priority">
                    priority:
                </td>
                <td class="content-name" id="name-priority">
                	${data.priority}
                </td>
            </tr>
            <tr class="content">
                <td class="content-title" id="title-date">
                    date:
                </td>
                <td class="content-name" id="name-date">
                    ${sent_date}
                </td>
            </tr>
            <tr>
                <td colspan="2" class="line">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="2" class="mail-content" id="mail-content">
					static
                </td>
            </tr>
        </table>
	</body>
</html>