BEGIN
  requires: mail
END
<html>
    <head>
        <title>${data.subject}</title>
        <style>
            ${templates.include( "infostore://70050" )}
        </style>
    </head>
    <body>
        <table class="outline landscape">
            <tr id="col">
                <th id="" class="icon">&nbsp;</th>
                <th id="title-attachment" class="icon">&nbsp;</th>
                <th id="title-status" class="icon">&nbsp;</th>
                <th id="title-from">&nbsp;</th>
                <th id="title-subject">&nbsp;</th>
                <th id="title-date">&nbsp;</th>
                <th id="title-size">&nbsp;&nbsp;&nbsp;</th>
                <th id="title-tag">&nbsp;&nbsp;&nbsp;</th>
            </tr>
            <tr id="row">
                <td id="" class="icon">&nbsp;</td>
                <td id="content-attachment" class="icon">&nbsp;</td>
                <td id="content-status" class="icon">&nbsp;</td>
                <td id="content-from">&nbsp;</td>
                <td id="content-subject">&nbsp;</td>
                <td id="content-date">&nbsp;</td>
                <td id="content-size">&nbsp;</td>
                <td id="content-tag">&nbsp;</td>
            </tr>
        </table>
    </body>
</html>