/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2013 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

.inplace-reply {

    .subject {
        font-family: @light-font-family;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        margin: 0 0 7px 0;
        .ellipsis();
    }

    .recipients {
        color: #888;
        font-size: 13px;
        font-weight: 300;
        line-height: 15px;
        height: 30px;
        margin-bottom: 14px;
        overflow: hidden;
    }

    .editor {
        margin: 0;
    }
}
