-----BEGIN CERTIFICATE-----
MIIEsjCCApoCCQCxFbUZiEn4cjANBgkqhkiG9w0BAQsFADAbMRkwFwYDVQQDDBAq
Lmszcy5vcy5veHVpLmRlMB4XDTIwMDUwNzA4NDY1MVoXDTIwMDYwNjA4NDY1MVow
GzEZMBcGA1UEAwwQKi5rM3Mub3Mub3h1aS5kZTCCAiIwDQYJKoZIhvcNAQEBBQAD
ggIPADCCAgoCggIBAMuqNzfC90+w1tYKquNXIKVwt+0FC2LmtQOn1gRckWoFN/+I
MAxbAh8tVtxhbJGQ2XhLe6ASngolvbneAa7G0Xoxuq8r59smYIpwTc9849JjtjKj
WHMCMKP/91mykPFCUno90cpwmWjQmP5c4x4j6/6aEdfBnzJ95ks6FHN4fdekPSvI
0uEugSy9hQTP5FYRc0C/DxKhSH/70xff50JLnZwycb06OQacLp/u3NoKYhPHgRnZ
bELfREGADsVjRFNyDwCcyA+xp7wpVPJ1G/VNvmHoY0f99bm2x+fWNs2swDzKivyV
mwPxzXRf96xxTfDKFM/8+mcAVZ2QR0HGZDntLmF0LNF9frNjTMGmpwv74j9PB1t5
vVLe7QrtHfYEHHj4PFmZFGlRs6gM2xTiH+5u1yj1A5NvGEtv81bXfUCeWyUu3VcY
rQzSy2pL4sX93591RshZ3ajmOZEcyhC+5eC1IB7/O4YN3F6yaEhLSW/KNw3iHw/A
5MTq6cAhCzGTV4A/L/Svz5WoD8VFO5WNjgwDlysJzOnyCJ40oa3rDTelQ/E1bsvz
HZuMu1PrlIQ7CWodYCOt8MP5gba+uukg/vCLQf/xrfAJczyHOvT0Od1LNAnvjR6A
371BjqaFB6MbzOrEISiE/0mbJm3p4IwukpGnMMY59eGyH/HACQN0/laOhCBFAgMB
AAEwDQYJKoZIhvcNAQELBQADggIBAEI2kioMxJlE4kLN2bM2OEPiHSzVoY+vDNp5
JG2G2wNlFU7OsCG4C0Gc82NVTyNrhZvYJ4Z6M5rdXKP33u9v01pObSz7d+zWX0Ci
T3IcRbk2/jT1est2nocsoEKmvLj7QKc8kzbMsOmV8QreAwAA1ho9u3vxSGfDnSct
IU3s0Z6lwjxV39AQDcuHwwAGQMc0EKtQY0SfhDxb1IsSmIzJ92XpgsR1LSsT8B34
d8mCz2Zqt/5Bnl2C2B0ZxzFJmX3lwPx+Jt8BgNhL95VXNIMHBoH3MivLjW0LoNpZ
1GKIed/OM1Lzn89hhM4RuElrhhkoWezwDebw0VqwHj4uNir8+OQHISOMi6zOzQIv
LvsHKsUeLDMwBPAv1PLVJo260ZvrdvH61YaZfuQSx29pjdsG/yuOAhzvcIkP6daO
EoyE++gVUBBdtC9L2gqVvbA5oQFb+a0+e0ZUypmCN6C6N2NoG0IdiskSRnOHatGW
TMmGuQBKbs01sfeTXLIoVmA5MLU4MHbPdpn+eRTChhpKp1FTtRRIniwKpTJieTED
xMKrQaOqKQR2h7AvCdCHhyWRpM6XBu5Nqq0UPBDKw5bru60zBYr3SzfvZqu+PJvD
OPJhCt8jQ7OuYzUO8lRTamPnb0BwgZ8MY8l158rb5K6zyx/kJSdEqRMGpdHWZ8gV
TBrt+ZCz
-----END CERTIFICATE-----
