<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="google" value="notranslate">

    <link id="favicon" rel="shortcut icon" href="<%= base %>/apps/themes/default/favicon.ico" type="image/x-icon">
    <link href="<%= base %>/apps/themes/busy/busy.css" rel="stylesheet">
    <title>&hellip;</title>

</head>
<body>
</body>
</html>
