<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="google" value="notranslate">
        <meta name="robots" content="noindex, nofollow">
        <!-- windows 8 icon to place homescreen tile -->
        <meta id="win8Icon" name="msapplication-TileImage" content="">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link id="favicon" rel="shortcut icon" href="<%= base %>/apps/themes/default/favicon.ico" type="image/x-icon">
        <!-- iOS home screen icons -->
        <link id="icon57" rel="apple-touch-icon" href="">
        <link id="icon72" rel="apple-touch-icon" sizes="72x72" href="">
        <link id="icon76" rel="apple-touch-icon" sizes="76x76" href="">
        <link id="icon114" rel="apple-touch-icon" sizes="114x114" href="">
        <link id="icon120" rel="apple-touch-icon" sizes="120x120" href="">
        <link id="icon152" rel="apple-touch-icon" sizes="152x152" href="">
        <link id="icon167" rel="apple-touch-icon" sizes="167x167" href="">
        <link id="icon180" rel="apple-touch-icon" sizes="180x180" href="">
        <!-- Android home screen icons -->
        <link id="icon144" rel="icon" type="image/png" href="" sizes="144x144" />
        <link id="icon192" rel="icon" type="image/png" href="" sizes="192x192" />

        <link rel="stylesheet" href="<%= base %>/apps/themes/login/login.css">
        <style type="text/css">

            html, body { background-color: #fff; margin: 0; padding: 0; border: 0; }
            body { overflow: hidden; }

            #showstopper {
                position: relative;
                display: none;
                text-align: center;
                top: 50%;
                font-size: 16px;
            }

            #showstopper .reload {
                display: block;
                margin: 16px;
            }

            #showstopper .timeout, #showstopper .session, #showstopper .down { display: none; }

            .throbber {
                position: absolute;
                top: 50%;
                width: 100%;
                text-align: center;
                margin: -10px 0 -21px 0;
            }

            .throbber > div {
                width: 14px;
                height: 14px;
                background-color: #ccc;
                border-radius: 100%;
                display: inline-block;
                -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
                animation: bouncedelay 1.4s infinite ease-in-out;
                /* Prevent first frame from flickering when animation starts */
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
            }

            .throbber .bounce1 {
                -webkit-animation-delay: -0.32s;
                animation-delay: -0.32s;
            }

            .throbber .bounce2 {
                -webkit-animation-delay: -0.16s;
                animation-delay: -0.16s;
            }

            @-webkit-keyframes bouncedelay {
              0%, 80%, 100% { -webkit-transform: scale(0.0) }
              40% { -webkit-transform: scale(1.0) }
            }

            @keyframes bouncedelay {
              0%, 80%, 100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
              } 40% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
              }
            }
        </style>
        <meta id="bootstrap">
        <meta id="theme">
        <meta id="css">
        <meta id="custom">
        <meta id="code">
        <script>
          /* signin page */
          window.ox = { signin: true };
          /* fix broken URL */
          var path = location.pathname;
          if (/^\/\//.test(path)) {
            location.href = location.href.replace(path, path.replace(/^[/]*/, '/'));
          }

        </script>
    </head>
    <body class="unselectable">
        <!-- Visual overlays -->
        <div id="background-loader" class="busy" aria-hidden="true">
            <div class="throbber">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div id="showstopper">
                <div class="down"></div>
                <div class="timeout"></div>
                <div class="session"></div>
            </div>
        </div>
        <!-- Core Panel -->
        <div id="io-ox-core" class="abs unselectable" style="display: none">
            <div id="io-ox-appcontrol" style="display: none"></div>
            <!-- screens -->
            <div id="io-ox-screens" class="abs">
                <!-- window manager -->
                <div id="io-ox-windowmanager" class="abs" style="display: none">
                    <div id="io-ox-windowmanager-pane"></div>
                </div>
                <!-- empty desktop -->
                <div id="io-ox-desktop" class="abs"></div>
            </div>
            <!-- container for embeded windows, used to manage flexbox overflow-->
            <div id="io-ox-taskbar-container" role="region" class="abs">
                <!-- embedded windows -->
                <ul id="io-ox-taskbar"></ul>
            </div>
        </div>
        <!-- Login screen -->
        <div id="io-ox-login-screen" class="unselectable" style="display: block">
            <div id="io-ox-login-blocker" style="display: none"></div>
            <div id="io-ox-login-container" class="wallpaper">
                <header id="io-ox-login-header">
                    <div id="io-ox-login-toolbar"></div>
                </header>
                <div id="io-ox-login-content">
                    <div class="align-center col-sm-6 col-xs-12">
                        <div class="row">
                            <main id="io-ox-login-box" class="col-xs-12">
                                <div class="row">
                                    <div class="flex-column">
                                        <div id="box-form" class="col-xs-12">
                                            <div id="box-form-header" class="row"></div>
                                            <div id="box-form-body" class="row">
                                                <!-- login dialog; must be hard-coded this way, otherwise browsers won't inject credentials -->
                                                <form action="/appsuite/api/redirect" method="post" id="io-ox-login-form" target="store-credentials" novalidate>
                                                    <div class="col-xs-12">
                                                        <div class="row title">
                                                            <h1 id="login-title" class="col-xs-12"></h1>
                                                        </div>
                                                        <input type="hidden" name="location" value="">
                                                        <div class="row help">
                                                            <div class="col-xs-12">
                                                                <p id="io-ox-login-help" class="help-block"></p>
                                                            </div>
                                                        </div>
                                                        <div class="row username">
                                                            <div class="form-group col-xs-12">
                                                                <label for="io-ox-login-username" data-i18n="User name">User name</label>
                                                                <input type="email" id="io-ox-login-username" name="username" class="form-control" maxlength="1000" autocorrect="off" autocapitalize="off" spellcheck="false" aria-required="true" data-i18n="User name" autocomplete="username">
                                                            </div>
                                                        </div>
                                                        <div class="row password">
                                                            <div class="form-group col-xs-12">
                                                                <label for="io-ox-login-password" data-i18n="Password">Password</label>
                                                                <div class="text-right" id="io-ox-forgot-password">
                                                                    <a href="#" target="_blank" data-i18n="Forgot your password?">Forgot your password?</a>
                                                                </div>
                                                                <input type="password" id="io-ox-login-password" name="password" class="form-control" maxlength="1000" autocorrect="off" autocapitalize="off" aria-required="true" data-i18n="Password" autocomplete="current-password">
                                                            </div>
                                                        </div>
                                                        <div class="row password-retype">
                                                            <div class="form-group col-xs-12">
                                                                <label for="io-ox-retype-password" class="sr-only" data-i18n="Confirm new password"></label>
                                                                <input type="password" id="io-ox-retype-password" name="password2" class="form-control" maxlength="1000" autocorrect="off" autocapitalize="off" aria-required="true" data-i18n-attr="placeholder" autocomplete="new-password">
                                                            </div>
                                                        </div>
                                                        <div class="row options">
                                                            <div class="col-sm-6 col-xs-12" id="io-ox-login-store">
                                                                <div class="checkbox custom">
                                                                    <label for="io-ox-login-store-box" aria-label="Stay signed in" data-i18n="Stay signed in" data-i18n-attr="label,aria-label">
                                                                        <input type="checkbox" class="sr-only" id="io-ox-login-store-box" checked="checked" name="staySignedIn" value="1">
                                                                        <i class="toggle" aria-hidden="true"></i>
                                                                        Stay signed in
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Feedback area -->
                                                        <div class="row feedback">
                                                            <div class="col-xs-12" id="io-ox-login-feedback"></div>
                                                        </div>
                                                        <div class="row button">
                                                            <div class="form-group col-xs-12">
                                                                <button type="submit" name="signin" id="io-ox-login-button" class="btn btn-primary form-control"></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>

                                                <form action="/appsuite/api/share/reset/password" method="get" id="io-ox-password-forget-form" style="display:none;" novalidate>
                                                    <div class="col-xs-12">
                                                        <div class="row help">
                                                            <div class="col-xs-12">
                                                                <p class="help-block"></p>
                                                            </div>
                                                        </div>
                                                        <div class="row email">
                                                            <div class="form-group col-xs-12">
                                                                <label for="io-ox-login-restoremail" class="sr-only" data-i18n="Email">Email</label>
                                                                <input type="email" id="io-ox-login-restoremail" name="restoremail" class="form-control" maxlength="1000" autocorrect="off" autocapitalize="off" spellcheck="false" aria-required="true" placeholder="Email" data-i18n="Email address" data-i18n-attr="placeholder">
                                                            </div>
                                                        </div>
                                                        <div class="row button">
                                                            <div class="col-sm-6 col-xs-12 text-left" id="io-ox-backtosignin">
                                                                <a href="#" target="_blank" data-i18n="Back to sign in">Back to sign in</a>
                                                            </div>
                                                            <div class="form-group col-sm-6 col-xs-12">
                                                                <button type="submit" name="resetpassword" id="io-ox-resetpassword-button" class="btn btn-primary form-control"></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    <div id="io-ox-information-message"></div>
                                </div>
                                </div>
                            </main>
                        </div>
                    </div>
                </div>
                <footer id="io-ox-login-footer"></footer>
            </div>
        </div>
        <!-- offline notifier -->
        <div role="complementary">
            <div id="io-ox-offline" style="bottom: -41px; display: none;"></div>
        <!-- screenreader notifier -->
            <div id="io-ox-alert-screenreader" role="alert" aria-live="polite" class="sr-only">
                <span id="sr-alert-text"></span>
            </div>
        </div>

        <div id="tmp" style="display: none;">
            <iframe src="javascript:false" name="store-credentials" width="0" height="0" tabindex="-1" title="empty" style="display:none"></iframe>
        </div>
        <script>
            /* inject correct language here at the very start manually*/
            var staticGt = (function () {
                var messages = {
                    'Connection error': {
                        de: 'Verbindungsfehler',
                        es: 'Error de conexión',
                        fr: 'Erreur de connexion',
                        it: 'Errore di connessione',
                        ja: '接続エラー',
                        nl: 'Verbindingsfout'
                    },
                    'The service is not available right now.': {
                        de: 'Der Dienst ist zurzeit nicht verfügbar.',
                        es: 'El servicio no está disponible en estos momentos.',
                        fr: 'Le service n\'est pas disponible actuellement.',
                        it: 'Il servizio non è disponibile in questo momento.',
                        ja: '現在サービスを利用できません。',
                        nl: 'De dienst is nu niet benaderbaar.'
                    },
                    'Retry': {
                        de: 'Erneut versuchen',
                        es: 'Reintentar',
                        fr: 'Réessayer',
                        it: 'Ritenta',
                        ja: '再試行',
                        nl: 'Opnieuw proberen'
                    },
                    'Connection timed out. Please try reloading the page.': {
                        de: 'Zeitüberschreitung bei der Verbindung. Bitte laden Sie die Seite erneut.',
                        es: 'Conexión caducada. Por favor, pruebe a cargar de nuevo la página.',
                        fr: 'Délai de la connexion dépassé. Veuillez recharger la page.',
                        it: 'Connessione scaduta. Prova a ricaricare la pagina.',
                        ja: '接続がタイムアウトです。ページをもう一度読み込んでください。',
                        nl: 'Verbindingsfout (time-out). Probeer de pagina opnieuw te laden.'
                    },
                    'Reload': {
                        de: 'Neu laden',
                        es: 'Recargar',
                        fr: 'Recharger',
                        it: 'Ricarica',
                        ja: '再読み込み',
                        nl: 'Herladen'
                    },
                    'Something went wrong. Please close this browser tab and try again.': {
                        de: 'Es gab einen Fehler. Bitte schließen Sie dieses Browser-Tab und versuchen es erneut.',
                        es: 'Algo ha ido mal. Por favor, cierre esta pestaña del navegador e inténtelo de nuevo.',
                        fr: 'Quelque chose s\'est mal passé. Veuillez fermer votre onglet de navigateur et réessayer.',
                        it: 'Qualcosa è andato storto. Chiudi questa scheda del browser e prova ancora.',
                        ja: 'エラーが発生しました。このブラウザタブを閉じて、もう一度やり直してください。',
                        nl: 'Er is iets mis gegaan.Sluit alstublieft dit tabblad en probeer het opnieuw.'
                    }
                };
                return function gt(str) {
                    var language = (ox.locale || navigator.language || navigator.userLanguage).substr(0, 2);
                    if (!messages[str]) return str;
                    return messages[str][language] || str;
                };
            }());

            document.querySelector('#showstopper .down').innerHTML = '<span><b>' + staticGt('Connection error') + '</b></span><br><span>' + staticGt('The service is not available right now.') + '</span><br><a href="#" class="reload">' + staticGt('Retry') + '</a>';
            document.querySelector('#showstopper .timeout').innerHTML = '<span>' + staticGt('Connection timed out. Please try reloading the page.') + '</span><br><a href="#" class="reload">' + staticGt('Reload') + '</a>';
            document.querySelector('#showstopper .session').innerHTML = '<span>' + staticGt('Something went wrong. Please close this browser tab and try again.') +'</span>';
        </script>
        <script src="<%= base %>/boot.js"></script>
        <noscript>
            <p class="noscript">This app uses JavaScript. Your browser either doesn't support JavaScript or you have it turned off. To use this app please use a JavaScript enabled browser.</p>
        <!-- see bug #27608 and #26722 -->
        </noscript>
        <script src="<%= base %>/precore.js" defer="defer"></script>
    </body>
</html>
