.ray.done h1 {
    font-size: 16px;
    font-weight: normal;
}

/*.ray.done {
    padding: 5px;
    background-color: #eee;
    -webkit-border-radius: 12px; 
       -moz-border-radius: 12px; 
            border-radius: 12px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}*/
