.io-ox-halo {
    font-family: 'Droid Serif', 'Times New Roman', georgia, serif;
    font-size: 16px;
    line-height: 1.2em;
}

.io-ox-halo h1 {
    font-size: 24px;
    font-weight: normal;
}

.io-ox-halo h2 {
    font-size: 18px;
}