@appcontrol-height: 64px;

@launcher-fg: #666;
@launcher-bg: #f5f5f5;
@launcher-fg-hover: #fff;
@launcher-bg-hover: @brand-primary;

@launcher-size: 84px;
@launcher-vertical-amount: 3;
@launcher-spacing: 2px;

@quicklaunch-width: @appcontrol-height;
// adjust positions of top-bar and screens
#io-ox-core {
    #io-ox-topbar { display: none; }
    #io-ox-screens { top: @appcontrol-height; }
}

// less height on smaller screens; desktop-only
// typical maximized browser window on 1280x800 should run into this, therefore 640px
@media all and (max-height: 640px) {
    #io-ox-core {
        @appcontrol-height: 48px;
        #io-ox-topbar { top: @appcontrol-height; }
        #io-ox-screens { top: @appcontrol-height + 40; }
    }
}

#io-ox-appcontrol {
    .vertical-gradient(darken(@topbar-background, 15%), darken(@topbar-background, 12%));
    position: absolute;
    left: 0;
    right: 0;
    z-index: 12;
    color: #fff;
    height: @appcontrol-height;
    padding: 0;


    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    & > div {
        display: block;
    }

    #io-ox-top-logo-small {
        width: auto;
        float: none;
        img {
            height: 33%;
            margin: 16px;
        }
    }

    #io-ox-launcher {
        order: 1;
        flex: 0 1 auto;
        align-self: auto;
        min-width: 0;
        min-height: auto;
        button {
            position: relative;
            z-index: 2;
            height: @appcontrol-height;
            width: @appcontrol-height;
            display: inline-block;
            padding: 16px;
            border: 0;
            i { font-size: 28px; }
        }
    }

    &.open #io-ox-launcher button,
    #io-ox-launcher button:hover,
    #io-ox-launcher button:focus {
         background: white; color: @brand-primary; outline: 0;
    }

    #io-ox-quicklaunch {
        padding-left: 16px;
        order: 2;
        flex: 0 1 auto;
        align-self: auto;
        min-width: @quicklaunch-width;
        min-height: auto;
    }

    #io-ox-topsearch {
        margin-left: 64px;
        order: 3;
        flex: 1 1 auto;
    }
    #io-ox-toprightbar,
    #io-ox-toprightbar > ul,
    #io-ox-toprightbar > ul li,
    #io-ox-toprightbar > ul li a {
        display: inline-flex;
        align-items: center;
        height: 100%;
        margin: 0;
    }

    #io-ox-toprightbar {
        order: 4;
        flex: 0 1 auto;

        .launcher {
            a {
                padding: 16px;
                cursor: pointer;
                font-size: 18px;
                text-decoration: none;

                 &:hover, &:focus {
                    background: white;
                    outline: 0;
                }
            }
        }
    }
}

.open #io-ox-launchgrid {
    display: block;
    opacity: 1;
}

#io-ox-launchgrid {
    display: none;
    opacity: 0;

    position: absolute;
    background: white;
    box-shadow: 20px 0 100px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: opacity .367s cubic-bezier(0.1, 0.9, 0.2, 1);
    top: @appcontrol-height;

    .cflex {
        display: flex;
        flex-direction: row;
        align-items: left;
        vertical-align: top;
        flex-wrap: wrap;
        padding: @launcher-spacing;
        width: @launcher-vertical-amount * (@launcher-size + @launcher-spacing * 2) + @launcher-spacing * 2;
    }

    .lcell {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        margin: @launcher-spacing;
        height: @launcher-size;
        width: @launcher-size;

        background: @launcher-bg;

        cursor: pointer;

        .title {
            position: absolute;
            top: 75%;
            color: @launcher-fg;
            font-size: 11px;
            text-align: center;
        }
        .svgwrap {
            width: 57%;
            height: 100%;
        }
        svg {
            position: relative;
            top: -10px;
            height: 100%;
            width: 100%;
            overflow: visible;

            .stroke-c1 { stroke: @launcher-fg; }
            .fill-none { fill: none;   }
            .fill-c1   { fill: @launcher-fg;   }
        }
        &:focus, &:hover {
            svg .stroke-c1 { stroke: @launcher-fg-hover; }
            svg .fill-c1   { fill: @launcher-fg-hover;   }
        }
        &:focus, &:hover {
            background: @launcher-bg-hover;
            .title { color: white; }
        }
    }
}

#io-ox-launchgrid-overlay {
    z-index:11;
    display:none;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: @appcontrol-height;
    &.open { display:block; }
}

#io-ox-launchgrid-overlay-inner {
    position: absolute;
    display:none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}
