/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2020 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 *
 */

.presence {
    display: inline-block;
    line-height: 0;
    .icon {
        color: white;
        width: ~"calc(0.5rem + 8px)";
        height:~"calc(0.5rem + 8px)";
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        // prevents some artefact pixels to show up under the border, especially visible in firefox in the gab
        background-clip: content-box;
        svg {
            height: 12px;
            text { display: none; }
        }
    }
    &.dot {
        .icon {
            width: 10px;
            height: 10px;
            svg { display: none; }
        }
    }
    &.offline {
        .icon { background-color: #aaa; }
    }
    &.online {
        .icon { background-color: @presence-color-online; }
        svg .online { display: inline; }
    }
    &.busy {
        .icon { background-color: @presence-color-busy; }
        svg .busy { display: inline; }
    }
    &.absent {
        .icon { background-color: @presence-color-absent; }
        svg .absent { display: inline; }
    }

}

#io-ox-topbar-account-dropdown-icon > .dropdown-toggle > .presence {
    position: absolute;
    top: 36px;
    right: 0;
    .icon {
        border: 1px solid rgba(0, 0, 0, 0.6);
    }
}

#topbar-account-dropdown .offline {
     display: inline-block;
}

.list-view.show-contact-pictures, .vgrid-scrollpane {

    .list-item .presence {
        position: absolute;
        top: 1.25rem;
        left: 1.25rem;
    }
    &.show-text-preview .list-item .presence {
        top: 1.5rem;
        left: 1.5rem;
    }

    .presence.offline {
        display: none;
    }

    .presence .icon {
        border: 1px solid white;
        box-sizing: content-box;
    }

    .selected .presence .icon {
        border-color: @selected-unfocussed-background;
    }

    &.has-focus .selected .presence .icon {
        border-color: @selected-focussed-background;
    }
}

.participant-wrapper {
    .presence {
        position: absolute;
        top: 37px;
        left: 40px;
        .icon {
            border: 1px solid white;
            box-sizing: content-box;
        }
    }
    .presence.offline {
        display: none;
    }
}

.participantsrow .participant-wrapper .presence {
    left: 56px;
}

.freetime-view .participant-wrapper .presence {
    top: 18px;
    left: 23px;
}

