/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2020 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

:root {

    --primary-brand: #3f51b5;
    --primary-brand-bright: #e8eaf6;

    --primary-action: white;
    --primary-action-background: var(--primary-brand);

    --text: #333;
    --text-gray: #707070;
    --text-gray-hover: #505050;

    --selected: #333;
    --selected-focus: white;
    --selected-gray-focus: #ffffffc0;
    --selected-background: var(--primary-brand-bright);
    --selected-background-focus: var(--primary-brand);
    --selected-background-focus-hover: var(--primary-brand);
    --unselected-background-hover: #f5f5f5;

    --topbar-background: #ffffff20;
    --topbar-icon: #333;
    --topbar-search-background: white;
    --topbar-search-placeholder: #333;

    --link: var(--primary-brand);

    --folder-view-background: #ffffff20;
    --list-view-background: #ffffff20;
    --detail-view-background: #ffffff20;

    --folder-icon: var(--primary-brand);
    --folder-counter: var(--primary-brand);
    --folder-options-focus: var(--primary-brand);
}
