.multifactordevice {
     padding: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 3px;
}

.multifactordeviceSelectable:hover {
    border: 1px solid blue;
}

.multifactordevice.selected {
    border: 3px solid blue;
}

.multifactorDivLink {
    color: black;
    text-decoration: none !important;
    width: 100%;
}

.multifactorDivLink:focus {
    outline: none;
}

.multifactorDivLink:active {
    color: black;
}

.multifctorDivLink:link {
    color: black;
}

.multifactorDeviceTable {
    width: 100%;
    cursor: pointer;
}

.multifactorDeviceTable td {
    padding: 5px;
}

.multifactorDeviceTable .multifactorText {
    font-size: 1.5em;
    padding-left: 20px;
}

.multifactorDeviceTable .multifactorIcon {
    font-size: 2em;
    width: 50px;
    padding-right: 10px;
    text-align: center;
}

.multifactorDeviceTable .multifactorDetail {
    font-size: 1.2em;
}

.multifactorError {
    padding-top:20px;
    color: red;
}

.recoveryInput {
    margin-bottom: 20px;
    margin-right: 20px;
    width:40px;
    height:1.7em;
}

