.multifactordevice {
     padding: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 3px;
}

.multifactordeviceSelectable:hover {
    border: 1px solid blue;
}

.multifactordevice.selected {
    border: 3px solid blue;
}

.multifactorDivLink {
    color: black;
    text-decoration: none !important;
    width: 100%;
}

.multifactorDivLink:focus {
    outline: none;
}

.multifactorDivLink:active {
    color: black;
}

.multifctorDivLink:link {
    color: black;
}

.multifactorDeviceTable {
    width: 100%;
    cursor: pointer;
}

.multifactorDeviceTable td {
    padding: 5px;
}

.multifactorDeviceTable .multifactorText {
    font-weight:bold;
    padding-left: 20px;
    width: 50%
}

.multifactorDeviceTable .multifactorIcon {
    width: 50px;
    padding-right: 10px;
    text-align: center;
}

.multifactorDeviceTable .multifactorBackup {
    width: 50px;
    padding-right: 10px;
    text-align: center;
    color: #e0e0e0;
}

.multifactorDeviceTable .multifactorDetail {
    font-size: 1.2em;
    width: 30%
}

.multifactorDeviceTable .multifactorDelete {
    padding-top:10px;
    color: #aaa;
    float: right;
}

.multifactorDeviceTable .multifactorEdit {
    padding-top:10px;
    color: #aaa;
}

.multifactorError {
    padding-top:20px;
    color: red;
}

.recoveryInput {
    margin-top: 10px;
    margin-right: 20px;
    width:70px;
    height:2em;
    padding:5px;
    font-weight:bold;
    text-align:center;
}

.hidden {
    display: none;
}

.multifactorAuthDiv input {
    font-weight: bold;
}

.newSMS {
    color: red;
}

.mfInputError {
    color: red;
}


