/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2020 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

.switchboard-actions {
    margin: 24px 0 0 0;
    button {
        font-size: 13px;
        line-height: 24px;
        padding: 0;
        margin: 0 24px 0 0;
    }
    i.fa {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid fade(@link-color, 40%);
        background-color: fade(@link-color, 4%);
        color: @link-color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        margin: 0 auto;
    }
    i.fa.fa-phone {
        font-size: 24px;
    }
    button:hover:not(:disabled), button:focus {
        outline: 0;
        text-decoration: none;
        i.fa {
            color: white;
            background-color: @link-color;
            border: 0;
        }
    }
    &.horizontal {
        button {
            display: flex;
            align-items: center;
            i.fa { margin-right: 8px; }
        }
    }
}

.wall {
    position: absolute;
    right: 48px;
    bottom: 16px;
    border-radius: 8px;
    background-color: #eee;
    box-shadow: 0 24px 48px 8px rgba(0, 0, 0, 0.5);
    padding: 16px;
    width: 480px;
    max-height: 560px;
    overflow-y: auto;
    &:empty { display: none; }
}

.wall-message {
    position: relative;
    padding: 0 0 0 56px;
    margin-bottom: 16px;
    &:last-child { margin-bottom: 0; }
    .contact-photo {
        position: absolute;
        top: 4px;
        left: 0;
    }
    .presence {
        position: absolute;
        top: 25px;
        left: 28px;
        .icon {
            border: 1px solid white;
            box-sizing: content-box;
        }
    }
    .sender {
        font-weight: bold;
        margin-bottom: 4px;
        text-transform: capitalize;
    }
    .content {
        background-color: white;
        border-radius: 8px;
        padding: 8px 16px;
    }
    .date {
        color: #707070;
        font-size: 12px;
        position: absolute;
        top: 3px;
        right: 24px;
    }
    .close {
        position: absolute;
        top: 0;
        right: 0;
    }
    a.reply {
        display: block;
        margin-top: 8px;
    }
}

.modal.call-dialog {
    .modal-dialog {
        width: 400px;
    }
    .modal-header, .modal-body {
        text-align: center;
    }
    .modal-title {
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        margin: 0;
    }
    .photo {
        margin: 16px auto;
        width: 80px;
        position: relative;
    }
    .contact-photo {
        width: 80px;
        height: 80px;
    }
    .presence {
        position: absolute;
        bottom: -2px;
        right: -2px;
        .icon {
            width: 20px;
            height: 20px;
            border: 2px solid white;
            box-sizing: content-box;
            border-radius: 50%;
            margin: 0;
        }
    }
    .name {
        font-size: 24px;
        line-height: 32px;
        font-weight: normal;
        text-transform: capitalize;
        margin-top: 2px;
    }
    .alert {
        background-color: #f5f5f5;
        border-color: #aaa;
        color: #555;
        margin: 0 16px;
        padding: 16px;
        margin-bottom: 0;
    }
    .modal-footer {
        display: flex;
        margin: 24px 0 40px 0;
        justify-content: space-between;
        text-align: center;
        border: 0;
        padding: 0;
        .button {
            display: flex;
            flex-direction: column;
        }
        .btn {
            font-size: 24px;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            margin-bottom: 8px;
            outline: 0;
        }
    }
}

.modal.outgoing-call {
    .callee {
        line-height: 16px;
        padding: 0 0 0 64px;
        position: relative;
        margin-bottom: 16px;
    }
    .contact-photo {
        position: absolute;
        top: 0;
        left: 0;
        width: 48px;
        height: 48px;
    }
    .presence {
        position: absolute;
        top: 32px;
        left: 32px;
        .icon {
            border: 1px solid white;
            box-sizing: content-box;
            border-radius: 50%;
        }
    }
    .name {
        font-weight: bold;
        text-transform: capitalize;
    }
}

/* general blueprint for contact photo */
.contact-photo {
    /* default size */
    width: 40px;
    height: 40px;
    /* photo as background image */
    background-color: rgba(0, 0, 0, 0.05);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* shape is circle */
    border-radius: 50%;
    /* for initials */
    color: rgba(0, 0, 0, 0.60);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conference-view {
    padding: 16px 0 16px 56px;
    position: relative;
    .conference-logo {
        position: absolute;
        top: 16px;
        left: 0;
    }
    .secondary-action {
        color: #707070;
        margin-right: 16px;
    }
    &.zoom .conference-logo {
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: white;
        background-color: #4290FF;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    &.zoom .fa-exclamation.conference-logo {
        color: #a00;
        background-color: #f0f0f0;
    }
    .pending {
        display: flex;
        align-items: center;
        height: 40px;
        i.fa-refresh {
            color: #555;
            margin-left: 16px;
        }
    }
}

.modal .conference-view {
    padding: 40px 0 0 0;
    .pending {
        justify-content: center;
    }
}

/* settings */
.conference-account {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px 64px 16px 16px;
    .name {
        font-weight: bold;
    }
    [data-action="remove"] {
        position: absolute;
        color: #707070;
        right: 16px;
        top: 50%;
        margin-top: -20px;
        height: 40px;
        width: 40px;
    }
}

.conference-account-view {
    margin-bottom: 24px;
}

/* some changes */
#io-ox-screens {

    .calendar-detail .time .label-default {
        color: #555;
        background-color: #eee;
    }

    .calendar-detail h1.subject {
        margin-top: 16px;
    }

    .calendar-detail .date-time-recurrence, .calendar-detail .location {
        margin: 4px 0;
    }

    .calendar-detail .note {
        margin: 16px 0;
    }

    .participants-view .participant-list .participant {
        margin: 0;
    }
}
