*/Rakefile
*/CNAME
*/examples
*/docs
*/.*.yml

mediaelement/demo
mediaelement/media
mediaelement/src
mediaelement/test
mediaelement/*.md
mediaelement/build/jquery.js
mediaelement/build/*.md
mediaelement/build/DO*

underscore/test
underscore/*.html
underscore/*.ico

bootstrap-datepicker/tests
bootstrap-datepicker/build

font-awesome/css
font-awesome/scss
font-awesome/src
font-awesome/*.md
font-awesome/Gem*

open-sans-fontface/*.css
open-sans-fontface/*.scss
open-sans-fontface/*.md
open-sans-fontface/font/B*
open-sans-fontface/font/E*
open-sans-fontface/font/I*
open-sans-fontface/font/LightItalic
open-sans-fontface/font/R*
open-sans-fontface/font/S*

backbone/test
backbone/index*

Backbone.ModelBinder/spec
Backbone.ModelBinder/sandbox
Backbone.ModelBinder/lib

backbone-validation/tests
backbone-validation/lib