mediaelement/demo
mediaelement/media
mediaelement/src
mediaelement/test
mediaelement/*.md
mediaelement/build/jquery.js
mediaelement/build/*.md
mediaelement/build/DO*

underscore/docs
underscore/test
underscore/Rakefile
underscore/CNAME
underscore/*.html
underscore/*.ico
underscore/.*.yml

bootstrap-datepicker/docs
bootstrap-datepicker/tests
bootstrap-datepicker/build

font-awesome/css
font-awesome/scss
font-awesome/src
font-awesome/*.yml
font-awesome/*.md
font-awesome/Gem*

open-sans-fontface/*.css
open-sans-fontface/*.scss
open-sans-fontface/*.md
open-sans-fontface/font/B*
open-sans-fontface/font/E*
open-sans-fontface/font/I*
open-sans-fontface/font/LightItalic
open-sans-fontface/font/R*
open-sans-fontface/font/S*