.share-view {

    min-height: 300px;

    .dropdown.inline {

        display: inline-block;

        a.disabled * {
            color: #888;
        }
    }

    p.description {
        margin-top: 7px;
    }

    p.link {
        margin: 22px 0;
        .ellipsis();
    }

    .participantsrow.empty {
        margin-bottom: 0;
    }

    .passwordgroup {
        margin-bottom: 7px;
    }

    .autocomplete-item {

        .contact-image {
            margin-right: 14px;
            display: inline-block;
            float: left;
            .picture(42px, 42px);
        }

        .recipient-name {
            font-weight: bold;
            .ellipsis();
        }

        .email {
            .ellipsis();
        }

    }
}

