.io-ox-app-settings {
    .selectable {
        text-align: left;
        margin-left: 60px;
        margin-right: 45px;

        div {
            margin-bottom: 3px;

            &:first-child {
                padding-top: 5px;
                margin-bottom: 9px;
            }
        }

        .permissions {
            color: #777;
        }

        .date {
            color: #777;
        }
    }

    .widget-settings-view {
        img {
            float: left;
            width: 50px;
        }

        .remove {
            max-height: 45px;
        }
    }
}
