.io-ox-calendar-settings {
    .favorite-view {
        .timezone-abbr {
            display: inline-block;
            width: 5em;
            text-align: left;
        }

        .offset {
            color: #777;
            display: inline-block;
            width: 6em;
            text-align: left;
        }

        @media all and (max-width: 480px), all and (max-device-width: 480px) {
            .timezone-abbr {
                width: 3.5em;
            }

            .offset {
                width: 5em;
            }

            button {
                margin-top: 7px;
            }
        }
    }
}
