*/*.gitattributes
*/*.gitignore
*/*.html
*/*.ico
*/*.json
*/*.jst
*/*.md
*/*.txt
*/*.yml
*/*/*-min.js
*/*/*.otf
*/*/*[.-]min.js
*/*/locales
*/*[.-]min.js
*/*LICENSE*
*/*min.map
*/.*.yml
*/.hg*
*/.jshintrc
*/.npmignore
*/benchmarks
*/buster.js
*/CNAME
*/demo
*/docs
*/examples
*/Gruntfile*
*/jquery-migrate.js
*/media
*/Rakefile
*/samples
*/site
*/spec
*/test*

backbone/index*

backbone-validation/lib
backbone-validation/src

bigscreen/src

bootstrap/dist
bootstrap/fonts
bootstrap-datepicker/build
bootstrap-datepicker/css
bootstrap-datepicker/less/datepicker.less

font-awesome/*
!font-awesome/less
!font-awesome/fonts

mediaelement/src
mediaelement/build/jquery.js
mediaelement/build/DO*

open-sans-fontface/*.css
open-sans-fontface/*.scss
open-sans-fontface/fonts/*
!open-sans-fontface/fonts/Light

requirejs/*
!requirejs/require.js
