Source: open-xchange-appsuite
Section: non-free/web
Priority: optional
Maintainer: Viktor Pracht <viktor.pracht@open-xchange.com>
Build-Depends: debhelper (>= 8.0.0), nodejs (>= 0.6.0)
Standards-Version: 3.9.2
Homepage: http://open-xchange.com
Vcs-Git: https://git.open-xchange.com/git/wd/frontend/web
Vcs-Browser: https://gitweb.open-xchange.com/?p=wd/frontend/web;a=summary

Package: open-xchange-appsuite
Architecture: all
Depends: ${misc:Depends}, apache2
Description: OX App Suite HTML5 client

Package: open-xchange-appsuite-manifest
Architecture: all
Depends: ${misc:Depends}, open-xchange-core, nodejs (>= 0.6.0) | open-xchange-halo, open-xchange-appsuite-l10n-en-us | open-xchange-appsuite-l10n
Replaces: open-xchange-appsuite-manifest (<< 7.2.1-0)
Conflicts: open-xchange-appsuite-manifest (<< 7.2.1-0)
Description: Manifest and apps included in the OX App Suite HTML5 client

Package: open-xchange-appsuite-dev
Architecture: all
Depends: ${misc:Depends}, nodejs (>= 0.6.0)
Description: SDK for the OX App Suite HTML5 client

## help ##
#Package: open-xchange-appsuite-help-## lang ##
#Architecture: all
#Depends: ${misc:Depends}
#Provides: open-xchange-appsuite-help
#Description: Online help for OX App Suite (## Lang ##)
## end ##

## l10n ##
#Package: open-xchange-appsuite-l10n-## lang ##
#Architecture: all
#Depends: ${misc:Depends}, open-xchange-l10n-## lang ##
#Provides: open-xchange-appsuite-l10n
#Breaks: open-xchange-l10n-## lang ## (<< 7.0.1)
#Description: Translation of the OX App Suite HTML5 client (## Lang ##)
## end ##
