#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

ifneq (,$(or $(filter noopt,$(DEB_BUILD_OPTIONS)),\
             $(filter nostrip,$(DEB_BUILD_OPTIONS))))
	FLAGS += debug=1
endif

BACKEND := debian/open-xchange-appsuite-manifest/opt/open-xchange/appsuite
FRONTEND := debian/open-xchange-appsuite/var/www/appsuite

override_dh_auto_install:
	mkdir -p $(FRONTEND)
	mkdir -p $(BACKEND)
	cp -r apps $(FRONTEND)
	cp -r manifests $(FRONTEND)
	cp core $(FRONTEND)
	cp signin $(FRONTEND)
	cp *.* $(FRONTEND)
	cp .htaccess $(FRONTEND)
	cp -r help $(FRONTEND)
	cp -r help-drive $(FRONTEND)
	for i in i18n/*.properties; do \
	    j=$${i#i18n/}; pkgname=$${j%.properties}; \
	    mkdir -p debian/$$pkgname/opt/open-xchange/etc/languages/appsuite/; \
	    cp $$i debian/$$pkgname/opt/open-xchange/etc/languages/appsuite/; \
	done
	for i in help/l10n/*; do \
	    lang=$${i#help/l10n/}; \
	    pkgname=open-xchange-appsuite-help-`echo $$lang | awk '{print tolower($$0)}' | sed "s/_/-/"`; \
	    mkdir -p "debian/$$pkgname/var/www/appsuite/help/"; \
	    mv "$(FRONTEND)/help/l10n/$$lang" "debian/$$pkgname/var/www/appsuite/help/"; \
	done
	for i in help-drive/l10n/*; do \
	    lang=$${i#help-drive/l10n/}; \
	    pkgname=open-xchange-appsuite-help-drive-`echo $$lang | awk '{print tolower($$0)}' | sed "s/_/-/"`; \
	    mkdir -p "debian/$$pkgname/var/www/appsuite/help-drive/"; \
	    mv "$(FRONTEND)/help-drive/l10n/$$lang" "debian/$$pkgname/var/www/appsuite/help-drive/"; \
	done
	cp -r $(FRONTEND)/apps $(BACKEND)/
	cp $(FRONTEND)/*.* $(BACKEND)/
	cp $(FRONTEND)/core $(BACKEND)/
	cp $(FRONTEND)/signin $(BACKEND)/
	cp -r $(FRONTEND)/manifests $(BACKEND)/
	mkdir -p debian/open-xchange-appsuite/opt/open-xchange/sbin
	sed -e "s:## cd ##:cd /var/www/appsuite:" bin/touch-appsuite > \
	    debian/open-xchange-appsuite/opt/open-xchange/sbin/touch-appsuite
	chmod +x debian/open-xchange-appsuite/opt/open-xchange/sbin/touch-appsuite
	mkdir -p debian/open-xchange-appsuite-help-common/var/www/appsuite/
	mv $(FRONTEND)/help debian/open-xchange-appsuite-help-common/var/www/appsuite/
	mkdir -p debian/open-xchange-appsuite-help-drive-common/var/www/appsuite/
	mv $(FRONTEND)/help-drive debian/open-xchange-appsuite-help-drive-common/var/www/appsuite/

override_dh_auto_clean:
	rm -rf $(FRONTEND) $(BACKEND) debian/open-xchange-appsuite-l10n-*/opt/open-xchange/appsuite \
	debian/open-xchange-appsuite-help-*/var/www/appsuite

%:
	dh $@
