.hidden{
	display: none;
}

.mandatory.hidden{
	display: block;
}

.hidden.filled{
	display: table-row;
}

.savebutton{
	float: right;
}

.contact-edit{
	overflow: auto;
}

 .change-pic-link {
	width: auto;
	float: right;
}

.picture{
	cursor: pointer;
}

input#image1 {
	width: 300px;
}

.contact-detail.edit .section {
	margin-bottom: 20px;
}

.contact-detail.edit .sectiontitle {
	margin: 25px 0 15px 0;
	padding-left: 137px;
	font-size: 1.25em;
	color: #888;
	font-family: OpenSans, Helvetica, Arial, sans-serif;
	font-weight: 200;
	line-height: 1.15em;
}

.contact-detail.edit .sectioncontent,
.contact-detail.edit .section-group {
	margin-bottom: 5px;
	overflow: hidden;
}

.contact-detail.edit input.input-large {
	width: 270px;
}


.contact-detail.edit div.input > input[type="text"]{
	font-size: 14px;
	width: 300px;
    color: black;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0.25em 0.5em 0.25em 0.5em;
    -webkit-appearance: 'none';
    -moz-appearance: 'none';
    border-radius: 0.25em;
    outline: 0; 	
}

.contact-detail.edit div.input.inline{
	display: inline;
}

.contact-detail.edit div.input.inline.nr0 input[type="text"] {
	width: 75px;
	margin-right: 10px;
	float: left;
}

.contact-detail.edit div.input.inline.nr1 input[type="text"] {
	width: 177px;
}

.contact-detail.edit .input > input[type="text"]:focus{
	border-color: transparent;
    box-shadow: 0px 0px 5px 1px @accent1;
}

.contact-detail.edit div.io-ox-label {
	margin-right: 37px;
	padding-top: 7px;
	width: 100px;
	float:left;
	text-align: right;
}

.contact-detail.edit div.io-ox-label label{
	display: inline;
}

.contact-detail.edit div.inlinelabel {
	margin-right: 37px;
	padding-top: 7px;
	width: 100px;
	float:left;
	text-align: right;
}

.contact-detail.edit div.inlinelabel div.io-ox-label{
	margin-right: 0px;
	padding-top: 0px;
	width: auto;
	display: inline;
	float: none;
}

.contact-detail.edit div.inlinelabel div.io-ox-label:nth-child(1) {
	margin-right: 5px;
}

.contact-detail.edit .section.formheader {
	height: 100px;
	border-bottom: 1px solid #eee;
}

.contact-detail.edit .section.formheader .picture{
	margin-right: 36px;
	float: left;
}

.contact-detail.edit .section.formheader span{
	display: block;
}

.contact-detail.edit .section.formheader .btn.btn-primary{
	float: right;
}

.contact-detail.edit #contactUploadImage, .contact-detail.edit #contactUploadImage input{
	width: 0px;
	height: 0px;
}

.contact-detail.edit a.switcher {
	padding-left: 137px;	
}
