.io-ox-calendar-settings {
    .favorite-view {
        .timezone-abbr {
            display: inline-block;
            width: 5em;
            text-align: left;
        }

        .offset {
            color: #777;
            display: inline-block;
            width: 6em;
            text-align: left;
        }
    }
}
