@selected-background: #A60000;
@selected-color: #0000;

@topbar-background: #ddd;
@topbar-background-alt: lighten(@topbar-background, 8%);

@topbar-launcher-color: #333;
@topbar-launcher-color-hover: #fff;
@topbar-launcher-color-active: #fff;
@topbar-launcher-background-hover: #f00;
@topbar-launcher-background-active: #A60000;
@topbar-progress-color: #444;

@window-head-top: #A60000;
@window-head-bottom: #A64040;

@window-title-color: #fff;
@toolbar-link-color: lighten(@toolbar, 20%);

@tile-color-0: #FF0000;
@tile-color-1: #FF4040;
@tile-color-2: #FF7373;
@tile-color-3: #A60000;
@tile-color-4: #A64040;

@tile-color-5: #A67373; 
@tile-color-6: #330000; 
@tile-color-7: #334040; 
@tile-color-8: #337373; 
@tile-color-9: #FFFFFF; 

@tile-hover: 8%;

@accent1-bright: red;
@accent1: red;
@accent1-dark: red;
@accent2: red;
@accent2-dark: red;



