.window-title .folderview-toggle {
    color: white;
}

.window-head .btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #640000;
  background-image: -moz-linear-gradient(top, red, #640000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(red), to(#640000));
  background-image: -webkit-linear-gradient(top, red, #640000);
  background-image: -o-linear-gradient(top, red, #640000);
  background-image: linear-gradient(to bottom, red, #640000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #640000 #640000 red;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #640000;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.window-head .btn-primary:hover,
.window-head .btn-primary:active,
.window-head .btn-primary.active,
.window-head .btn-primary.disabled,
.window-head .btn-primary[disabled] {
  color: #ffffff;
  background-color: #640000;
  *background-color: red;
}
.window-head .btn-primary:active,
.window-head .btn-primary.active {
  background-color: red \9;
}

.window-head .btn-inverse {
  color: #333;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: white;
  background-image: -moz-linear-gradient(top, #DDDDDD, #FFFFFF);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DDDDDD), to(#FFFFFF));
  background-image: -webkit-linear-gradient(top, #DDDDDD, #FFFFFF);
  background-image: -o-linear-gradient(top, #DDDDDD, #FFFFFF);
  background-image: linear-gradient(to bottom, #DDDDDD, #FFFFFF);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #FFFFFF #FFFFFF #FFFFFF;
  border-color: rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 1);
  *background-color: #FFFFFF;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.window-head .btn-inverse:hover,
.window-head .btn-inverse:active,
.window-head .btn-inverse.active,
.window-head .btn-inverse.disabled,
.window-head .btn-inverse[disabled] {
  background-color: #ffaaaa;
  background-image: -moz-linear-gradient(top, #FF4040, #FFAAAA);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF4040), to(#FFAAAA));
  background-image: -webkit-linear-gradient(top, #FF4040, #FFAAAA);
  background-image: -o-linear-gradient(top, #FF4040, #FFAAAA);
  background-image: linear-gradient(to bottom, #FF4040, #FFAAAA);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #FFAAAA #FFAAAA #FFAAAA;
  border-color: rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 1);
  *background-color: #FFAAAA;
}
.window-head .btn-inverse:active,
.window-head .btn-inverse.active {
  background-color: #FFAAAA \9;
}

#io-ox-topbar i[class^="icon-"] {
    color: red;
    font-size: 20px;
    text-decoration: none;
    line-height: 1em;
    position: relative;
    top: 4px;
}

#io-ox-topbar .hover i[class^="icon-"] {
    color: white;
}

#io-ox-topbar .label-info, #io-ox-topbar .badge-info {
    background-color: red;
}

#io-ox-topbar .hover .label-info, #io-ox-topbar .hover .badge-info {
    background-color: white;
    color: black;
}
