.linkedIn .actions a {
    margin-right : 10px;
}

.linkedIn .extension {
    margin-bottom: 20px;
}

.linkedIn .pastEngagements .current {
}

.linkedIn .position .title {
}

.linkedIn .position .companyName {
    font-size: 9pt;
}

.linkedIn .position .companyIndustry {
    display: none;
    font-size: 9pt;
}

.linkedIn .position .timeSpent {
    float: right;
    color: #AAA;
}

.linkedIn .position {
    margin: 0.5em 0 0.5em 0;
}

.linkedIn .details .name {
    font-size: 24px;
}

.linkedIn .details .headline {
    font-size: 16px;
    color: #AAA;
}

.linkedIn .extension {
    margin-bottom: 20px;
}