/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Richard Petersen <richard.petersen@open-xchange.com>
 */

.io-ox-calendar-color-picker {

    @rect-size: 20px;

    padding-top: 8px;

    input[type="radio"] {
        // display: none does NOT work; cannot receive focus
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }

    label {
        padding: 0;
        margin: 0;
        cursor: pointer;
    }

    .box:before {
        font-family: 'FontAwesome';
        content: '\00a0';
        width: @rect-size;
        height: @rect-size;
        display: inline-block;
        border-radius: @border-radius-small;
        text-align: center;
        font-size: 14px;
        line-height: @rect-size;
    }

    input[type="radio"]:focus + .box:before {
        box-shadow: 0 0 3px @link-color;
    }

    input[type="radio"]:checked + .box:before {
        content: '\f00c';
    }

    .color-label {
        width: @rect-size;
        height: @rect-size;
        border-radius: @border-radius-small;
        margin-right: 4px;
        margin-bottom: 4px;
    }

    .no-color .box {
        margin-right: 24px;
        &:before {
            border: 1px solid #888;
        }
    }
}