
@linkColor: @orange;
@linkOnDark: darken(@orange, 10%);

@toolbar: #08c;

@selectedBackground: @orange;
@selectedColor: @white;

@windowHeadTop: #111;
@windowHeadBottom: #222;
@foldertreeSidepanelBackground: #333;

@windowTitleColor: #fff;
@toolbarLinkColor: lighten(@toolbar, 20%);

@topbarBackground: #222;
@topbarBackgroundAlt: lighten(@topbarBackground, 8%);

@topbarLauncherColor: #aaa;
@topbarLauncherColor-hover: #fff;
@topbarLauncherColorActive: #fff;
@topbarLauncherBackgroundHover: #333;
@topbarLauncherBackgroundActive: #000;

@inlineLinkBorderColor: #eee;

@mailPriority: #fc0;
@mailAttachmentLinkColor: #333;
@mailAttachmentLinkColorHover: #000;

@list-highlight: #ffc;

