.deputy-list-view {

    height: 300px;
    width: 100%;
    padding-top: 8px;
    display: flex;
    flex-direction: column;

    .empty-message {
        text-align: center;
        font-size: 1rem;
        height: 100%;
        display: flex;
        padding: auto;
        flex-direction: column;
        justify-content: center;
    }

    li {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        height: 76px;
        width: 100%;

        .flex-item {
            display: flex;
        }

        .data-container>* {
            height: 30px;
        }

        .remove {
            color: #333;
            &:focus,&:hover {
                background-color: #767676;
                color: #fff;
            }
            svg.fasvg {
                height: 20px;
            }
        }

        .user-picture {
            height: 60px;
            min-width: 60px;
            margin-right: 16px;
            padding: 12px;
            border-radius: 50%;
            background-size: cover;
            background-color: #eee;
            color: rgba(0, 0, 0, 0.60);
            font-weight: bold;
            font-size: 24px;
            text-align: center;

            &.initials {
                &.gray { color: #000; }
                &.red { background-color: #FFA0A5; }
                &.orange { background-color: #FFA77B; }
                &.yellow { background-color: #FFD23A; }
                &.green { background-color: #BFDE45; }
                &.cyan { background-color: #99E4FB; }
                &.blue { background-color: #95CEFF; }
                &.purple { background-color: #E5B0FF; }
                &.pink { background-color: #FFC2DE; }
            }
        }
    }
}

.deputy-permissions-dialog {

    height: 250px;

    .select-container {
        display: flex;
        margin-top: 32px;

        label {
            margin: 0;
            line-height: initial;
            color: #333;
            font-size: 1rem;
            width: 150px;
        }

        select {
            width: 200px;
        }
    }

    .checkbox {
        margin-top: 16px;
        margin-left: 150px;
    }
}
