@inner: 128px;
@outerWidth: 138px;
@outer: 175px;
.files-iconview {
    position:absolute;
    overflow:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;

    .file-icon {
        position:relative;
        height:@outer;
        width:@outerWidth;
        max-height:@outer;
        max-width:@outerWidth;
        margin-left:30px;
        margin-top:30px;


        .wrap {
            position:relative;
            height:@inner;
            width:@outerWidth;
            max-height:@inner;
            max-width:@outerWidth;
            img {
                position:absolute;
                top:0;
                bottom:0;
                margin:auto
            }
            img.file-generic {
                opacity:0.2;
            }

            .file-mimetype {
                position:absolute;
                top:0;
                bottom:0;
                margin:auto;
                height:14px;
            }
        }

        .title {
            text-align:center;
            position:absolute;
            bottom:0;
            word-wrap:break-word;
            width:@inner;
            max-width:@inner;
            vertical-align:top;
            height:37px;
            display:block;
            font-size:14px;
        }
    }
}

.files-iconview {
    background: rgb(130,130,130); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(130,130,130,1) 0%, rgba(51,51,51,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(130,130,130,1)), color-stop(100%,rgba(51,51,51,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(130,130,130,1) 0%,rgba(51,51,51,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(130,130,130,1) 0%,rgba(51,51,51,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(130,130,130,1) 0%,rgba(51,51,51,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(130,130,130,1) 0%,rgba(51,51,51,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

.files-iconview .file-icon .wrap img {
    top: auto;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
}

.files-iconview .file-icon .title {
    text-shadow: 0 0 3px black;
    color: white;
}
