.DS_Store
*.sublime-*
.idea
*~
*.swp
*.kate-swp
/build
/dist
/tmp
/ox.pot
/debian/files
/debian/*/
/debian/*.debhelper.log
/debian/*.substvars
/node_modules
local.conf*
!local.conf.default.json
npm-debug.log
/bower_components
