.DS_Store
*.sublime-*
.idea
.env
.eslintcache
*~
*.swp
*.kate-swp
/build
/dist
/tmp
/ox.pot
/debian/files
/debian/*/
/debian/*.debhelper.log
/debian/*.substvars
node_modules/
local.conf*
!local.conf.default.json
npm-debug.log
package-lock.json
/bower_components
/nightwatch-reports
selenium-debug.log
ssl/
/.externalToolBuilders
/.settings
.project
yarn-error.log
.vsls.json
