# Our 7.10.6 Gitlab-runner has an older node version and throws 'The engine "node" is incompatible with this module' error using recent pdfjs versions.
# We’re not using pdfjs in a Node environment so it’s only an issue at build time.
ignore-engines true