.sectiontitle {
    font-size: 13px;
    color: #888;
    font-family: @lightFontFamily;
    font-weight: 200;
    cursor: pointer;
    border: none;
}

.sectionheader {
    margin-bottom: 20px;
}

//make datepicker readonly appear normal
.datepicker-day-field[readonly]{
	background-color: #ffffff
}
