@menu-background: #fff;
@menu-color: #1B7CBF;

@menu-color-active: #fff;
@menu-background-active: fade(#F59918, 80%);

@background: #fff;
@color: #000;

@selected-background: #758C9C;
@selected-color: #fff;

@status-background: #F0F0F0;
@status-color: #000;

@head-background: #f0f0f0;
@head-color: #476378;

@welcome-background: @menu-background;
@welcome-color: @menu-color;

@settings-background: @menu-background;
@settings-color: @menu-color;
