@menu-background: #fff;
@menu-color: #000;

@background: #fff;
@color: #000;

@selected-background: #78AAD6;
@selected-color: #fff;

@status-background: #F0F0F0;
@status-color: #000;

@head-background: @menu-background;
@head-color: #fff;

@welcome-background: @menu-background;
@welcome-color: @menu-color;

@settings-background: @menu-background;
@settings-color: @menu-color;
