@menu-background: #113573;

@menu-color-active: #fff;
@menu-background-active: #3F74D1;

@selected-background: #78AAD6;
@selected-color: #fff;

@head-background: #fff;
@head-color: #fff;

@welcome-background: #fff;
@welcome-color: #113573;
