@menu-background: #113573;
@menu-color: #fff;

@menu-color-active: #fff;
@menu-background-active: #3F74D1;

@background: #fff;
@color: #000;

@selected-background: #78AAD6;
@selected-color: #fff;

@status-background: #F0F0F0;
@status-color: #000;

@head-background: #fff;
@head-color: #fff;

@welcome-background: #fff;
@welcome-color: #113573;

@settings-background: @menu-background;
@settings-color: @menu-color;
