/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2011 Open-Xchange Inc., Tarrytown, NY, USA. info@open-xchange.com
 *
 * @author David Bauer <david.bauer@open-xchange.com>
 *
 */

.carousel {
    background-color: #000;
    margin-bottom: 0;
    z-index: 10000;

    .carousel-inner {

        .item {
            height: 100%;
            -webkit-backface-visibility: hidden; // for ipad!
            .transition(0.6s ease-in-out left);

            img, i {
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            i {
                width: 200px;
                font-size: 200px;
                height: 200px;
            }

            .carousel-caption {

                h4 { text-align: center; }

                .breadcrumb {
                    opacity: 0.8;
                    padding: 0;
                    margin: 0;
                    background: transparent;
                    text-align: center;
                    li {
                        text-shadow: none;
                        word-wrap: break-word;
                        &.active { display: inline; }
                        a { color: @link-on-dark; }
                        span.divider { color: #fff; }
                    }
                }
            }
        }
    }

    .carousel-control {
        cursor: pointer;
        i {
            cursor: pointer;
            font-size: 50px;
            &.icon-prev { left: 15px; }
            &.icon-next { right: 15px; }
        }
    }

    .closecarousel {
        position: absolute;
        bottom: 26px;
        right: 13px;
    }
}
