
.has-publications {
    width: 27px;
    height: 17px;
    float: left;
    padding-top: 7px;
    margin-right: 0.5em;
}

.file-details {
    max-width: 900px;
}

.file-details .title {
    margin-bottom: 0.5em;
}

.file-details .basicInfo em {
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    color: #aaa;
    font-style: normal;
    white-space: nowrap;
}

.file-details .basicInfo span {
    margin-left: 5px;
    margin-right: 5px;
}

.file-details .buttons {
    margin-bottom: 10px;
}

.file-details .buttons a {
    margin-right: 10px;
}

.file-details .version.current .versionLabel {
    font-weight: bold;
}

.file-details .version {
    padding: 5px 5px 10px 5px;
}

.file-details .version-comment {
    font-family: monospace, 'Courier new';
    white-space: pre-wrap;
}

.file-details .dragout {
    color: @color;
    cursor: pointer;
}

.file-details .dragout:focus,
.file-details .dragout:hover {
    text-decoration: none;
}

.file-details .title .editing {
    font-size: 30px;
    line-height: 37px;
    height: 37px;
    width: 100%;
    box-sizing: border-box; -moz-box-sizing: border-box;
}

.file-details .title .editing::-webkit-input-placeholder,
.file-details .title .editing::-moz-placeholder,
.file-details .title .editing::placeholder {
    font-size: 20px;
    color: #ccc;
}

.file-details .io-ox-inline-links {
    margin-top: 1em;
}
