
.file-details {
    max-width: 900px;
}

.file-details .title {
    margin-bottom: 0.25em;
}

.file-details .basicInfo em {
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    color: #aaa;
    font-style: normal;
}

.file-details .basicInfo span {
    margin-left: 5px;
    margin-right: 5px;
}

.file-details .buttons {
    margin-bottom: 10px;
}

.file-details .buttons a {
    margin-right: 10px;
}

.file-details .version.current .versionLabel {
    font-weight: bold;
}

.file-details .version {
    padding: 5px 5px 10px 5px;
    margin-bottom: 10px;
}

.file-details .version-comment {
    font-family: monospace, 'Courier new';
    white-space: pre-wrap;
}
